.input-range {
  --dif: calc(var(--max) - var(--min));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.2em;
  position: relative;
  width: 100%;

  & .label-row {
    grid-row: 2;
    grid-column: 1 / 3;

    input {
      min-width: 4em;
      border: 1px solid var(--color-border);
      border-radius: 3px;
    }
  }

  & .minmax-row {
    grid-row: 4;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
  }

  & .track-bg {
    grid-row: 3;
    grid-column: 1 / 3;
    background: linear-gradient(
      0deg,
      transparent 0 45%,
      var(--color-hover) 45% 55%,
      transparent 55% 100%
    );
    z-index: 1;
  }

  &.single::after {
    grid-column: 1 / 3;
    grid-row: 3;
    background: linear-gradient(
      0deg,
      transparent 0 45%,
      var(--color-primary) 45% 55%,
      transparent 55% 100%
    );
    content: '';
    z-index: 2;
    width: calc((var(--a) - var(--min)) / var(--dif) * (100% - 10px));
  }

  &.multi {
    & > .label-row {
      display: flex;
      justify-content: space-between;

      & > div {
        flex-grow: 1;
      }
    }

    &::before,
    &::after {
      grid-column: 1 / 3;
      grid-row: 3;
      background: linear-gradient(
        0deg,
        transparent 0 45%,
        var(--color-primary) 45% 55%,
        transparent 55% 100%
      );
      content: '';
      z-index: 2;
    }

    &::before {
      margin-left: calc(
        10px +
        (var(--a) - var(--min)) /
        var(--dif) *
        (100% - 10px)
      );
      width: calc((var(--b) - var(--a)) / var(--dif) * (100% - 10px));
    }

    &::after {
      margin-left: calc(
        10px +
        (var(--b) - var(--min)) /
        var(--dif) *
        (100% - 10px)
      );
      width: calc((var(--a) - var(--b)) / var(--dif) * (100% - 10px));
    }
  }

  & input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    grid-column: 1 / 3;
    grid-row: 3;
    z-index: 3;
    top: 0;
    left: 0;
    margin: 0;
    background: none;
    /* get rid of white Chrome background */
    pointer-events: none;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.input-range input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: none;
  /* get rid of Firefox track background */
}

.input-range input[type='range']::-moz-range-track {
  width: 100%;
  height: 100%;
  background: none;
  /* get rid of Firefox track background */
}

.input-range input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* get rid of Firefox thumb border */
  width: 20px;
  height: 20px;
  pointer-events: auto;
  cursor: pointer;
  border: 3px solid var(--color-border);
  border-radius: 50%;
  background-color: var(--color-primary);
}

.input-range input[type='range']::-moz-range-thumb {
  /* get rid of Firefox thumb border */
  width: 14px;
  height: 14px;
  /* get rid of Firefox corner rounding */
  pointer-events: auto;
  cursor: pointer;
  border: 3px solid var(--color-border);
  border-radius: 50%;
  background-color: var(--color-primary);
  box-shadow: none;
}
