.idea/
.vscode/
.env
.DS_Store
.sass-cache/
node_modules/*
public/css/.sass-cache/
public/js/build/
stats.json
now
now.json
env
workspaces/aga.json
workspaces/amfresh.json
workspaces/boparan.json
workspaces/cath.json
workspaces/costa.json
workspaces/dixonscpw.json
workspaces/dominos.json
workspaces/mapp.json
workspaces/shneame.json
workspaces/swinton.json
workspaces/tanaka.json
workspaces/under_armour.json
workspaces/wh.json
workspaces/xyz.json
workspaces/coles.json
workspaces/test.json
workspaces/brexit.json
workspaces/mb.json
workspaces/richersounds.json
workspaces/mns.json
workspaces/kfc_japan.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*
\.ebextensions/
