.idea/
.vscode/
.zed/
.env
.env.*
.DS_Store

env
# npm legacy files (replaced by pnpm)
package-lock.json
pnpm-lock.yaml
yarn.lock

# pnpm files
**/node_modules/
.pnpm-store/
.turbo/

resources
coverage

docs/*

**/*.pem
*.crt

.vercel
