.idea/
.vscode/
.env
.DS_Store
.sass-cache/
.vercel

env
package-lock.json
node_modules/*

public/css/.sass-cache/
public/workspaces/*
public/js/plugins/*
stats.json
docs/*

caddy_linux_amd64

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*
\.ebextensions/

public/js/*

*.pem
*.crt
*.json
!tests/*.json
!tests/**
!package.json
!jsdoc*.json
!codi.json
!.prettierrc.json
