<!DOCTYPE html>
<html lang="en">

<head 
  data-dir="${dir}"
  data-token=${token}
  data-login=${login}>
    <title>${title}</title>
    <link rel="icon" type="image/x-icon" href="${dir}/icons/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="${dir}/css/openlayers.css" />
    <link rel="stylesheet" href="${dir}/css/control.css" />
    <link rel="stylesheet" href="${dir}/views/_desktop.css" />
    <!--link rel="stylesheet" href="${dir}/api/provider/github?url=api.github.com/repos/GEOLYTIX/xyz/contents/public/views/desktop.css&content_type=text/css"-->

    <!-- <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script> -->
    <script src="${dir}/js/tabulator.min.js" defer></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script> -->
    <script src="${dir}/js/Chart.min.js" defer></script>

    <!-- <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js" defer></script> -->
    <script src="${dir}/js/ol.js" defer></script>
    <script src="${dir}/js/xyz_openlayers.js" defer></script>
    <script src="${dir}/views/_desktop.js" defer></script>
    <script src="${dir}/views/deutsch.js" defer></script>
    <!--script src="${dir}/api/provider/github?url=api.github.com/repos/GEOLYTIX/xyz/contents/public/views/desktop.js" defer></script>-->
</head>

<body>

  <div id="listviews">

    <div>

      <div>

        <div class="listview-title secondary-colour-bg">Ebenen</div>

        <div id="layers"></div>

      </div>

      <div>

        <div class="listview-title secondary-colour-bg">Orte</div>

        <button id="clear_locations" class="bold primary-colour">Leere Liste</button>

        <div id="locations"></div>

      </div>

    </div>

  </div>

  <div id="vertDivider"></div>

  <div id="Map" class="mapview map">

    <div id="mapButton" class="btn-column"></div>

    <div id="Attribution" class="attribution">
      <div id="ol-scale"></div>
      <a
        class="logo"
        target="_blank"
        href="https://geolytix.co.uk"
        style="background-image: url('https://geolytix.github.io/public/geolytix.svg');"></a>
    </div>

    <div id="tabview" style="display: none; max-height: 65px;">

      <div id="hozDivider"></div>

    </div>

  </div>

  <div id="modalOverlay"></div> 

</body>

</html>