<!DOCTYPE html>
<html lang="en">

<head data-dir="{{:dir}}">
    <title>{{:title}}</title>
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{:dir}}/css/openlayers.css" />
    <link rel="stylesheet" href="{{:dir}}/css/mobile.css" />

    <script src="{{:dir}}/js/build/xyz_openlayers.js" defer></script>
    <script src="{{:dir}}/views/desktop_draw.js" defer></script>
    <!-- <script type="application/javascript" src="https://cdn.jsdelivr.net/gh/GEOLYTIX/public@master/desktop_draw.js" defer></script> -->
    
</head>

<body>

    <div id="Map" class="mapview map" style="height: 100%"></div>

    <button id="Magic" style="
    position: absolute;
    top: 20px; 
    left: 20px;
    width: 75px;
    height: 75px;
    box-shadow: 1px 1px 2px #999999;
    border-radius: 100%;
    background-color: #fff;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://cdn.jsdelivr.net/gh/GEOLYTIX/public@master/wand.svg);"></button>

</body>

</html>