<!DOCTYPE html>
<html lang="en">

<head data-dir="{{:dir}}">
    <title>{{:title}}</title>
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-control" content="no-cache">
    <link rel="stylesheet" href="{{:dir}}/css/desktop.css" />
</head>

<body data-viewmode="desktop" data-nanoid={{:nanoid}} data-token={{:token}} {{:log}}>

    <div class="mod_container">

        <div id="Gazetteer" class="input_group" style="display: none">
            <input class="pane_shadow" type="text" required>
            <span class="bar"></span>
            <div class="loader"></div>
            <ul></ul>
        </div>

        <div class="scrolly">

            <div class="scrolly_track">
                <div class="scrolly_bar"></div>
            </div>

            <div class="module">
                <div class="title">Layers</div>
                <div id="locale"></div>
                <div id="layers" class="content"></div>
            </div>

            <div class="module">
                <div class="title">Locations</div>
                <div id="clear_locations" class="btn_text cursor">Clear all locations.</div>
                <div id="locations" class="content"></div>
            </div>

            <div class="scrolly_spacer"></div>

        </div>

    </div>

    <div class="map_container">

        <div id="Map" class="map" >
            <svg xmlns="w3.org/2000/svg" version="1.1" style="width:0; height:0">
                <defs>
                    <filter id='dropshadow'>
                        <feGaussianBlur in='SourceAlpha' stdDeviation='2' />
                        <feOffset dx='1' dy='1' result='offsetblur' />
                        <feMerge>
                            <feMergeNode />
                            <feMergeNode in='SourceGraphic' />
                        </feMerge>
                    </filter>
                </defs>
            </svg>
        </div>

        <div class="btn_column lv1 noselect">
            <button id="btnGazetteer" title="Open Gazetteer" style="display: none;">
                <i class="material-icons">search</i>
            </button>

            <button id="btnLocate" title="Current location" {{:btnLocate}}>
                <i class="material-icons">gps_not_fixed</i>
            </button>

            <button id="btnZoomIn">
                <i class="material-icons">add</i>
            </button>

            <button id="btnZoomOut">
                <i class="material-icons">remove</i>
            </button>

            <div id="btnDocumentation" title="Open Documentation" {{:btnDocumentation}}>
                <a href="{{:hrefDocumentation}}" target="_blank">
                    <i class="material-icons">school</i>
                </a>
            </div>

            <div id="btnLogin" title="{{:btnLogin_text}}" {{:btnLogin}}>
                <a href="{{:dir}}{{:btnLogin_path}}">
                    <i class="material-icons">{{:btnLogin_style}}</i>
                </a>
            </div>

            <div id="btnAdmin" title="Open account admin view" {{:btnAdmin}}>
                <a href="{{:dir}}/auth/user/admin" target="_blank">
                    <i class="material-icons">supervisor_account</i>
                </a>
            </div>

            <div id="btnWorkspace" title="Open workspace configuration view" {{:btnAdmin}}>
                <a href="{{:dir}}/workspace/admin" target="_blank">
                    <i class="material-icons">settings</i>
                </a>
            </div>
        </div>

        <div id="tableview" class="tableview">

            <div class="resize_bar"></div>

            <nav class="nav_bar"><ul></ul></nav>

            <div class="table"></div>

            <div class="btn_column lv0 noselect">
            
                <div style="margin-top: -10px;">
                    <i id="toggleTableview" class="material-icons">vertical_align_top</i>
                </div>
            
                <!-- <button>
                    <i class="material-icons">vpn_lock</i>
                </button>
            
                <button>
                    <i class="material-icons">beenhere</i>
                </button>
            
                <button>
                    <i class="material-icons">autorenew</i>
                </button>
            
                <button>
                    <i class="material-icons">save_alt</i>
                </button>
            
                <button>
                    <i class="material-icons">vertical_align_bottom</i>
                </button> -->
            
            </div>

        </div>

    </div>

    <div id="timeout_mask">Session expired.</div>

</body>

<script src="{{:dir}}/js/{{:bundle_js}}"></script>

</html>