<!DOCTYPE html>
<html lang="en">

<head data-dir="{{:dir}}">
    <title>{{:title}}</title>
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <script src="https://cdn.logrocket.com/LogRocket.min.js"></script> -->

    <link rel="stylesheet" href="{{:dir}}/css/{{:engine}}.css" />
    <link rel="stylesheet" href="{{:dir}}/css/desktop.css" />

    <link rel="stylesheet" href="{{:dir}}/codemirror/codemirror.css">
    <script src="{{:dir}}/codemirror/codemirror.js" defer></script>
    <script src="{{:dir}}/codemirror/javascript.js" defer></script>
    <script src="{{:dir}}/codemirror/jsonlint.js" defer></script>
    <script src="{{:dir}}/codemirror/lint.js" defer></script>
    <script src="{{:dir}}/codemirror/lintjson.js" defer></script>

    <script src="{{:dir}}/js/build/xyz_{{:engine}}.js" defer></script>
    <script src="{{:dir}}/views/desktop.js" defer></script>
</head>

<body
style="grid-template-columns: 333px 10px auto; grid-template-rows: 1fr 0;"
data-nanoid={{:nanoid}}
data-log={{:log}}
data-user={{:user}}
data-logrocket={{:logrocket}}
data-token={{:token}}>

    <div id="listviews" class="listviews">

        <div id="gazetteer"></div>

        <div class="scrolly">

            <div class="scrolly_track">
                <div class="scrolly_bar"></div>
            </div>

            <div class="listview">
                <div class="title">Layers</div>
                <div id="localeDropdown"></div>
                <div id="layers" class="content"></div>
            </div>

            <div class="listview">
                <div class="title">Locations</div>
                <div id="clear_locations" class="btn_text cursor">Clear all locations.</div>
                <div id="locations" class="content"></div>
            </div>

            <div class="scrolly_spacer"></div>

        </div>

    </div>

    <div id="vertDivider"></div>

    <div class="mapview">

        <div class="btn_column lv1 noselect desktop">

                    <button id="btnGazetteer" title="Open Gazetteer" style="display: none;"" class="icons-search xyz-icon3">  
                    </button>
        
                    <button id="btnLocate" title="Current location" style="display: none;" class="icons-gps-not-fixed xyz-icon3">
                    </button>
        
                    <button id="btnZoomIn" class="icons-add xyz-icon">
                    </button>
        
                    <button id="btnZoomOut" class="icons-remove xyz-icon">
                    </button>
        
                    <a id="btnDocumentation" title="Open Documentation" {{:btnDocumentation}}
                    class="icons-school xyz-icon2" href="{{:hrefDocumentation}}" target="_blank">       
                    </a>
                    
                    <a id="btnLogin" title="{{:btnLogin_text}}" {{:btnLogin}} class="icons-lock-open xyz-icon2" href="{{:dir}}{{:btnLogin_path}}">    
                    </a>
                    
                    <a id="btnAdmin" title="Open account admin view" {{:btnAdmin}}
                    class="icons-supervisor-account xyz-icon2" href="{{:dir}}/user/admin" target="_blank">
                    </a>
            
                    <button id="btnWorkspace" title="Open workspace configuration view" class="icons-settings xyz-icon" {{:btnEditor}}>
                    </button>            
        
                    <button id="btnLogRocket" title="Start a Log Rocket session to record possible bugs." class="icons-bug-report xyz-icon"{{:btnLogRocket}}>
                    </button>
        
        </div>

        <div id="Map" class="map" ></div>

    </div>

    <div id="dataview" class="dataview">

        <div id="hozDivider"></div>

        <div class="resize_bar"></div>

        <nav class="nav_bar">
            <ul class="nav_bar-nav"></ul>
            <div class="tab-dropdown-container">
                <button class="tab-dropdown">»</button>
                <div class="tab-dropdown-content">
                    <ul></ul>
                </div>
            </div>
        </nav>

        <div class="tab-content"></div>

        <div class="btn_column lv0 noselect desktop">
        
            <button style="margin-top: -10px;" id="toggleDataview" class="icons-vertical-align-top xyz-icon">
            </button>

            <button id="btnDataViewport" style="display: none;" class="icons-fullscreen xyz-icon">
            </button>
                    
        </div>

    </div>

    <div id="workspace" class="workspace" style="display: none;">

        <div class="btn_column noselect">
        
            <button id="btnCloseWS" class="icons-close xyz-icon3"></button>
        
            <button id="btnUploadWS" class="icons-backup xyz-icon3"></button>
        
            <button id="btnFileWS" class="icons-description xyz-icon3"></button>
        
            <input id="fileInputWS" type="file" accept=".json" style="display: none;">
        
        </div>

        <div id="codemirror" class="codemirror"></div>

    </div>

    <div id="desktop_mask"></div>

</body>

</html>