<!DOCTYPE html>
<html lang="en">

<head data-dir="{{:dir}}">
    <title>{{:title}}</title>
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{:dir}}/css/views/leaflet.css" />
    <link rel="stylesheet" href="{{:dir}}/css/views/map.css" />
</head>

<body data-viewmode="desktop" data-nanoid={{:nanoid}} data-token={{:token}}>

    <div class="xyz_frame">
        <div class="location_info_container" id="location_info_container1"></div>
        <div class="xyz_map" id="xyz_map1">
            <div class="btn_column">

                <button id="btnZoomIn1">
                    <i class="material-icons">add</i>
                </button>

                <button id="btnZoomOut1">
                    <i class="material-icons">remove</i>
                </button>

            </div>
        </div>
    </div>

    <div class="xyz_frame">
        <div class="location_info_container" id="location_info_container2"></div>
        <div class="xyz_map" id="xyz_map2">
            <div class="btn_column">

                <button id="btnZoomIn2">
                    <i class="material-icons">add</i>
                </button>

                <button id="btnZoomOut2">
                    <i class="material-icons">remove</i>
                </button>

            </div>
        </div>
    </div>

    <div class="xyz_frame" style="margin-bottom: 40px;">
        <div class="xyz_table" id="xyz_table1">
        </div>
    </div>


</body>

<script src="{{:dir}}/js/{{:bundle_js}}"></script>
<script src="{{:dir}}/js/{{:script_js}}"></script>

</html>