<!DOCTYPE html>
<html lang="en">

<head data-dir="{{:dir}}">
    <title>{{:title}}</title>
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{:dir}}/css/views/map.css" />
</head>

<body data-viewmode="desktop" data-nanoid={{:nanoid}}>

<div id="xyz_map"></div>

</body>

<script src="{{:dir}}/js/build/map_leaflet_bundle.js"></script>

</html>