<!DOCTYPE html>
<html lang="en">

<head data-dir="{{:dir}}">
    <title>{{:title}}</title>
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{:dir}}/css/openlayers.css" />
    <link rel="stylesheet" href="{{:dir}}/css/control.css" />
    <link rel="stylesheet" href="{{:dir}}/views/mobile.css" />

    <script src="{{:dir}}/js/build/xyz_openlayers.js" defer></script>
    <script src="{{:dir}}/views/mobile.js" defer></script>
</head>

<body
    data-nanoid={{:nanoid}}
    data-log={{:log}}
    data-token={{:token}}
    data-login={{:login}}>

    <div id="Map" class="mapview map" style="margin-top: 0;"></div>

    <div class="btn-column"></div>

    <div id="spacer"></div>

    <div id="ctrls">

        <div class="tab active">
            <div class="xyz-icon icon-layers"></div>
            <div class="listview">
                <div class="listview-title secondary-colour-bg">Layers</div>
                <div id="layers"></div>
            </div>
        </div>

        <div class="tab">
            <div class="xyz-icon icon-location"></div>
            <div class="listview">
                <div class="listview-title secondary-colour-bg">Locations</div>
                <button id="clear_locations" class="bold primary-colour">Clear all locations.</button>
                <div id="locations"></div>
            </div>
        </div>

    </div>

</body>

</html>