body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.mapview {
    position: fixed;
    height: calc(100% - 50px);
}

.btn-column {
    position: fixed;
    left: 10px;
}

.btn-column>button,
.btn-column>a {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

#spacer {
    height: calc(100% - 50px);
}

#ctrls {
    display: inline-flex;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px #ccc;
    z-index: 1000;
}

#ctrls>.tab {
    flex-grow: 1;
    height: 50px;
    padding: 5px;
    border-bottom: 1px solid #1F964D;
}

#ctrls>.tab>.xyz-icon {
    width: 100%;
    height: 100%;
    background-position: center;
    pointer-events: none;
    filter: invert(45%) sepia(55%) saturate(608%) hue-rotate(90deg) brightness(93%) contrast(90%);
}

#ctrls>.tab.active {
    background-color: #1F964D;
}

#ctrls>.tab.active>.xyz-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(56deg) brightness(100%) contrast(105%);
}

#ctrls>.tab:not(.active)>.listview {
    display: none;
}

#ctrls .listview {
    padding: 20px;
    overflow-y: scroll;
    height: calc(100% - 50px);
    position: absolute;
    width: 100%;
    left: 0;
    top: 50px;
    background-color: #f0f0f0;
}

#ctrls .listview-title {
    font-weight: bold;
    /*font-size: 105%;*/
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 2px;
}

#ctrls .listview.shadow {
    box-shadow: inset 0px 4px 4px -4px #ccc;
}

#clear_locations {
    font-size: 90%;
}

#gazetteer {
    position: fixed;
    width: 100%;
    padding: 0 5px 0 75px;
    background-color: rgba(255,255,255,0.6)
}