<!DOCTYPE html>
<html lang="en">

<head data-dir="{{:dir}}">
    <title>{{:title}}</title>
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{:dir}}/css/{{:engine}}.css" />
    <link rel="stylesheet" href="{{:dir}}/css/mobile.css" />

    <script src="{{:dir}}/js/build/xyz_{{:engine}}.js" defer></script>
    <script src="{{:dir}}/views/mobile.js" defer></script>
</head>

<body
data-nanoid={{:nanoid}} 
data-log={{:log}} 
data-user={{:user}} 
data-logrocket={{:logrocket}}
data-token={{:token}}>

    <div id="Map" class="mapview map" style="margin-top: 0;"></div>

    <div id="gazetteer" class="gazetteer"></div>

    <div class="btn_column noselect mobile">
        <button id="btnGazetteer" class="icons-search-mobile xyz-icon3"{{:btnSearch}}>
        </button>

        <button id="btnLocate" title="Current location" class="icons-gps-not-fixed-mobile xyz-icon3" {{:btnLocate}}>
        </button>

        <button id="btnZoomIn" class="icons-add-mobile xyz-icon3">
        </button>

        <button id="btnZoomOut" class="icons-remove-mobile xyz-icon3">
        </button>

        <a id="btnDocumentation" title="Open Documentation" {{:btnDocumentation}}
        class="icons-school-mobile xyz-icon3" href="{{:hrefDocumentation}}">
        </a>
        

        <a id="btnLogin" title="{{:btnLogin_text}}" {{:btnLogin}}
        class="icons-lock-open-mobile xyz-icon3" href="{{:dir}}{{:btnLogin_path}}">
        </a>

        <button id="btnLogRocket" title="Start a Log Rocket session to record possible bugs." class="icons-bug-report-mobile xyz-icon3"{{:btnLogRocket}}>
        </button>

    </div>

    <div class="spacer_mobile"></div>

    <div class="listviews">

        <table class="tab_bar" cellpadding="0" cellspacing="0">
            <td id="tabLayers" class="tab_btn xyz-icon3 icon-layers-mobile ">
            </td>
            <td id="tabLocations" class="tab_btn displaynone xyz-icon3 icon-location-mobile ">
            </td>
        </table>

        <div id="modLayers" class="listview">
            <div class="title">Layers</div>
            <div id="localeDropdown"></div>
            <div id="layers" class="content"></div>
        </div>

        <div id="modLocations" class="listview displaynone">
            <div class="title">Locations</div>
            <button id="clear_locations" class="btn_text cursor">Clear all locations.</button>
            <div id="locations" class="content"></div>
        </div>

    </div>

</body>

</html>