<!DOCTYPE html>
<html lang="en">

<head data-dir="{{:dir}}">
    <title>{{:title}}</title>
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{:dir}}/css/mobile.css" />

    <script src="{{:dir}}/js/build/xyz_control_bundle.js" defer></script>

    <!-- <script src="{{:dir}}/views/monopoly.js" defer></script> -->

    <script type="application/javascript" src="{{:dir}}/proxy/cdn?uri=https://raw.githubusercontent.com/dbauszus-glx/monopoly/master/monopoly.js&type=application/javascript" defer></script>
</head>

<body 
data-viewmode="mobile" 
data-nanoid={{:nanoid}} 
data-log={{:log}} 
data-user={{:user}} 
data-logrocket={{:logrocket}}
data-token={{:token}}>

    <div id="Map" class="mapview map" style="margin-top: 0; height: 100%;"></div>

    <div class="btn_column noselect mobile">

        <button id="btnLocate" title="Current location" {{:btnLocate}}>
            <i class="material-icons">gps_not_fixed</i>
        </button>

    </div>

</body>

</html>