<!DOCTYPE html>
<html lang="en">

<head data-dir="{{:dir}}">
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="stylesheet" href="{{:dir}}/css/control.css" /> -->

    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">

    <!-- <link rel="stylesheet" href="{{:dir}}/css/ol.css" /> -->

    <!-- <script src="{{:dir}}/js/build/xyz_control_bundle.js" defer></script> -->

    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js" defer></script>

    <!-- <link rel="stylesheet" href="{{:dir}}/css/control.css" /> -->

    <script src="{{:dir}}/views/ol.js" defer></script>

    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
            border: 0;
        }

        .map {
            height: 100%;
            width: 100%;
        }
    </style>

</head>

<body>

    <div id="map" class="map"></div>

</body>

</html>