<!DOCTYPE html>
<html>

<head data-dir="{{:dir}}">
    <title>XYZ | User Administration</title>
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{:dir}}/css/views/tabulator_simple.css">
    <link rel="stylesheet" href="{{:dir}}/css/views/user_admin.css">
    <script src="{{:dir}}/js/views/tabulator.min.js"></script>
</head>

<body data-token={{:token}}>

    <h1>Account admin</h1>
    
    <div id="userTable"></div>

</body>

<script src="{{:dir}}/js/views/admin.js"></script>

</html>