<!DOCTYPE HTML>
<html>

<head data-dir = "{{:dir}}">
    <!-- <title>{{:title}}</title> -->
    <link rel="icon" type="image/x-icon" href="{{:dir}}/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{:dir}}/css/views/jsoneditor.css">
    <link rel="stylesheet" href="{{:dir}}/css/views/settings.css">
    <script src="{{:dir}}/js/views/jsoneditor.js"></script>
</head>

<body data-mode = "{{:mode}}">
    <div id="workspace_mask">Processing workspace.</div>
    <div id="jsoneditor"></div>

</body>

<script src="{{:dir}}/js/views/workspace_admin.js"></script>
</html>