<!DOCTYPE html>
<html lang="en">

<head>
    <title>GEOLYTIX | {{:title}}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        @font-face {
            font-family: ffmark_black;
            src: url({{:localhost}}fonts/MarkWeb-Black.woff) format("woff");
        }
    
        @font-face {
            font-family: ffmark;
            src: url({{:localhost}}fonts/MarkWebPro.woff) format("woff");
        }
    
        @font-face {
            font-family: ffmark_bold;
            src: url({{:localhost}}fonts/MarkWebPro-Bold.woff) format("woff");
        }
    </style>
    {{:css}}
    <script>
        const view_mode = 'desktop';
        const localhost = '{{:localhost}}';
        const mapbox_token = '{{:mapbox_token}}';
        const hooks = {{:hooks}};
        const _xyz = {{:settings}};
    </script>
</head>

<body>
    
    {{include tmpl=report_container /}}
    
    <div class="module_container">
        <div class="scrollbar_container">
            <div class="scrollbar"></div>
        </div>
        <div id="gaz_group" class="input_group">
            <input id="gaz_input" type="text" required>
            <ul id="gaz_result"></ul>
            <div id="gaz_country"></div>
            <span class="bar"></span>
            <ul id="gaz_countrylist"></ul>
        </div>
        <div id="gaz_spacer"></div>
        <div id="ctrl_content" class="content">
            
            {{include tmpl=module_layers /}}
            
            {{include tmpl=module_select /}}
            
            {{include tmpl=module_grid /}}
            
            {{include tmpl=module_catchments /}}
            
        </div>
    </div>

    <div class="map_container">
        <div id="map" class="map">
            <a href="http://mapbox.com/about/maps" class='mapbox-wordmark' target="_blank">Mapbox</a>
            <div class="mapbox-attribution-container">
                    <a href="http://leafletjs.com" target="_blank">
                        <strong>Leaflet</strong> | </a>
                    <a href="https://www.mapbox.com/about/maps/">© Mapbox | </a>
                    <a href="http://www.openstreetmap.org/copyright">© OpenStreetMap | </a>
                    <a href="https://www.mapbox.com/map-feedback/" target="_blank">
                        <strong>Improve this map</strong>
                    </a>
            </div>
                <svg xmlns="w3.org/2000/svg" version="1.1" style="width:0; height:0">
                    <defs>
                        <filter id='dropshadow'>
                            <feGaussianBlur in='SourceAlpha' stdDeviation='2' />
                            <feOffset dx='1' dy='1' result='offsetblur' />
                            <feMerge>
                                <feMergeNode/>
                                <feMergeNode in='SourceGraphic' />
                            </feMerge>
                        </filter>
                    </defs>
                </svg>
        </div>

        <a class="logo_link" class="noselect tooltip-top"
           data-tooltip="Please visit our website and find out how we can assist you." href="https://geolytix.co.uk">GEOLYTIX</a>

        <div class="map_button noselect">
            <button id="btnSearch" title="Open Gazetteer">
                <i class="material-icons">search</i>
            </button>

            <button id="btnZoomIn">
                <i class="material-icons">add</i>
            </button>

            <button id="btnZoomOut">
                <i class="material-icons">remove</i>
            </button>
            
            <button id="btnReport" title="Create PDF Report">
                <i class="material-icons">picture_as_pdf</i>
                <div id="report-spinner">
                    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                </div>
            </button>
            
            <div id="report-toast">
                <div>
                    <a id="btnReportView" target="_blank" title="Open"><i class="material-icons">visibility</i></a>
                </div>
                <div>
                    <a id="btnReportDownload" title="Save PDF"><i class="material-icons">file_download</i></a>
                </div>
                <div>
                    <a id="btnReportClose" title="Open PDF in new tab"><i class="material-icons">clear</i></a>
                </div>
            </div>

            <button id="btnDocumentation" class="tooltip-right" data-tooltip="Open Documentation">
                    <a href="documentation"><i class="material-icons">school</i></a>
            </button>

            <button id="btnLogout" class="tooltip-right" data-tooltip="Log out from application">
                <a href="logout"><i class="material-icons">exit_to_app</i></a>
            </button>

            {{include tmpl=admin_button /}}

        </div>
    </div>

</body>

<script type="application/javascript" src="js/{{:bundle_js}}"></script>

</html>