<!DOCTYPE HTML>
<html>
<head>
        <!-- <title>{{:title}}</title> -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
    <link href="css/jsoneditor.css" rel="stylesheet" type="text/css">
    <link href="css/settings.css" rel="stylesheet" type="text/css">
    <script src="js/jsoneditor.js"></script> 
</head>
<body>
    <div id="jsoneditor"></div>

    {{:settings}}
 
    <script>

        var container = document.getElementById("jsoneditor");

        var options = {
            mode: 'tree'
        };

        var editor = new JSONEditor(container, options);

        var json = _xyz;

        editor.set(json);

        var json = editor.get();


    //add save button

    //<button type="button" class="jsoneditor-redo" title="Redo (Ctrl+Shift+Z)" disabled=""></button>

    let editormenu = document.querySelector('.jsoneditor-menu');

    let search = document.querySelector('.jsoneditor-search');

      let btnSave = document.createElement('div');
      btnSave.innerHTML = '<button type="button" title="Save Setting" class="btnSave"><i class="material-icons">cloud_upload</i></button>';

      btnSave.addEventListener('click', function () {
    


        let xhr = new XMLHttpRequest();
        xhr.open('POST', 'q_settings_save');
        xhr.setRequestHeader('Content-Type', 'application/json');
        
        xhr.onload = function () {
                       
            if (this.status === 200) {
                alert('done');
            }
        }
        
        xhr.send(JSON.stringify({
            settings: editor.get()
        }));


});

    editormenu.insertBefore(btnSave, search)

    //insert before jsoneditor-search

    </script> 
</body>
</html>