<!DOCTYPE HTML>
<html>

<head>
    <!-- <title>{{:title}}</title> -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/jsoneditor.css">
    <link rel="stylesheet" href="/css/settings.css">
    <script src="/js/jsoneditor.js"></script>
    {{:settings}}
</head>

<body>
    <div id="jsoneditor"></div>
</body>

<script src="/js/settings.js"></script>
</html>