.attribution {
    bottom: 5px;
    right: 5px;
    margin-left: 150px;
    position: absolute;
    z-index: 999;
    text-align: right;
    font-family: ffmark_bold, sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 1px $glxlightgreen;

    #attribution_links {
        i {
            font-size: 14px;
        }
        a {
            margin-left: 5px;
        }
    }
    .logo {
        font-family: ffmark_black, sans-serif;
        font-size: 40px;
    }
}