.attribution {
    bottom: 5px;
    right: 5px;
    position: absolute;
    z-index: 999;

    @if $report {
            right: 0;
            bottom: 0;
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.5);
            width: 100%;
    }
    .links {
        float: right;
        clear: right;
        font-family: ffmark_bold, sans-serif;
        font-size: 18px;
        @if $report {
            font-size: 15px;
        }
        text-shadow: 2px 2px $glxlightgreen;
        i {
            font-size: 14px;
            @if $report {
                font-size: 10px;
            }
        }
        a {
            border-bottom: 2px solid black;
            margin-left: 5px;
            display: none;
        }
    }
    .logo {
        font-family: ffmark_black, sans-serif;
        text-shadow: 2px 2px $glxlightgreen;
        @if $desktop {
            float: right;
            font-size: 40px;
        }
        @if $mobile {
            position: fixed;
            top: 5px;
            right: 5px;
            font-size: 35px;
        }
        @if $report {
            font-size: 30px;
        }
    }
}