.attribution {
    bottom: 5px;
    right: 5px;
    position: absolute;
    z-index: 999;

    #attribution_links {
        float: right;
        clear: right;
        font-family: ffmark_bold, sans-serif;
        font-size: 18px;
        text-shadow: 2px 2px $glxlightgreen;
        i {
            font-size: 14px;
        }
        a {
            border-bottom: 2px solid black;
            margin-left: 5px;
        }
    }
    .logo {
        font-family: ffmark_black, sans-serif;
        text-shadow: 2px 2px $glxlightgreen;
        @if $desktop {
            float: right;
            font-size: 40px;
        }
        @if $mobile {
            position: fixed;
            top: 5px;
            right: 5px;
            font-size: 35px;
        }
    }
}