.attribution-links {
  // position: absolute;
  // bottom: 5px;
  // right: 5px;
  z-index: 999;
  text-align: right;
  
  a {
    margin-left: 5px;
    display: inline-block;
    white-space: nowrap;
  }
}