@import 'colours';

button {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;

  &:hover:enabled {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
  }

  &.wide {
    width: 100%;
  }

  &.mask-icon, .mask-icon {
    background-color: $primary;
  }
  
  &.mask-icon.on {
    background-color: $on;
  }
  
  &.mask-icon.no {
    background-color: $no;
  }

  &.flat {
    border-radius: 2px;
    text-align: center;
    font-weight: 600;
    /*box-shadow: 1px 1px 2px #ccc;*/
    border-bottom: 1px solid #eee;
    padding: 5px;
    
    &:hover:enabled {
      cursor: pointer;
      transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    }
  
    &.active {
      background-color: $on;
      /*box-shadow: none;*/
      box-shadow: 1px 1px 2px #ccc;
      border-bottom: 3px solid $on;
    }
  }
}

.btn-column {
  display: grid;
  grid-auto-rows: minmax(min-content, 4em);
  padding: 0.7em;
  font-size: inherit;

  button,
  >div,
  >a {
    width: 2em;
    height: 2em;
    font-size: inherit;
  }

  a > div,
  button > div {
    height: 100%;
  }

  button:disabled,
  a:disabled {
    cursor: not-allowed;
  }

  button.mask-icon.active {
    background-color: $on;
  }
}

.btn-row {
  display: flex;
  > * {
    margin: 10px 5px;
  }
}