button {
    border: none;
    outline: none;
    background: none;

    &:hover:enabled {
        cursor: pointer;
    }

    &:disabled {
        opacity: 0.5;
    }
}

.btn-column {
    z-index: 999;

    button,
    >a {
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px;
        float: left;
        clear: both;
        height: 50px;
        width: 50px;
        background-color: #fff;
        text-align: center;
        cursor: default;

        .xyz-icon {
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }
}

.btn-header {
    margin-left: 5px;
    width: 25px;
    height: 20px;
    background-position: center;
}

.btn-wide {
    border-radius: 2px;
    line-height: 2;
    text-align: center;
    font-weight: 600;
    box-shadow: 1px 1px 1px #ccc;
    margin: 5px 0;
    width: calc(100% - 1px);

    &.disabled {
        opacity: 0.3;
        cursor: default;
    }

    &:disabled {
        opacity: 0.3;
        cursor: default;
    }

    &:hover:enabled {
        cursor: pointer;
    }

    &.active {
        color: #000;
        box-shadow: none;
        border: 1px solid #ddd;
    }
}

.btn-drop {
    position: relative;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 3px 0 #ddd;
    margin: 5px 0;
    font-family: inherit;

    &:disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    >.head {
        padding: 5px;
        display: flex;
        border: 1px solid #ccc;
        align-items: center;

        >:first-child {
            pointer-events: none;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        >.icon {
            pointer-events: none;
            margin-left: auto;
            height: 20px;
            width: 20px;
            content: url("../icons/icon-drop-down.svg");
        }
    }

    >ul {
        display: none;
        position: absolute;
        list-style-type: none;
        width: inherit;
        box-sizing: border-box;
        box-shadow: 1px 1px 3px 0 #ddd;
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        border: 1px solid #ccc;
        border-top: none;
        text-align: left;
        background-color: white;
        z-index: 1;

        >li {
            padding: 5px;

            a {
                margin: 0px;
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        >li:hover {
            background-color: #eee;
        }

        >li.selected {
            background-color: #cae0b8;
        }
    }

    &.active {
        >.head {
            border-bottom: 1px solid #eee;
        }

        >ul {
            display: block;
        }

        >.head>.icon {
            content: url("../icons/icon-drop-up.svg");
        }
    }
}