@import 'colours';

button {
  font-family: inherit;
  font-size:inherit;
  border: none;
  outline: none;
  background: none;
  text-align: center;

  &.mask-icon,
  >.mask-icon {
    background-color: $primary
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.3;
    &:hover {
      cursor: not-allowed;
    }
  }

  &.wide {
    width: 100%;
  }

  &.flat {
    border-radius: 3px;
    border-bottom: 1px solid $lighter;
    padding: 0.3em;
      
    &.active {
      border-bottom: 3px solid $on;
    }
  }

  &.raised {
    border-radius: 3px;
    border: 1px solid $lighter;
    box-shadow: 1px 1px 2px $lighter;
    padding: 0.3em;
     
    &.active {
      box-shadow: none;
    }
  }

  &.active {
    background-color: $on;
  }
}

button.dropdown {
  width: 100%;
  overflow: visible;
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 3px 0 #ddd;

  &:disabled {
    pointer-events: none;
    opacity: 0.4;
  }

  >.head {
    padding: 5px;
    display: flex;
    border: 1px solid #ccc;
    align-items: center;

    >:first-child {
      pointer-events: none;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    >.icon {
      pointer-events: none;
      margin-left: auto;
      width: 18px;
      content: url("../icons/icon-drop-down.svg");
    }
  }

  >ul {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 1px 1px 3px 0 #ddd;
    border: 1px solid #ccc;
    border-top: none;
    margin-top: -2px;
    text-align: left;
    background-color: white;
    z-index: 999;

    >li {
      padding: 5px;
    }

    >li:hover {
      background-color: $lighter;
      cursor: pointer;
    }

    >li.selected {
      background-color: $light;
    }

    .label {
      padding: 0 6px;
      border-radius: 2px;
      color: white;
      font-size: 80%;
      font-weight: bold;
      background-color: $primary;
    }
  }

  &.active>ul {
    display: block;
    max-height: 600px;
    box-shadow: 1px 1px 3px 0 #ddd;
    border: 1px solid#ccc;

    >.head {
      border-bottom: 1px solid #eee;

      >.icon {
        content: url("../icons/icon-drop-up.svg");
      }
    }
  }
}

@media print {
  .dropdown {
    box-shadow: none;

    >.head>.icon {
      display: none;
    }
  }
}

.btn-column {
  display: grid;
  grid-auto-rows: minmax(min-content, 4em);
  padding: 0.7em;
  font-size: inherit;

  button,
  >div,
  >a {
    width: 2em;
    height: 2em;
    font-size: inherit;
  }

  a > div,
  button > div {
    height: 100%;
  }

  button:disabled,
  a:disabled {
    cursor: not-allowed;
  }
}

.btn-row {
  display: flex;
  > * {
    margin: 10px 5px;
  }
}