.checkbox {
  margin-top: 10px;
  border-spacing: 0;

  .box {
    position: relative;
    color: $glxgreen;

    label {
      cursor: pointer;
      position: absolute;
      width: 23px;
      height: 23px;
      top: 0;
      left: -2px;
      background: #fff;
      content: '\E836';
      font-family: "Material Icons";
      font-size: 23px;
      line-height: 23px;
    }
  
    label:after {
      content: '\E835';
    }
    
    input[type=checkbox]:checked + label:after {
      content: '\E834';
    }

  }

  .label {
    font-family: ffmark, sans-serif;
    font-size: 14px;
  }

}





