$off-black: #3f3f3f;
.off-black {
  color: $off-black;
}
.off-black-background {
  color: white;
  background-color: $off-black;
}

$primary: #003D57;
$primary-light: #939faa;
.primary-colour {
  color: $primary;
}
.primary-background {
  color: white;
  background-color: $primary;
}

$box_shadow_primary: #003D5788;

$dark: #401505;
.dark-background {
  color: white;
  background-color: $dark;
}

$light: #E9E3DD;

$lighter: #D5E1E6;

$on: #E18335;
.on-colour {
  color: $on;
}

$no: #A21309;
.no-colour {
  color: $no;
}