body {
    color: #3f3f3f;
}

a {
    color: #3f3f3f;
}

.off-white {
    color: ghostwhite;
}

.off-white-hover:hover {
    background-color: ghostwhite;
    cursor: pointer;
}

.off-black {
    color: #3f3f3f;
}

.off-black-filter {
    filter: invert(24%) sepia(23%) saturate(0%) hue-rotate(271deg) brightness(86%) contrast(90%);
    -webkit-filter: invert(24%) sepia(23%) saturate(0%) hue-rotate(271deg) brightness(86%) contrast(90%);
}

.red-filter {
  filter: invert(28%) sepia(94%) saturate(3492%) hue-rotate(345deg) brightness(85%) contrast(92%);
  -webkit-filter: invert(28%) sepia(94%) saturate(3492%) hue-rotate(345deg) brightness(85%) contrast(92%);
}

/* Primary colour properties */
.primary-colour {
    color: #003D57;
}

.primary-colour-filter {
    filter: invert(16%) sepia(23%) saturate(4184%) hue-rotate(169deg) brightness(101%) contrast(102%);
    -webkit-filter: invert(16%) sepia(23%) saturate(4184%) hue-rotate(169deg) brightness(101%) contrast(102%);
}

.primary-colour-bg {
    background-color: #003D57;
}

.primary-colour-bb {
	border-bottom: 1px solid #003D57;
}

input[type=range]::-webkit-slider-thumb {
    background: #003D57;
}

input[type=range]::-moz-range-thumb {
    background: #003D57;
}

/* Secondary colour properties */
.secondary-colour {
    color: #EC602D;
}

.secondary-colour-filter {
    filter: invert(49%) sepia(53%) saturate(3142%) hue-rotate(343deg) brightness(96%) contrast(93%);
    -webkit-filter: invert(90%) sepia(21%) saturate(301%) hue-rotate(48deg) brightness(104%) contrast(93%);
}

.secondary-colour-bg {
    background-color: #EC602D;
}

.secondary-colour-bb {
    border-bottom: solid 1px #EC602D;
}

.secondary-colour-hover:hover {
    background-color: #EC602D;
    cursor: pointer;
}