:root {

    --color-off-black: #3f3f3f;

    --color-primary: #003D57;

    --color-primary-light: #939faa;

    --color-light: #E9E3DD;

    --color-lighter: #D5E1E6;

    --color-on: #E18335;

    --color-no: #A21309;

}