.contextmenu {
	background-color: #FFF;
	box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
	position: absolute;
	min-width: 120px;
	max-width: 180px;
	padding: 2px;
	z-index: 1001;
	font-size: 13px;

	ul {
		list-style: none;

		li {

			margin: 2px 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);

			&:hover {
				background-color: #9CC5A1;
				border-bottom: 1px solid rgba(0, 0, 0, 0);
				cursor: pointer;
			}

			/*&:after {
				content: "";
				display: block;
				height: 1px;
				background: #000;
				opacity: 0.2;
			}*/
		}
	}
}

.context {
	list-style-type: none;
	li {
		white-space: nowrap;
		padding: 5px;
		&:hover {
			background-color: ghostwhite;
			cursor: pointer;
		}
	}
}