.dataview {
    overflow: hidden;
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 57px 1fr;
    grid-template-rows: 6px 36px 1fr;
    z-index:1000; /* to hide static labels outside map */
    background-color: white; /* to hide static labels outside map*/

    .btn-column {
        grid-row: 2/4;
    }

    .nav_bar {
        height: 36px;
        font-size: 94%;
        grid-row: 2;
        grid-column: 2;
    }

    .tab-content {
        grid-row: 3;
        grid-column: 2;
        overflow: auto;
    }

    nav {
        text-align: center;

        -webkit-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.3);
        box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.3);
        z-index: 1000;
        
        ul.nav_bar-nav {
            display: inline-flex;
            list-style: none;
            flex-flow: row wrap;
            justify-content: center;
            width: calc(100% - 30px);

            li {
                padding: 5px;
                font-size: 94%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                cursor: default;

                -webkit-flex: 1;
                -moz-flex: 1;
                -ms-flex: 1;
                flex: 1;
                &.tab-current {
                    box-shadow: 0 6px 8px -6px #444;
                    overflow: visible;
                }

                &:hover {
                    overflow: visible;
                }
            }
        }
        .tab-dropdown-container {
            position: relative;
            width: 20px;
            display: inline-flex;

            button.tab-dropdown {
                width: 30px;
                display: none;
                background-color: white;
            }

            .tab-dropdown-content {
                display: none;
                position: absolute;
                top: 30px;
                right: 10px;
                padding: 4px;
                background-color: #fff;
                min-width: 160px;
                overflow: auto;
                box-shadow: 0px 8px 16px 2px rgba(0,0,0,0.3);
                z-index: 1000;

                &.show {
                    display: block !important;
                }

                li {
                    padding: 5px;
                }
            }
        }
    }
}