.headerDrag {
  cursor: grab;
}

dialog > button.close {
  position: absolute;
  top: 0em;
  right: 0em;
  height: 1em;
  width: 1em;
  margin: 0.4em;
}

dialog.dialog {
  position: absolute;
  border: none !important;
  border-radius: 2px;
  cursor: grab;
  user-select: none;
  padding: 5px;
  overflow: unset !important;
  isolation: isolate;
}

dialog.modal {
  position: fixed;
  border: none !important;
  border-radius: 2px;
  text-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

header {
  & button {
    height: 1em;
    width: 1em;
    margin: 0.4em;
  }
}

.dialog > header {
  display: flex;
  justify-content: space-between;

  & > :nth-child(2) {
    margin-left: auto;
  }
}

dialog.alert-confirm {
  width: 350px;
  max-height: 70%;
  z-index: 1001;
  user-select: none;
}

dialog.alert-confirm::-webkit-scrollbar {
  display: none;
}

dialog.alert-confirm:focus {
  outline: none;
}

dialog.alert-confirm h4 {
  padding: 0.5em 1em;
  background-color: var(--color-primary);
  border-bottom: solid 2px var(--color-primary-light);
  color: var(--color-light);
}

dialog.alert-confirm .content {
  padding: 1em;
}

dialog.alert-confirm p {
  white-space: pre;
  text-wrap: pretty;
  text-align: center;
  padding: 1em;
}

dialog.alert-confirm .buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.2em;
}

dialog.alert-confirm button {
  float: right;
  font-size: 0.9em;
  color: var(--color-primary);
  z-index: 1005;
}

dialog.minimized .content {
  display: none;
}

dialog .minimize-btn.mask-icon {
  -webkit-mask-image: url('../icons/icon-remove.svg');
  mask-image: url('../icons/icon-remove.svg');
}

dialog.minimized .minimize-btn.mask-icon {
  -webkit-mask-image: url('../icons/icon-fullscreen.svg');
  mask-image: url('../icons/icon-fullscreen.svg');
}

@media only screen and (max-width: 768px) {
  dialog.alert-confirm {
    min-width: 350px;
    max-width: 70%;
  }
}
