.doc-container {
    overflow-x: scroll;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    td, div {
        position: relative;
        padding: 5px;

          /* wrap long text without spaces */
          white-space: pre-wrap;
          white-space: -moz-pre-wrap; /* Firefox */    
          white-space: -pre-wrap;     /* Opera <7 */   
          white-space: -o-pre-wrap;   /* Opera 7 */    
          word-wrap: break-word; /* IE */
          word-break: break-all;
        
        i {
            color: $glxgreen;
            font-size: 20px;
            vertical-align: middle;
        }
        
        button {
            display: block;
            background: none;
            position: absolute;
            border: none;
            &.btn_del {
                right: 6px;
                top: 10px;
            }
            &.btn_save {
                left: 5px;
                bottom: 14px;
            }
            :hover {
                cursor: pointer;
            }
            i {
                padding: 1px;
                width: 30px;
                height: 30px;
                font-size: 28px;
                color: $glxgreen;
                align-content: center;
                border-radius: 5px;
                background-color: #fff;
                opacity: 0.9;
                border: 1px solid #cf7;
                box-shadow: 2px 2px 1px #cf7;
            }
        }
    }
}