.disabled>.drawer {
  opacity: 0.4;
  pointer-events: none;
}

.drawer {
  padding: 5px;
  background-color: var(--color-light-tertiary);

  &.expandable:not(.empty)>.header:hover {
    cursor: pointer;
  }

  &.expandable.empty>.header>.mask-icon.expander {
    display: none;
  }

  &.expandable>.header>.mask-icon.expander {
    -webkit-mask-image: url("../icons/icon-arrow-down.svg");
    mask-image: url("../icons/icon-arrow-down.svg");
  }

  &.expandable:not(.expanded)>*:not(.header) {
    display: none !important;
  }

  &.expanded>.header>.mask-icon.expander {
    -webkit-mask-image: url("../icons/icon-arrow-up.svg");
    mask-image: url("../icons/icon-arrow-up.svg");
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &>.header {
    display: flex;
    align-items: center;

    &>:not(button):not(label):not(input) {
      pointer-events: none;
    }

    &>div,
    &>button {
      margin-left: 5px;
      width: 1.5em;
      height: 1.5em;
    }

    &>:nth-child(1) {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &>:nth-child(2) {
      margin-left: auto;
    }

    &>.mask-icon {
      mask-position: right;
      -webkit-mask-position: right;
    }

  }

  &.flat {
    border-radius: 2px;
    border: 1px solid var(--color-light-secondary);
  }

  &.raised {
    border-radius: 2px;
    box-shadow: 1px 1px 3px var(--color-primary-light);
    border: 1px solid var(--color-light-secondary);
  }

  &.raised.empty {
    box-shadow: none;
    border: none;
  }

  &.expandable.expanded {
    box-shadow: none;
    border: none;
  }

  p {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}