@import 'colours';

.drawer {

  &.expandable:not(.empty)>.header:hover {
    cursor: pointer;
  }
    
  &.expandable.empty>.header>.mask-icon.expander {
    visibility: hidden;
  }

  &.expandable>.header>.mask-icon.expander {
    -webkit-mask-image: url("../icons/icon-arrow-down.svg");
    mask-image: url("../icons/icon-arrow-down.svg");
  }

  &.expandable:not(.expanded) > *:not(.header) {
    display: none;
  }

  &.expanded>.header>.mask-icon.expander {
    -webkit-mask-image: url("../icons/icon-arrow-up.svg");
    mask-image: url("../icons/icon-arrow-up.svg");
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  >.header {
    display: flex;
    align-items: center;

    >:not(button):not(label):not(input) {
      pointer-events: none;
    }

    >div,
    >button {
      margin-left: 5px;
      width: 1.5em;
      height: 1.5em;
    }

    >:nth-child(1) {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    >:nth-child(2) {
      margin-left: auto;
    }

    >.mask-icon {
      mask-position: right;
      -webkit-mask-position: right;
    }

  }

  &.expandable.flat {
    border-radius: 2px;
    box-shadow: 1px 1px 2px #ccc;
    border: 1px solid #eee;
    padding: 5px;
  }

  &.expandable.flat.expanded {
    box-shadow: none;
    border: none;
    padding: 5px 0;
  }
}

.drawer.lv-1,
.drawer.lv-2,
.drawer.lv-3  {
  padding-bottom: 5px;

  >.header {
    padding: 3px 0;
  }

  >:not(.header) {
    margin-top: 3px;
  }
}