.drawer {
    box-sizing: content-box;

    >.header {
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none; 
        display: flex;
        align-items: center;

        >:nth-child(1) {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        >:nth-child(2) {
            margin-left: auto;
        }
    }

    .display-grid {
      display: grid; 
    }

    &.expandable>.header:hover {
      cursor: pointer;
    }

    &.expandable>.header>.icon-expander {
      background-image: url("../icons/icon-arrow-down.svg");
    }

    &.expandable:not(.expanded) > *:not(.header) {
      display: none;
    }

    &.expanded>.header>.icon-expander {
      background-image: url("../icons/icon-arrow-up.svg");
    }

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }

}