.ul-drop {
    position: relative;
    cursor: pointer;
    font-size: small;

    >.head {
        padding: 10px;
    }

    >.head:after {
        position: absolute;
        content: "";
        right: 10px;
        border: 8px solid transparent;
        border-color: #000 transparent transparent transparent;
    }

    &.active>.head:after {
        border-color: transparent transparent #000 transparent;
        font-size: smaller;
    }

    >ul {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 1;
        box-shadow: 1px 1px 2px 0 #aaa;
        max-height: 300px;
        overflow-y: auto;

        >li {
            padding: 10px;
        }

        >li:hover:after, li:focus:after {
            content: "";
            display: block;
            height: 1px;
            bottom: 0;
            background: linear-gradient(left, #999 0%, white 90%);
            background: -webkit-linear-gradient(left, #999 0%, white 90%);
            background: -moz-linear-gradient(left, #999 0%, white 90%);
        }

        >li.selected {
            background-color: #DEF6CA;
        }

        >li.selected:hover {
            /*background-color: #DEF6CA;*/
        }

    }

    &.active>ul {
        display: block;
    }

}