@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,200;1,300&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.8em;
  color: var(--color-off-black);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-primary);

  &.mask-icon,
  & > .mask-icon {
    background-color: var(--color-primary);
  }
}

li {
  list-style-type: none;
}

h1 {
  font-size: 120%;
  font-weight: 700;
}

h2 {
  font-size: 110%;
  font-weight: 600;
}

h3 {
  font-size: 105%;
  font-weight: 600;
}

.bold {
  font-weight: bold;
}
