#grid_module {
  .rkmd-checkbox {
    @if $mobile {
      margin-bottom: 30px;
    }
  }
}

.grid_legend__title {
  margin: 0 0 80px 0;
}

.grid_legend {
  font-family: 'PT Mono', monospace;
  font-size: 12px;
  transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;

  @if $mobile {
    padding: 60px 0 20px 0;
  } @else {
    margin-top: 20px;
  }
}

.rotate {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  max-width: 1em;
  white-space: nowrap;
}

.w700 {
  font-weight: 700;
  font-size: 13px;
}

#sizeTitle {
  font-family: 'PT Mono', monospace;
  font-size: 12px;
  padding-top: 10px;
}

#colourTitle {
  width: 300px;
  font-family: 'PT Mono', monospace;
  font-size: 12px;
}

#grid-legend-svg text {
    font-family: 'PT Mono', monospace;
    font-size: 11px;
}