.img-container {
    overflow-x: scroll;
    max-width: 280px;  
    
    tr td {
        position: relative;
    }
    
    tr td {
        img {
            height: 160px;
        }
        
        .img-actions {
            position: absolute;
            top: 6px;
            right: 0;
        }
        
    }
        
        button {
            display: block;
            background: none;
            
            :hover {
                cursor: pointer;
            }
            
            i {
                padding: 2px;
                width: 32px;
                height: 28px;
                font-size: 24px;
                color: white;
                align-content: center;
                border-radius: 10%;
                background-color: rgba(0,0,0,0.6);
            }
        }

}