.info_table {
    width: 100%;
    font-family: 'PT Mono', monospace;
    font-size: 13px;
    transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;

    .title {
        font-size: 15px;

        td {
            padding: 10px 0;
        }
    }

    .pad {
        padding-left: 10px;
    }

    td:first-child {
        font-weight: 700;
    }

    td:nth-child(2) {
        padding-left: 5px;
        text-align: right;
    }

    tr:not(.title):hover {
        background-color: $glxlightgreen;
    }
}

.infojHeader {
  font-size: 16px;
  font-weight: 700;
  height: 20px;
  // box-shadow: 0 7px 6px -4px black;
  // margin-top: 5px;
}

.infojBtn {
    font-size: 18px;
    font-weight: 800;
    float: right;
    margin: 0 -2px 0 10px;
    text-shadow: 1px 1px 1px grey;
}

.infojContainer {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  // max-height: 1000px;
  // border-bottom: 1px solid #090;
  // border-top: 2px solid #090;
  margin: 10px 0;
}

.infojTable {
    width: 100%;
    font-size: 12px;
    padding-top: 5px;
    // border-top: 3px solid #090;
    // border-bottom: 1px solid #090;

    // table-layout: fixed;



    .lv-0 {
        font-size: 13px;
        font-weight: 700;
    }

    .lv-1 {
        font-size: 12px;
    }

    .lv-2 {
        font-size: 12px;
        padding-left: 10px;
    }

    .val {
        font-family: 'PT Mono', monospace;
        padding-left: 10px;
    }

    .key {
        color: #090;
    }

    // .col-0 {
    //   background-color: beige;
    // }

    // .col-1 {
    //   background-color: lightcyan;
    // }

    // .col-2 {
    //   background-color: lightpink;
    // }
}
