input {
  width: 100%;

  &:focus {
    outline: none;
  }
  
  &::-moz-focus-inner,
  &::-moz-focus-outer {
    border: 0;
  }

  &::placeholder {
    text-align: left;
  }
}

textarea {
  resize: none;
  width: 100%;
  font-family:inherit;
}

input[type=number] {
  -moz-appearance: textfield;
  text-align: right;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input[type=date], 
input[type=time], 
input[type=datetime-local] {
  font-family: inherit;
  font-size:inherit;
}

input[type=text],
input[type=number],
input[type=date], 
input[type=time], 
input[type=datetime-local] {
  border: 1px solid #ccc;
  padding: 5px;
  font-family:inherit;

  &:focus {
    cursor: text;
  }
}