.drawer.layer-group,
.drawer.layer-view {
    border-top: 3px solid #f0f0f0;
    background-color: #fff;

    >* {
        padding-left: 5px;
    }

    >.header {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 0;

        >img {
            width: 20px;
        }
    }
}

.drawer.layer-group {

    >.drawer.layer-view {
        padding-left: 10px;
    }
}

.drawer.layer-view {

    >.header {
        font-weight: bold;
    }

    >*:last-child {
        padding-bottom: 5px;
    }
}


.layer-view {

    .title {
        margin-bottom: 10px;
        padding: 5px 0;
        border-radius: 2px;
    }

    .meta {
        font-size: 90%;
        padding-bottom: 5px;
    }

    .legend.grid {
      margin-top: 5px;
      display: grid;
      grid-template-columns: 30px auto;
    }

    .legend>svg {
        width: 100%;
    }

    .legend .switch {
      font-size: 12px;
      cursor: pointer;
    }

    .legend .switch.disabled {
      text-decoration: line-through;
      opacity: 0.5;
    }

    .drawer.panel {
        border-top: 1px solid #f0f0f0;
        padding-bottom: 5px;
        padding-right: 5px;
        font-size: 90%;
        box-sizing: border-box;

        button {
            font-size: 94%;
        }

        >.header {
            font-weight: bold;
            padding: 5px 0;
            margin-right: -5px;
        }

        .btn-wide {
          margin: 3px 0;
        }
    }
}