.drawer.layer-group,
.drawer.layer-view {
  margin-top: 7px;
  border-radius: 3px;

  & >.header {

    & ~.drawer.layer-view{
      margin-top: 0
    }
    & ~.drawer.layer-view~.drawer.layer-view{
      margin-top: 7px
    }
  }

  & >.meta {
    padding-bottom: 5px;
  }

  &.expanded {
    padding-bottom: 5px;
  }
}

.drawer.layer-view {
  padding-left: 5px;
  padding-right: 5px;

  & >*:not(.header) {
    margin-top: 5px;
  }
}

.layer-view {
  & .layer-view{
    > .header {
      h2{
        font-weight: normal;
      }
    }
  }
}

.drawer.layer-group {
  padding-left: 3px;
  padding-right: 3px;
  background: var(--color-light);

  & >* {
    padding-left: 4px;
    padding-right: 4px;
  }
  
  & .layer-view{
    > .header{
      h2 {
        font-weight: normal
      }
    }
  }
}

#layers>.drawer.layer-group .drawer.layer-view {
  background: var(--color-light);
  border: none;
  box-shadow: none;
  border-top: 2px solid var(--color-light-secondary);
}

#layers>.layer-view>.drawer,
#layers .drawer.layer-view .drawer {
  border: none;
  box-shadow: none;
}

#layers>.layer-view>.drawer {
  background: var(--color-light);
}