.legend {

  >.grid {
    margin-top: 5px;
    display: grid;
    grid-template-columns: min-content;
    grid-gap: 5px;
    align-items: center;
    justify-content: start;

    >.contents {
      display: contents;
    }

    .label {
      grid-column: 2;
    }
  }

  .switch {
    cursor: pointer;
  }

  .switch.disabled {
    text-decoration: line-through;
    opacity: 0.5;
  }
}