.listview {
    .title {
        font-family: ffmark_bold, sans-serif;
        font-size: 18px;
        margin-bottom: 10px;
    }
    // input {
    //     width: 100%;
    // }
    .drawer {
        margin-top: 10px;
        &.expandable {
            max-height: 35px;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            .expander::before {
                content: "expand_more"
            }
        }
        &.expanded {
            max-height: 2500px;
            .expander::before {
                content: "expand_less"
            }
        }
        &.drawer-group {
            .header-group {
                font-family: ffmark_bold, sans-serif !important;
                font-size: 15px !important;
                line-height: 2;
                &:hover {
                    cursor: pointer;
                }
            }
            &.expandable-group {
                max-height: 30px;
                overflow: hidden;
                transition: max-height 0.3s ease-out;
                .expander-group::before {
                    content: "expand_more"
                }
            }
            &.expanded-group {
                max-height: 2500px;
                .expander-group::before {
                    content: "expand_less"
                }
            }
        }
        .header {
            font-size: 14px;
            line-height: 2;
            font-family: ffmark, sans-serif;
            &:hover {
                cursor: pointer;
            }
            &.edited {
                background-image: linear-gradient(white, #cf9);
            }
        }
        .dashboard {
            border-bottom: 1px solid #333;
            font-size: 14px;
            .title {
                font-family: ffmark_bold, sans-serif;
                font-size: 14px;
                margin-bottom: 7px;
            }
            .meta {
                margin-top: 5px;
                a {
                    color: $glxgreen;
                    font-weight: 600;
                }
            }
            .legend>svg {
                width: 100%;
            }
            .panel {
                padding: 10px 0;
                border-bottom: 1px solid #555;
                &.expandable {
                    max-height: 30px;
                    overflow: hidden;
                    transition: max-height 0.3s ease-out;
                    .expander::before {
                        content: "expand_more"
                    }
                }
                &.expanded {
                    max-height: 2500px !important;
                    .expander::before {
                        content: "expand_less"
                    }
                }
            }
            .block-title {
                width: 100%;
                border-bottom: 1px solid #ccc;
                line-height: 1.5;
                padding-top: 5px;
                margin-bottom: 6px;
            }
            .block {
                padding: 5px 0;
                position: relative;
                input {
                    width: 100%;
                }
                .cancel-btn {
                    color: $glxgreen;
                    font-size: 20px;
                    top: 2px;
                    right: -4px;
                    position: absolute;
                }
                .range-label {
                    display: inline;
                    line-height: 1.7;
                }
                .range-input {
                    float: right;
                    width: 60%;
                }
                .sample-poly {
                    width: 30%;
                    height: 32px;
                    border-radius: 5px;
                    box-shadow: 2px 2px 2px #999;
                    position: absolute;
                    right: 2px;
                    top: 5px;
                }
                .sample-circle {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    box-shadow: 2px 2px 2px #999;
                    position: absolute;
                    right: 2px;
                    top: 0;
                }
                .colour-label {
                    color: #090;
                }
                .colour-swatch {
                    width: 100%;
                    margin-bottom: 10px;
                }
                .colour-td {
                    height: 20px;
                }
            }
            .half {
                width: 48%;
                display: inline-block;
                &.right {
                    float: right;
                }
            }
            .third {
                width: 15%;
                display: inline-block;
                margin: 1px;
                &.right {
                    float: right;
                }
            }
        }
    }
}