.listview {

    .title {
        font-family: ffmark_bold, sans-serif;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .drawer {
        margin-top: 4px;
        &.expandable {
            max-height: 36px;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            .expander::before {
                content: "expand_more"
            }
        }
        &.expanded {
            overflow: visible;
            max-height: 2500px;
            .expander::before {
                content: "expand_less"
            }
        }
        &.drawer-group {

            margin: 10px 0 16px 0;

                .header {
                    /*font-style: italic;*/
                    font-size: 13px;
                    margin-left: 12px;
                    border-bottom: 1px solid #bbb;
                }

                .dashboard {
                    margin-left: 12px;
                }

            .header-group {
                font-family: ffmark_bold, sans-serif !important;
                font-size: 13px;
                line-height: 2;
                display: flex;

                >:nth-child(1){
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
    
                >:nth-child(2){
                    margin-left: auto;
                }
                
                &:hover {
                    cursor: pointer;
                }
            }
            &.expandable-group {
                max-height: 30px;
                overflow: hidden;
                transition: max-height 0.3s ease-out;
                .expander-group::before {
                    content: "expand_more"
                }
            }
            &.expanded-group {
                max-height: 2500px;
                .expander-group::before {
                    content: "expand_less"
                }
            }
        }
        .header {
            font-size: 13.5px;
            line-height: 2;
            font-family: ffmark, sans-serif;
            border-bottom: 1px solid #333;
            display: flex;
            /*padding: 4px 0;*/

            >:nth-child(1){
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            >:nth-child(2){
                margin-left: auto;
            }
            
            img {
                max-width: 20px;
                margin-left: 5px;
            }
            &:hover {
                cursor: pointer;
            }
            &.edited {
                // background-image: linear-gradient(white, $glxlightgreen);
                background-color: $glxlightgreen;
                font-weight: bold;
            }

            i.inactive {
                color: #849483
            }
        }
        .meta {
            margin-top: 10px;
            a {
                color: $glxgreen;
                font-weight: 600;
            }
        }
        .dashboard {
            border-bottom: 1px solid #333;
            font-size: 13px;
            .title {
                font-family: ffmark_bold, sans-serif;
                font-size: 14px;
                margin-bottom: 7px;
            }
            .legend {
                padding-top: 5px;
            }
            .legend>svg {
                width: 100%;
            }
            .panel {
                padding: 10px 0;
                border-bottom: 1px solid #555;
                &.expandable {
                    max-height: 30px;
                    overflow: hidden;
                    transition: max-height 0.3s ease-out;
                    .expander::before {
                        content: "expand_more"
                    }
                }
                &.expanded {
                    max-height: 2500px !important;
                    overflow: visible;
                    .expander::before {
                        content: "expand_less"
                    }
                }
            }
            .block-title {
                width: 100%;
                border-bottom: 1px solid #ccc;
                line-height: 1.5;
                padding-top: 5px;
                margin-bottom: 6px;
            }
            .block {
                padding: 5px 0;
                position: relative;
                input {
                    width: 100%;
                }
                .cancel-btn {
                    color: $glxgreen;
                    font-size: 20px;
                    top: 2px;
                    right: -4px;
                    position: absolute;
                }
                .range-label {
                    display: inline;
                    line-height: 1.7;
                }
                .range-input {
                    float: right;
                    width: 60%;
                } 
                .sample-poly {
                    width: 30%;
                    height: 32px;
                    border-radius: 2px;
                    box-shadow: 2px 2px 2px #999;
                    position: absolute;
                    right: 2px;
                    top: 5px;
                }
                .sample-circle {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    box-shadow: 2px 2px 2px #999;
                    position: absolute;
                    right: 2px;
                    top: 0;
                }
                .colour-label {
                    color: $glxgreen;
                }
                .colour-swatch {
                    width: 100%;
                    margin-bottom: 10px;
                }
                .colour-td {
                    height: 20px;
                }
            }
            .half {
                width: 48%;
                display: inline-block;
                &.right {
                    float: right;
                }
            }
            .third {
                width: 15%;
                display: inline-block;
                margin: 1px;
                &.right {
                    float: right;
                }
            }
        }
    }
}