.location-view.drawer {
  margin-top: 5px;
  border-radius: 5px;
}

.location-view-grid {
  display: grid;
  align-items: stretch;
  grid-gap: 5px 10px;
  padding: 5px 0;
  grid-template-columns: 1fr 1fr;

  & pre {
    background-color: var(--color-light-secondary);
  }

  & .contents {
    display: contents;

    &:not(.inline)>* {
      grid-column: 1 / 3;
    }

    &.inline>.label {
      grid-column: 1;
    }

    &.inline>.val {
      grid-column: 2;
      text-align: right;
      word-break: break-word;
    }
  }

  & .label {
    align-items: center;
    display: flex;
    font-weight: bold;
    height: 1.5em;
  }

  & .label>.tooltip {
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
  }

  & .drawer.group {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px 10px;
    font-size: 90%;
    padding: 0;

    &>.header {
      grid-column: 1 / 3;
    }

    & .label,
    & .val {
      margin-left: 1em;
    }
  }

  & .layer-key {
    grid-column: 1 / 3;

    &>span {
      float: right;
      padding: 3px;
      cursor: help;
      border-radius: 2px;
      font-weight: bold;
      font-size: 0.8em;
      color: black;
      background-color: var(--color-mid);
    }
  }

  & .textarea {
    white-space: break-spaces;
  }

  & .streetview {
    & img {
      width: 100%
    }
  }

  & .dataview {
    text-align: left;
  }
}

.images-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &>div {
    position: relative;
    width: 90px;
    height: 90px;
    flex-grow: 1;
    padding: 2px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .trash {
      position: absolute;
      width: 2em;
      height: 2em;
      right: 0.5em;
      top: 0.5em;
    }

    & input {
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }

  &>div:first-child {
    width: 100%;
    height: 180px;
  }
}