.infojTable {
    text-align: left;
    width: 100%;
    font-size: 12px;
    padding-top: 5px;
    table-layout: fixed;
    .changed {
        color: #090;
    }
    .label {
        padding-top: 5px;
    }
    textarea {
        resize: none;
        width: 100%;
    }
    input {
        width: 100%;
        font-family: 'PT Mono', monospace;
        margin: 5px 0 7px 0;
        box-sizing: border-box;
        padding-left: 3px;
    }
    .range {
        padding: 10px 0 10px 10px;
    }
    .lv-0 {
        font-size: 14px;
        font-weight: 700;
    }
    .lv-1 {
        font-size: 13px;
    }
    .lv-2 {
        font-size: 12px;
        padding-left: 10px;
    }
    .val {
        font-family: 'PT Mono', monospace; // padding-left: 10px;
        font-weight: 400;
        font-size: 12px;
        a {
            color: $glxgreen;
        }
    }
    .num {
        text-align: right;
    }
    .addImageCell {
        vertical-align: middle;
        height: 170px;
        i {
            color: #090;
            font-size: 70px;
            padding: 20px;
            text-shadow: 2px 2px 1px #777;
        }
        input {
            display: none;
        }
    }
    .table-section {
        margin-top: 10px;
        .t-expander {
            vertical-align: bottom;
            float: right;
            font-size: 15px;
            padding-right: 5px;
        }
        &.expandable {
            margin-bottom: 8px;
            max-height: 25px;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            .t-expander::before {
                content: "expand_more"
            }
        }
        &.expanded {
            max-height: none;
            overflow: auto;
            .t-expander::before {
                content: "expand_less"
            }
        }
    }
    .sample-circle {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        box-shadow: 2px 2px 2px #999;
        float: right;
        margin-right: 10px;
    }
}

.leaflet-popup-content {
    overflow-x: hidden;
    .scrollbar_container {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 10px;
        background-color: lightgrey;
        >.scrollbar {
            position: absolute;
            width: 10px;
            background: rgba(0, 0, 0, 0.5);
        }
        &:hover {
            cursor: ns-resize;
        }
    }
    .content::-webkit-scrollbar {
        display: none;
    }
}

.location_list {
    min-height: 30px;
    max-height: 300px;
    width: 450px;
    list-style-type: none;
    text-align: left;
    font-family: 'PT Mono', monospace;
    li {
        padding-left: 15px;
        white-space: nowrap;
    }
    li:hover {
        background-color: $glxlightgreen;
        cursor: pointer;
    }
}

.location_drop {
    display: none;
    position: fixed;
    height: 100%;
    max-height: 30%;
    width: 100%;
    z-index: 999;
    border-bottom: 2px solid #079e00;
    box-shadow: 0 0 10px slategrey;
    >ul {
        -webkit-padding-start: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        list-style-type: none;
        position: absolute;
        background-color: white;
        width: 100%;
        padding-left: 70px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        li {
            font-size: 20px;
            color: $glxgreen;
            list-style: none;
            line-height: 1.5em;
        }
    }
    td {
        padding: 5px 0 5px 10px;
        font-size: 20px;
        color: $glxgreen;
    }
    td:first-child {
        font-size: 14px;
    }
    .location_drop__close {
        position: fixed;
        top: 0;
        right: 0;
        color: $glxgreen;
        font-size: 50px;
        z-index: 1000;
    }
}

.stage-tooltip {
    padding: 0 0 0 4px;
    .btn-tooltip {
        display: table-cell;
        font-size: 25px;
        padding: 4px 2px 4px 2px;
        color: #090;
    }
}