.locationview {
    text-align: left;
    width: 100%;
    font-size: 12px;
    table-layout: fixed;
    .changed {
        color: $glxgreen;
    }
    .label {
        padding-top: 5px;
    }
    a {
        color: $glxgreen;
    }
    textarea {
        resize: none;
        width: 100%;
    }
    input {
        width: 100%;
        font-family: 'PT Mono', monospace;
        margin: 5px 0 7px 0;
        box-sizing: border-box;
        padding-left: 3px;
    }
    .range {
        padding: 10px 0 10px 10px;
    }
    .lv-0 {
        font-size: 14px;
        font-weight: 700;
    }
    .lv-1 {
        font-size: 13px;
    }
    .lv-2 {
        font-size: 12px;
        padding-left: 10px;
    }
    .val {
        font-family: 'PT Mono', monospace; // padding-left: 10px;
        font-weight: 400;
        font-size: 12px;
        white-space: pre-wrap;
    }
    .img_streetview {
        width: 100%;
        padding: 6px;
      }
    .num {
        text-align: right;
    }
    .table-section {
        .t-expander {
            vertical-align: bottom;
            float: right;
            font-size: 15px;
            padding-right: 5px;
        }
        &.expandable {
            margin-bottom: 8px;
            max-height: 25px;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            .t-expander::before {
                content: "expand_more"
            }
        }
        &.expanded {
            max-height: none;
            overflow: auto;
            .t-expander::before {
                content: "expand_less"
            }
        }

        &.chart {
            table { display: inline-table};
            .chart { display: none};
        }

        &:not(.chart) {
            table { display: none};
            .chart { display: block};
        }
    }
    .td_images {
        text-align: center;
        >div {
            padding: 3px 0;
            position: relative;
        }
        .addImage {
            i {
                color: $glxgreen;
                font-size: 70px;
                text-shadow: 2px 2px 2px #999;
            }
            input {
                display: none;
            }
        }
        img {
            width: 100%;
            -webkit-transition: opacity 0.2s linear;
            -moz-transition: opacity 0.2s linear;
            -o-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;
        }
        button {
            background: rgba(255, 255, 255, 0.8);
            position: absolute;
            width: 100%;
            font-size: 20px;
            font-family: ffmark_bold;
            text-align: right;
            top: 0;
            right: 0;
            color: $glxgreen;
        }
    }
    .sample-circle {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        box-shadow: 2px 2px 2px #999;
        float: right;
        margin-right: 10px;
    }

}

.popup {

    .drawer {
        &.expandable {
            max-height: 40px;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            .expander::before {
                content: "expand_more"
            }
        }
        &.expanded {
            max-height: 2500px;
            .expander::before {
                content: "expand_less"
            }
        }
        &.drawer-group {
    
                .header {
                    font-style: italic;
                    font-size: 13px;
                    margin-left: 12px;
                    border-bottom: 1px solid #bbb;
                }
    
                .dashboard {
                    margin-left: 12px;
                }
    
            .header-group {
                font-family: ffmark_bold, sans-serif !important;
                font-size: 14px;
                line-height: 2;
                display: flex;
    
                >:nth-child(1){
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
    
                >:nth-child(2){
                    margin-left: auto;
                }
                
                &:hover {
                    cursor: pointer;
                }
            }
            &.expandable-group {
                max-height: 30px;
                overflow: hidden;
                transition: max-height 0.3s ease-out;
                .expander-group::before {
                    content: "expand_more"
                }
            }
            &.expanded-group {
                max-height: 2500px;
                .expander-group::before {
                    content: "expand_less"
                }
            }
        }
        .header {
            font-size: 14px;
            line-height: 2;
            font-family: ffmark, sans-serif;
            border-bottom: 1px solid #333;
            display: flex;
            padding: 4px 0;
    
            >:nth-child(1){
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
    
            >:nth-child(2){
                margin-left: auto;
            }
            
            img {
                max-width: 20px;
                margin-left: 5px;
            }
            &:hover {
                cursor: pointer;
            }
            &.edited {
                // background-image: linear-gradient(white, $glxlightgreen);
                background-color: $glxlightgreen;
                font-weight: bold;
            }
    
            i.inactive {
                color: #849483
            }
        }
        .meta {
            margin-top: 5px;
            a {
                color: $glxgreen;
                font-weight: 600;
            }
        }
        .dashboard {
            border-bottom: 1px solid #333;
            font-size: 14px;
            .title {
                font-family: ffmark_bold, sans-serif;
                font-size: 14px;
                margin-bottom: 7px;
            }
            .legend>svg {
                width: 100%;
            }
            .panel {
                padding: 10px 0;
                border-bottom: 1px solid #555;
                &.expandable {
                    max-height: 30px;
                    overflow: hidden;
                    transition: max-height 0.3s ease-out;
                    .expander::before {
                        content: "expand_more"
                    }
                }
                &.expanded {
                    max-height: 2500px !important;
                    .expander::before {
                        content: "expand_less"
                    }
                }
            }
            .block-title {
                width: 100%;
                border-bottom: 1px solid #ccc;
                line-height: 1.5;
                padding-top: 5px;
                margin-bottom: 6px;
            }
            .block {
                padding: 5px 0;
                position: relative;
                input {
                    width: 100%;
                }
                .cancel-btn {
                    color: $glxgreen;
                    font-size: 20px;
                    top: 2px;
                    right: -4px;
                    position: absolute;
                }
                .range-label {
                    display: inline;
                    line-height: 1.7;
                }
                .range-input {
                    float: right;
                    width: 60%;
                } 
                .sample-poly {
                    width: 30%;
                    height: 32px;
                    border-radius: 2px;
                    box-shadow: 2px 2px 2px #999;
                    position: absolute;
                    right: 2px;
                    top: 5px;
                }
                .sample-circle {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    box-shadow: 2px 2px 2px #999;
                    position: absolute;
                    right: 2px;
                    top: 0;
                }
                .colour-label {
                    color: $glxgreen;
                }
                .colour-swatch {
                    width: 100%;
                    margin-bottom: 10px;
                }
                .colour-td {
                    height: 20px;
                }
            }
            .half {
                width: 48%;
                display: inline-block;
                &.right {
                    float: right;
                }
            }
            .third {
                width: 15%;
                display: inline-block;
                margin: 1px;
                &.right {
                    float: right;
                }
            }
        }
    }

}