.location-view {
    margin: 5px 0;

    &.drawer {
        background-color: #fff;
        padding: 0 5px;

        >.header {
            padding: 5px 0;
        }
    }

    .drawer.panel {

        max-height: 30px;

        >.header {
            height: 30px;
            padding: 5px 0;
        }

        table {
            width: 100%;
            padding-left: 10px;
        }
    }

    >table {
        width: 100%;
        text-align: left;
        table-layout: fixed;
    }

    .label {
        padding-top: 5px;
    }

    .lv-0 {
        font-size: 95%;
        font-weight: bold;
    }

    .lv-1 {
        font-size: 90%;
    }

    .lv-2 {
        font-size: 85%;
        padding-left: 10px;
    }

    img {
        width: 100%;
    }

    .num {
        text-align: right;
        font-weight: 400;
    }

    .list {
        width: 100%;
        border-top: 2px solid #aaa;
        border-bottom: 1px solid #aaa;
        padding: 10px 0;
        margin-bottom: 20px;

        >.item {
            height: 100%;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;

            a {
                text-decoration: none;
                vertical-align: middle;
            }

            img {
                width: 100%;
            }

            button {
                height: 25px;
                width: 25px;
                background-size: contain;
            }

            .loader {
                height: 40px;
                background-image: url("../icons/icon-loading-bubbles.svg");
            }

            .link-remove {
                height: 25px;
                width: 25px;
                vertical-align: middle;
            }

            .img-remove {
                position: absolute;
                top: 5px;
                left: 5px;
                height: 25px;
                width: 25px;
                background-color: #fff;
                border-radius: 100%;
                box-shadow: 1px 1px 1px #aaa;
            }
        }

        >.add {
            width: 100%;
            height: 40px;
            background-size: contain;
            background-position: center;
            position: relative;

            &:hover {
                cursor: pointer;
            }

            >input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
        }

    }

}