@import 'colours';

form.login {
  margin: 0 auto !important;
  padding: 50px;
  max-width: 600px;
  font-size: 120%;

  .input-group {
    width: 100%;
    padding: 5px 0;
  }
  
  input {
    padding: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #999;
  }
  
  input:focus {
    outline: none;
  }
  
  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
  }
  
  .bar {
    position: relative;
    display: block;
    width: 100%;
  }
  
  .bar:before,
  .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: $primary;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  input:invalid+.bar:before,
  input:invalid+.bar:after {
    background: $no;
  }
  
  .bar:before {
    left: 50%;
  }
  
  .bar:after {
    right: 50%;
  }
  
  input:focus~.bar:before,
  input:focus~.bar:after {
    width: 50%;
  }
  
  button {
    font-size: 100%;
    color: white;
    background-color: $primary;
    margin: 10px 0;
    padding: 8px;
    text-align: center;
    border-radius: 3px;
    border: 0;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }
  
  button:hover:enabled {
    cursor: pointer;
    color: $on;
    background-color: white;
  }
    
  button:disabled {
    background-color: $primary-light;
  }
  
  .msg {
    color: $on;
  }
    
  a,
  button {
    outline: 0;
  }

}