@import url('./base/_colours.css');

@import url('./layout/_ol.css');

body {
  position: absolute; 
  width: 100%;
  height: 100%;
}

.infotip {
  position: fixed;
  z-index: 998;
  margin: 0;
  padding: 5px;
  background-color: white;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
}

.popup {
  position: absolute;
  background-color: white;
  bottom: 12px;
  transform: translate(-50%, 0);

  &::after,
  &::before {
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-top-color: white;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
  }

  & li{
    padding: 5px 10px;
    white-space: nowrap;
    line-height: 1.5;
    list-style-type: none;
  }

  & li:hover {
    background: var(--color-light-secondary);
    cursor: pointer;
  }

  .list {
    max-width: 66vw;
    max-height: 300px;
    overflow-x: hidden;
  }
}

/*** is this global ? ***/
a > img {
  height: 100%;
}

.map-attribution {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: end;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 5px;
  pointer-events: none;
  user-select: none;
}

.attribution-links {
  text-align: right;
  font-size: 95%;
  
  & a {
    pointer-events: auto;
    margin-left: 5px;
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
    background: #fff9;
    border-bottom: 2px solid var(--color-primary-light);
  }
}


/*** which legend is it ? the layer panel legend ?? ***/
.legend {

  & .contents-wrapper,
  &.content .contents-wrapper {
    margin-top: 0.5em;
    gap: 0.5em;

    &>.contents {
      display: contents;
    }

    &.label {
      grid-column: 2;
    }

    &.flex {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: start;

      & .contents {
        display: block;
        flex-basis: 30%;
        flex-shrink: 1;
        
        &.center {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 1em;
          text-align: center;
        }

        &.row {
          display: flex;
          align-items: center;
          margin-bottom: 1em;
        }

        &.horizontal {
          display: flex;
          align-items: center;
          flex-direction: column;
          flex-basis: auto;
          flex-grow: 1;
        }
      }

      &.nowrap {
        flex-wrap: nowrap;

        & .contents {
          justify-content: flex-start;

          & .label {
            text-align: center;
          }
        }
      }
    }

    &.grid {
      display: grid;
      grid-template-columns: min-content;
      align-items: center;
      justify-content: start;
    }
  }

  & .switch {
    cursor: pointer;
  }

  & .switch.disabled {
    /* text-decoration: line-through; */
    opacity: 0.5;
  }
}