.map {
    width: 100%;
    height: 100%;
    box-shadow: inset 4px 0px 4px -4px #777;
    div.leaflet-select-pane svg>g path {
        filter: url(#dropshadow);
    }
}

.hover-box {
    position: fixed;
    margin: 0;
    padding: 5px;
    background: #eee;
    box-shadow: 2px 2px 2px #666;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    opacity: 0;
    z-index: 9999;
}

.leaflet-interactive.wait-cursor-enabled {
    cursor: wait !important;
}
.leaflet-popup-content {
    width: 320px !important;
    overflow-x: hidden;
    >ul {
        max-height: 300px;
        list-style-type: none;
        text-align: left;
        font-family: 'PT Mono', monospace;
        li {
            padding-left: 15px;
            white-space: nowrap;
        }
        li:hover {
            background-color: $glxlightgreen;
            cursor: pointer;
        }
    }
    .locationview {
        padding: 10px;
    }
}