.module {
    padding: 10px 0;

    > .title {
        font-family: ffmark_bold, sans-serif;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .expandable {
        max-height: 35px;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    .expanded {
        max-height: 1000px;
    }

    .drawer {
        margin-top: 10px;

        .header {
            font-size: 15px;
            line-height: 2;
            font-family: ffmark_bold, sans-serif;

            &:hover {
                cursor: pointer;
            }

            .btn {
                font-size: 25px;
                margin-left: 5px;
                float: right;
                color: $glxgreen;
                    
                &.active {
                    text-shadow: 2px 2px 2px #cf9;
                }
            }
        }

        .panel {
            border-bottom: 1px solid #333;
    
            .section {
                padding: 10px 0;
                border-bottom: 1px solid #555;
            }
            
            .filters {
                padding: 5px 0px;
                border-bottom: 1px solid #999;
                overflow: hidden;
                transition: max-height 0.3s ease-out;
                line-height: 1;
                color: #333;

                > div {
                    font-size: 12px;
                    margin-bottom: 5px;
                }
                
                .filter-title {
                    line-height: 2;
                    border-top: 10px!important;
                    margin-bottom: 5px;
                    margin-top: 5px;
                    display: block;
                }
                
                .filter {
                    margin-left: 10px;
                    font-size: 12px;
                    padding-top: 5px;
                    
                    > div {
                        margin-bottom: 5px;
                    }

                }

            }
            /* Begin checkbox style */
            .checkbox {
                border-spacing: 0;
                font-size: small;
                
                .box {
                    position: relative;
                    color: $glxgreen;
                    
                    label {
                        cursor: pointer;
                        position: absolute;
                        width: 23px;
                        height: 23px;
                        top: 0;
                        left: -2px;
                        background: #fff;
                        content: '\E836';
                        font-family: "Material Icons";
                        font-size: 23px;
                        line-height: 23px;
                    }
                    
                    label:after {
                        content: '\E835';
                    }
                    
                    input[type=checkbox]:checked + label:after {
                        content: '\E834';
                    }

                    input[type=checkbox]:disabled + label:after {
                        color: grey;
                    }
                }
                
                .label {
                    font-family: ffmark, sans-serif;
                    font-size: 14px;
                }
            }
            /* End checkbox style */
            
        }
        
           /* Begin range input */  

        .loader {
            height: 2px;
            margin-top: -2px;
            width: 100%;
            position: relative;
            overflow: hidden;
            display: none;
        }
        
         /* End range input */

        .loader:before {
            display: block;
            position: absolute;
            content: "";
            left: -200px;
            width: 200px;
            height: 2px;
            background-color: #fff;
            animation: loading 2s linear infinite;
        }

        @keyframes loading {
            from {
                left: -200px;
                width: 30%;
            }

            50% {
                width: 30%;
            }

            70% {
                width: 70%;
            }

            80% {
                left: 50%;
            }

            95% {
                left: 120%;
            }

            to {
                left: 100%;
            }
        }
    }
}