.scrolly {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding-right: 35px;

    >.scrolly_track {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 10px;
        background-color: #aaa;

        >.scrolly_bar {
            position: absolute;
            width: 10px;
            background: #666;
        }

        &:hover {
            cursor: ns-resize;
        }
    }

    &.disable-hover,
    &.disable-hover * {
        pointer-events: none !important;
    }
}