.tabview {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: white;
  display: grid;
  grid-template-rows: 50px auto;
 
  > .tabs {
    width: 100%;
    height: 50px;
    overflow-x: auto;
    display: flex;
    background-color: $light;

    > .tab > .header {
      height: 100%;
      display: flex;
      align-items: center;
      white-space: nowrap;
      border-right: 1px solid $primary-light;
      padding: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    > .tab.active > .header {
      background-color: white;
      font-weight: bold;
    }
    
    > .tab:not(.active) > .header:hover {
      cursor: pointer;
    }
  }

  > .panel {
    position: relative;

    >.flex-col {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}