.tableview {
    position: absolute;
    overflow: hidden;
    top: calc(100% - 16px);
    right: 0;
    width: 100%;
    /*height: 50%;*/
    height: 100%;
    /*min-height: 50vh;*/
    /*max-height: 100vh;*/
    z-index: 1001;

    .tablepad {
        width: 200px;
        height: 12px;
        background-color: $glxgreen;
        opacity: 0.7;
        border-radius: 8px;
        margin: auto;
        cursor: pointer;
        margin-bottom: 6px;
        box-shadow: 1px 1px 2px #333;
    }

    .tabs {
        position: relative;
        overflow: hidden;
        width: 100%;
        cursor: default;
        background: white;
        height: inherit;

        .content-wrap {
            position: relative;
            cursor: default;
            height: inherit;

            section {
                display: none;
                margin: 0 auto;
                padding: 5px;
                text-align: center;
                height: inherit;
                /*min-height: 50vh;
                max-height: calc(100vh - 70px);*/

                &.content-current {
                    display: block;
                    animation: fadein 2s;
                    -webkit-animation: fadein 2s; /* Safari and Chrome */
                }

                .note {
                    font-size: 12px;
                    padding: 2px;
                    margin-top: 5px;

                    div {
                        display: inline;
                    }

                    .load_more {
                        margin-left: 3px;
                        color: $glxgreen;
                        cursor: pointer;

                        &:hover {
                            text-shadow: 0px 1px 2px #777;
                        }

                        &:active {
                            color: #333;
                        }
                    }
                }

                .table-preholder {
                    position: relative;
                    height: 100vh;
                    background: none;
                }

                .table-holder {
                    /*height: 30vh;*/
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: steelblue;
                    border: dashed 2px orange;
                    /*min-height: 30vh;
                    max-height: 100vh;*/
                }

                p {
                    margin: 0;
                    padding: 0.75em 0;
                    color: rgba(40,44,42,0.05);
                    font-weight: 900;
                    font-size: 4em;
                    line-height: 1;
                }

                .checkbox {
                        padding: 5px 5px 10px 0!important;
                        font-size: 13px;
                        width: 150px;
                        display: inline-block!important;
                        padding-left: 15px;
                        margin-left: 10px;
                }
            }
        }

        nav {
            text-align: center;

            ul {
                position: relative;
                display: flex;
                list-style: none;
                flex-flow: row wrap;
                justify-content: center;

                li {
                    position: relative;
                    z-index: 1;
                    display: block;
                    margin: 0;
                    padding: 5px;
                    text-align: center;
                    -webkit-flex: 1;
                    -moz-flex: 1;
                    -ms-flex: 1;
                    flex: 1;

                    &.tab-current a {
                        color: $glxgreen;
                        -webkit-transform: translate3d(0, 2px, 0);
                        transform: translate3d(0, 2px, 0);
                        line-height: 1.2;
                    }

                    a  {
                        position: relative;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: #74777b;
                        line-height: 1;
                        -webkit-transition: color 0.3s, -webkit-transform 0.3s;
                        transition: color 0.3s, transform 0.3s;
                        

                        &:focus {
                            outline: none;
                        }
        
                        span {
                            vertical-align: middle;
                            font-weight: 700;
                        }
                    }
                }

                li:last-child div {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $glxgreen;
                    content: '';
                    -webkit-transition: -webkit-transform 0.3s;
                    transition: transform 0.3s;
                }
            }
        }
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}