.tabview {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: white;
  display: grid;
  grid-template-rows: 50px auto;

  &.disabled::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    opacity: 0.7;
  }

  & > .tabs {
    width: 100%;
    height: 50px;
    overflow-x: auto;
    display: flex;
    background-color: var(--color-light-secondary);

    & > .tab > .header {
      height: 100%;
      display: flex;
      align-items: center;
      white-space: nowrap;
      border-right: 1px solid var(--color-primary-light);
      padding: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    & > .tab.active > .header {
      background-color: white;
      font-weight: bold;
    }

    & > .tab:not(.active) > .header:hover {
      cursor: pointer;
    }
  }

  & > .panel {
    position: relative;

    & > .flex-col {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    & .dataview-target {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }

    & > .dataview-target {
      position: absolute;
    }
  }

  & .dropdown > ul {
    position: fixed;
  }
}
