.tableview {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    max-height: 100%;
    padding-left: 58px;
    height: 40px;
    z-index: 1001;
    background-color: #fff;
    box-shadow: 1px 0 1px #333;
    .resize_bar {
        height: 5px;
        &:hover {
            background-color: #f9fbe7;
            cursor: row-resize;
        }
    }
    .nav_bar {
        height: 50px;
    }
    .table {
        position: absolute;
        width: calc(100% - 58px);
        height: calc(100% - 55px);
    }


    nav {
        text-align: center;
        ul {
            display: flex;
            list-style: none;
            flex-flow: row wrap;
            justify-content: center;
            li {
                padding: 5px;
                -webkit-flex: 1;
                -moz-flex: 1;
                -ms-flex: 1;
                flex: 1;
                &.tab-current {
                    border-bottom: 3px solid #090;
                }
            }
        }
    }

}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}