#tabview {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: white;
  height: 100%;

  .tabs {
    height: 50px;
    width: 100%;
    overflow-x: auto;
    display: flex;
    background-color: #f0f0f0;

    .tab > .header {
      height: 100%;
      display: flex;
      align-items: center;
      white-space: nowrap;
      border-right: 1px solid #bbb;
      padding: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .tab.active > .header {
      background-color: white;
      font-weight: bold;
    }
    
    .tab:not(.active) > .header:hover {
      cursor: pointer;
    }

    .tab > .panel {
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      height: calc(100% - 50px);
      width: 100%;
      border-top: 1px solid #777;
      overflow-y: auto;
    }

    .tab.active > .panel {
      display: grid;
    }
  }

}

.tabview .target {
  position: absolute;
}

.dataview-container {
  display: grid;
}

.dataview-container > .dataview {
  position: relative;
}

.dataview .toolbar>* {
  height: 25px;
  padding: 0 10px;
}

.dataview .target {
  width: 100%;
  height: 100%;
}