@import url('./_colours.css');

@import url('./_button.css');

@import url('./_drawer.css');

@import url('./_font.css');

@import url('./_icons.css');

@import url('./_inputs.css');

@import url('./_layerview.css');

@import url('./_locationview.css');

@import url('./_tabview.css');

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex-spacer {
  display: flex;
  align-items: center;

  &> :nth-child(2) {
    margin-left: auto;
  }
}

.link-with-img>* {
  height: 1.2em;
  line-height: 1.2em;
  display: inline-block;
  vertical-align: middle;
}

.link-with-img>button,
.link-with-img>.mask-icon,
.link-with-img>.bg-icon {
  width: 1.5em;
}

.dataview-mask {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2
}

.interface-mask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #eeea;

  &>.bg-image {
    margin: 5%;
    height: 90%;
    width: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &>.btn-close {
      position: absolute;
      top: 5%;
      right: 5%;
      width: 50px;
      height: 50px;
      background-color: var(--color-no);
    }
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.headerDrag {
  cursor: grab;
}

dialog>button.close {
  position: absolute;
  top: 0em;
  right: 0em;
  height: 1em;
  width: 1em;
  margin: 0.4em;
}

.dialog {
  position: absolute;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 1px 1px 3px var(--color-primary-light);
  cursor: grab;
  user-select: none;
}

.modal {
  text-wrap: wrap;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #fff;
  z-index: 9999;
}

.pill-container {
  display: flex;
  gap: 4px;
  flex-flow: row wrap;
  padding: 0.5em 0;
}

.pill-container .pill {
  cursor: default;
  padding: 1px 1px 1px 2px;
  border-radius: 2px;
  font-size: 0.9em;
  font-weight: bold;
  color: var(--color-light);
  background-color: var(--color-primary);
  user-select: none;
}

.pill-container .pill button {
  cursor: pointer;
  font-size: 0.8em;
  padding: 0 2px;
}

.mask-icon {
  background-color: var(--color-primary-light);

  &.on {
    background-color: var(--color-on);
  }

  &.no {
    background-color: var(--color-no);
  }
}

.primary-colour {
  color: var(--color-primary);
}

.primary-background {
  color: white;
  background-color: var(--color-primary);
}

.light-background {
  background-color: var(--color-light);
}

.lighter-background {
  background-color: var(--color-light-secondary);
}

.off-black {
  color: var(--color-off-black);
}

.off-black-background {
  color: white;
  background-color: var(--color-off-black);
}

.on-colour {
  color: var(--color-on);
}

.no-colour {
  color: var(--color-no);
}

.val-changed input {
  background-color: var(--color-changed)
}

.val-changed textarea {
  background-color: var(--color-changed)
}

.val-changed button {
  background-color: var(--color-changed)
}

a {
  &.mask-icon,
  &>.mask-icon {
    background-color: var(--color-primary);
  }
}