@import url('./base/_colours.css');

@import url('./base/_common.css');

@import url('./base/_button.css');

@import url('./base/_font.css');

@import url('./base/_globals.css');

@import url('./base/_icons.css');

@import url('./base/_inputs.css');


@import url('./elements/_alert.css');

@import url('./elements/_btnPanel.css');

@import url('./elements/_chkbox.css');

@import url('./elements/_dialog.css');

@import url('./elements/_drawer.css');

@import url('./elements/_dropdown.css');

@import url('./elements/_pills.css');

@import url('./elements/_searchbox.css');


@import url('./layout/_layerview.css');

@import url('./layout/_locationview.css');

@import url('./layout/_tabview.css');

@import url('./layout/_toolbars.css');




.dataview-mask {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2
}

.interface-mask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #eeea;

  &>.bg-image {
    margin: 5%;
    height: 90%;
    width: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &>.btn-close {
      position: absolute;
      top: 5%;
      right: 5%;
      width: 50px;
      height: 50px;
      background-color: var(--color-no);
    }
  }
}







