@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans:300,400,500,700');

// @import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css');

// @import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu:300,400,500,700');

// @import url('https://fonts.googleapis.com/css?family=Lato|Lato:300,400,500,700');

// @import url('https://fonts.googleapis.com/css?family=Sintony|Sintony:300,400,500,700');

@import 'colour_scheme';

@import 'icons';
@import 'inputs';
@import 'button';
@import 'drawer';

@import 'datepicker';
@import 'scrolly';
@import 'tabulator';
@import 'workspace';

@import 'mapview';
@import 'dataview';
@import 'layerview';
@import 'locationview';


*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: absolute; 
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-weight: 400;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bold {
    font-weight: 700;
}

.display-none {
    display: none;
}