@import 'control';

.mapview {
    position: fixed;
    right: 0;
    width: calc(100% - 330px);
    height: 100%;
}

.leaflet-left .leaflet-control-scale {
    margin-left: 63px;
}

.listviews {
    position: fixed;
    height: 100%;
    padding: 0 20px;
    width: 330px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 2px 2px #777;
    overflow: hidden;
    >.scrolly {
        width: calc(100% + 50px);
    }
    .listview {
        padding: 10px 0;
    }
}

.gazetteer {
    padding-top: 5px;
    >ul {
        li {
            list-style: none;
            line-height: 1.2em;
            white-space: nowrap;
            &:hover {
                cursor: pointer;
                background-color: $glxlightgreen;
            }
            &:focus {
                background-color: $glxlightgreen;
            }
            &.active {
                background-color: $glxlightgreen;
            }
        }
    }
}

#desktop_mask {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    z-index: 9999;

    .msg {
        font-family: ffmark_bold;
        font-size: 30px;
        color: #090;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        position: absolute;
        width: 100%;
        text-align: center;
    }
}