.flow>*+* {
  margin-top: var(--flow-space, 1em)
}

*,
::after,
::before {
  box-sizing: border-box
}

ol[class],
ul[class] {
  padding: 0
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
ol[class],
p,
ul[class] {
  margin: 0
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5
}

ol[class],
ul[class] {
  list-style: none
}

a:not([class]) {
  text-decoration-skip-ink: auto
}

img {
  max-width: 100%;
  display: block
}

article>*+* {
  margin-top: 1em
}

button,
input,
select,
textarea {
  font: inherit
}

img:not([alt]) {
  filter: blur(10px)
}

@media (prefers-reduced-motion:reduce) {
  * {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important
  }
}

:root {
  --fc-3xs-min: (var(--fc-s-min) * 0.25);
  --fc-3xs-max: (var(--fc-s-max) * 0.25);
  --fc-2xs-min: (var(--fc-s-min) * 0.5);
  --fc-2xs-max: (var(--fc-s-max) * 0.5);
  --fc-xs-min: (var(--fc-s-min) * 0.75);
  --fc-xs-max: (var(--fc-s-max) * 0.75);
  --fc-s-min: (var(--f-0-min));
  --fc-s-max: (var(--f-0-max));
  --fc-m-min: (var(--fc-s-min) * 1.5);
  --fc-m-max: (var(--fc-s-max) * 1.5);
  --fc-l-min: (var(--fc-s-min) * 2);
  --fc-l-max: (var(--fc-s-max) * 2);
  --fc-xl-min: (var(--fc-s-min) * 3);
  --fc-xl-max: (var(--fc-s-max) * 3);
  --fc-2xl-min: (var(--fc-s-min) * 4);
  --fc-2xl-max: (var(--fc-s-max) * 4);
  --fc-3xl-min: (var(--fc-s-min) * 6);
  --fc-3xl-max: (var(--fc-s-max) * 6);
  --space-3xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
  --space-2xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
  --space-xs: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp));
  --space-s: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp));
  --space-m: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp));
  --space-l: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp));
  --space-xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
  --space-2xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
  --space-3xl: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp));
  --space-3xs-2xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
  --space-2xs-xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
  --space-xs-s: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) * var(--fluid-bp));
  --space-s-m: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) * var(--fluid-bp));
  --space-m-l: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) * var(--fluid-bp));
  --space-l-xl: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) * var(--fluid-bp));
  --space-xl-2xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
  --space-2xl-3xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
  --space-s-l: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-s-min)) * var(--fluid-bp))
}

:root {
  --color-primary: #401505;
  --color-primary-light: #9AABBC;
  --color-primary-mid: #4d5e71;
  --color-secondary: #EC602D;
  --color-secondary-dark: #401505;
  --color-light: #ffffff;
  --color-dark: #003D57;
  --color-cream: #E3D2C1;
  --color-cream-light: #F5F2EE;
  --color-light-gray: #F7F8FA;
  --color-regular-gray: #F0F0F0;
  --color-red: red;
  --font-base: Inter, sans-serif;
  --letter-spacing-normal: 0.1em;
  --radius-regular: 8px;
  --shadow-standard: 0px 4px 4px rgba(0, 0, 0, 0.05);
  --size-200: var(--step--2);
  --size-300: var(--step--1);
  --size-400: var(--step-0);
  --size-500: var(--step-1);
  --size-600: var(--step-2);
  --size-700: var(--step-3);
  --size-800: var(--step-4);
  --size-900: var(--step-5);
  --text-200: var(--step--2);
  --text-300: var(--step--1);
  --text-400: var(--step-0);
  --text-500: var(--step-1);
  --text-600: var(--step-2);
  --text-700: var(--step-3);
  --text-800: var(--step-4);
  --text-900: var(--step-5);
  --transition-standard: .4s ease-in-out;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-mid: 600;
  --weight-bold: 700
}

.bg-primary {
  background: #401505
}

.bg-primary-light {
  background: #9aabbc
}

.bg-primary-mid {
  background: #4d5e71
}

.bg-secondary {
  background: #ec602d
}

.bg-secondary-dark {
  background: #401505
}

.bg-light {
  background: #fff
}

.bg-dark {
  background: #003d57
}

.bg-cream {
  background: #e3d2c1
}

.bg-cream-light {
  background: #f5f2ee
}

.bg-light-gray {
  background: #f7f8fa
}

.bg-regular-gray {
  background: #f0f0f0
}

.bg-red {
  background: red
}

.color-primary {
  color: #401505
}

.color-primary-light {
  color: #9aabbc
}

.color-primary-mid {
  color: #4d5e71
}

.color-secondary {
  color: #ec602d
}

.color-secondary-dark {
  color: #401505
}

.color-light {
  color: #fff
}

.color-dark {
  color: #003d57
}

.color-cream {
  color: #e3d2c1
}

.color-cream-light {
  color: #f5f2ee
}

.color-light-gray {
  color: #f7f8fa
}

.color-regular-gray {
  color: #f0f0f0
}

.color-red {
  color: red
}

.display-none {
  display: none !important
}

.display-block {
  display: block !important
}

.display-inline-block {
  display: inline-block !important
}

.font-base {
  font-family: Inter, sans-serif
}

.gap-top-200 {
  margin-top: var(--step--2)
}

.gap-top-300 {
  margin-top: var(--step--1)
}

.gap-top-400 {
  margin-top: var(--step-0)
}

.gap-top-500 {
  margin-top: var(--step-1)
}

.gap-top-600 {
  margin-top: var(--step-2)
}

.gap-top-700 {
  margin-top: var(--step-3)
}

.gap-top-800 {
  margin-top: var(--step-4)
}

.gap-top-900 {
  margin-top: var(--step-5)
}

.gap-bottom-200 {
  margin-bottom: var(--step--2)
}

.gap-bottom-300 {
  margin-bottom: var(--step--1)
}

.gap-bottom-400 {
  margin-bottom: var(--step-0)
}

.gap-bottom-500 {
  margin-bottom: var(--step-1)
}

.gap-bottom-600 {
  margin-bottom: var(--step-2)
}

.gap-bottom-700 {
  margin-bottom: var(--step-3)
}

.gap-bottom-800 {
  margin-bottom: var(--step-4)
}

.gap-bottom-900 {
  margin-bottom: var(--step-5)
}

.leading-tight {
  line-height: 1.2
}

.leading-mid {
  line-height: 1.5
}

.leading-loose {
  line-height: 1.7
}

.letter-spacing-normal {
  letter-spacing: .1em
}

.measure-long {
  max-width: 75ch
}

.measure-short {
  max-width: 60ch
}

.measure-compact {
  max-width: 44ch
}

.measure-tiny {
  max-width: 30ch
}

.pad-200 {
  padding: var(--step--2)
}

.pad-300 {
  padding: var(--step--1)
}

.pad-400 {
  padding: var(--step-0)
}

.pad-500 {
  padding: var(--step-1)
}

.pad-600 {
  padding: var(--step-2)
}

.pad-700 {
  padding: var(--step-3)
}

.pad-800 {
  padding: var(--step-4)
}

.pad-900 {
  padding: var(--step-5)
}

.pad-top-200 {
  padding-top: var(--step--2)
}

.pad-top-300 {
  padding-top: var(--step--1)
}

.pad-top-400 {
  padding-top: var(--step-0)
}

.pad-top-500 {
  padding-top: var(--step-1)
}

.pad-top-600 {
  padding-top: var(--step-2)
}

.pad-top-700 {
  padding-top: var(--step-3)
}

.pad-top-800 {
  padding-top: var(--step-4)
}

.pad-top-900 {
  padding-top: var(--step-5)
}

.pad-bottom-200 {
  padding-bottom: var(--step--2)
}

.pad-bottom-300 {
  padding-bottom: var(--step--1)
}

.pad-bottom-400 {
  padding-bottom: var(--step-0)
}

.pad-bottom-500 {
  padding-bottom: var(--step-1)
}

.pad-bottom-600 {
  padding-bottom: var(--step-2)
}

.pad-bottom-700 {
  padding-bottom: var(--step-3)
}

.pad-bottom-800 {
  padding-bottom: var(--step-4)
}

.pad-bottom-900 {
  padding-bottom: var(--step-5)
}

.pad-left-200 {
  padding-left: var(--step--2)
}

.pad-left-300 {
  padding-left: var(--step--1)
}

.pad-left-400 {
  padding-left: var(--step-0)
}

.pad-left-500 {
  padding-left: var(--step-1)
}

.pad-left-600 {
  padding-left: var(--step-2)
}

.pad-left-700 {
  padding-left: var(--step-3)
}

.pad-left-800 {
  padding-left: var(--step-4)
}

.pad-left-900 {
  padding-left: var(--step-5)
}

.radius-regular {
  border-radius: 8px
}

.shadow-standard {
  box-shadow: 0 4px 4px rgba(0, 0, 0, .05)
}

.text-200 {
  font-size: var(--step--2)
}

.text-300 {
  font-size: var(--step--1)
}

.text-400 {
  font-size: var(--step-0)
}

.text-500 {
  font-size: var(--step-1)
}

.text-600 {
  font-size: var(--step-2)
}

.text-700 {
  font-size: var(--step-3)
}

.text-800 {
  font-size: var(--step-4)
}

.text-900 {
  font-size: var(--step-5)
}

.text-align-center {
  text-align: center
}

.text-decoration-none {
  text-decoration: none
}

.weight-light {
  font-weight: 300
}

.weight-regular {
  font-weight: 400
}

.weight-mid {
  font-weight: 600
}

.weight-bold {
  font-weight: 700
}

.visibility-visible {
  visibility: visible
}

.visibility-invisible {
  visibility: hidden
}

.width-full {
  width: 100%
}

@media (min-width:48em) {
  .md\:display-none {
    display: none !important
  }

  .md\:display-block {
    display: block !important
  }

  .md\:display-inline-block {
    display: inline-block !important
  }

  .md\:text-200 {
    font-size: var(--step--2)
  }

  .md\:text-300 {
    font-size: var(--step--1)
  }

  .md\:text-400 {
    font-size: var(--step-0)
  }

  .md\:text-500 {
    font-size: var(--step-1)
  }

  .md\:text-600 {
    font-size: var(--step-2)
  }

  .md\:text-700 {
    font-size: var(--step-3)
  }

  .md\:text-800 {
    font-size: var(--step-4)
  }

  .md\:text-900 {
    font-size: var(--step-5)
  }

  .md\:text-align-center {
    text-align: center
  }

  .md\:visibility-visible {
    visibility: visible
  }

  .md\:visibility-invisible {
    visibility: hidden
  }
}

@media (min-width:68em) {
  .lg\:display-none {
    display: none !important
  }

  .lg\:display-block {
    display: block !important
  }

  .lg\:display-inline-block {
    display: inline-block !important
  }

  .lg\:text-200 {
    font-size: var(--step--2)
  }

  .lg\:text-300 {
    font-size: var(--step--1)
  }

  .lg\:text-400 {
    font-size: var(--step-0)
  }

  .lg\:text-500 {
    font-size: var(--step-1)
  }

  .lg\:text-600 {
    font-size: var(--step-2)
  }

  .lg\:text-700 {
    font-size: var(--step-3)
  }

  .lg\:text-800 {
    font-size: var(--step-4)
  }

  .lg\:text-900 {
    font-size: var(--step-5)
  }

  .lg\:text-align-center {
    text-align: center
  }

  .lg\:visibility-visible {
    visibility: visible
  }

  .lg\:visibility-invisible {
    visibility: hidden
  }
}

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1140;
  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)))
}

@media screen and (min-width:1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px)
  }
}

:root {
  --f--2-min: 9.72;
  --f--2-max: 10.24;
  --step--2: calc(((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) * var(--fluid-bp));
  --f--1-min: 11.67;
  --f--1-max: 12.8;
  --step--1: calc(((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) * var(--fluid-bp));
  --f-0-min: 14;
  --f-0-max: 16;
  --step-0: calc(((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) * var(--fluid-bp));
  --f-1-min: 16.8;
  --f-1-max: 20;
  --step-1: calc(((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) * var(--fluid-bp));
  --f-2-min: 20.16;
  --f-2-max: 25;
  --step-2: calc(((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) * var(--fluid-bp));
  --f-3-min: 24.19;
  --f-3-max: 31.25;
  --step-3: calc(((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) * var(--fluid-bp));
  --f-4-min: 29.03;
  --f-4-max: 39.06;
  --step-4: calc(((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) * var(--fluid-bp));
  --f-5-min: 34.84;
  --f-5-max: 48.83;
  --step-5: calc(((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) * var(--fluid-bp))
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: var(--wrapper-max-width, 80rem);
  padding: 0 var(--wrapper-padding, 1rem)
}

.wrapper--short {
  --wrapper-max-width: 48rem
}

.button {
  --button-background: var(--color-secondary);
  --button-foreground: var(--color-secondary-dark);
  display: inline-block;
  white-space: nowrap;
  padding: var(--size-200) var(--size-400);
  text-decoration: none;
  background: var(--button-background);
  color: var(--button-foreground);
  border-radius: var(--radius-regular);
  transition: var(--transition-standard);
  border: none;
  cursor: pointer;
  text-align: center
}

.button:hover {
  --button-background: var(--color-secondary-dark);
  --button-foreground: var(--color-secondary);
  box-shadow: none;
  color: var(--button-foreground)
}

.button--outline {
  --button-background: none;
  box-shadow: 0 0 0 2px currentColor inset;
  color: currentColor
}

.form-box {
  position: relative;
  overflow: hidden
}

.form-box .button {
  display: block;
  width: 100%
}

.form-box p {
  text-align: center;
  margin-bottom: 0;
  color: var(--color-secondary)
}

.form-box p a {
  text-decoration: none
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh
}

.form-container__inner {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto
}

.form-container__title {
  font-size: var(--text-700)
}

.logo {
  display: inline-block;
  width: 10rem;
  height: auto
}

.panel {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: var(--radius-regular);
  background: var(--color-light);
  padding: var(--size-700)
}

.panel :last-child {
  margin-bottom: 0
}

input,
textarea {
  display: block;
  width: 100%;
  padding: var(--size-200);
  border: 1px solid var(--color-primary-light);
  border-radius: var(--radius-regular)
}

label {
  font-size: var(--text-300);
  font-weight: var(--weight-mid)
}

html {
  scroll-behavior: smooth
}

body {
  background: var(--color-light-gray)
}

:focus {
  outline: 1px solid currentColor
}

:hover:focus {
  outline: 0
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url(https://geolytix.github.io/public/fonts/inter-v2-latin-regular.woff2) format('woff2'), url(https://geolytix.github.io/public/fonts/inter-v2-latin-regular.woff) format('woff')
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), url(https://geolytix.github.io/public/fonts/inter-v2-latin-700.woff2) format('woff2'), url(https://geolytix.github.io/public/fonts/inter-v2-latin-700.woff) format('woff')
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''), url(https://geolytix.github.io/public/fonts/inter-v2-latin-600.woff2) format('woff2'), url(https://geolytix.github.io/public/fonts/inter-v2-latin-600.woff) format('woff')
}

body {
  font-family: var(--font-base);
  font-size: var(--step-0);
  color: var(--color-primary-mid)
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-primary);
  margin-top: 0;
  margin-bottom: .25em;
  line-height: 1.05;
  font-weight: var(--weight-mid)
}

h1 {
  font-size: var(--text-800)
}

h2 {
  font-size: var(--text-700)
}

h3 {
  font-size: var(--text-500)
}

h4 {
  font-size: var(--text-300)
}

h5 {
  font-size: var(--text-200)
}

p {
  margin-bottom: var(--text-400)
}

a {
  color: currentColor
}

.eyebrow {
  font-size: var(--text-300);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-normal)
}