/* public/css/base/_colours.css */
:root {
  --color-off-black: #3f3f3f;
  --color-primary: #003d57;
  --color-primary-light: #939faa;
  --color-light: #ffffff;
  --color-off-light: #eeeeee;
  --color-light-secondary: #f2f2f2;
  --color-light-tertiary: #fafafa;
  --color-mid: #e3e3e3;
  --color-on: #e18335;
  --color-no: #a21309;
  --color-changed: #ffffa7;
}
.primary-colour {
  color: var(--color-primary);
}
.primary-background {
  color: var(--color-light);
  background-color: var(--color-primary);
}
.light-background {
  background-color: var(--color-light);
}
.light-colour {
  color: var(--color-light);
}
.lighter-background {
  background-color: var(--color-light-secondary);
}
.off-black {
  color: var(--color-off-black);
}
.off-black-background {
  color: white;
  background-color: var(--color-off-black);
}
.on-colour {
  color: var(--color-on);
}
.no-colour {
  color: var(--color-no);
}

/* public/css/layout/_ol.css */
.ol-scale-line {
  position: static;
  background: none;
}
.ol-scale-line-inner {
  border: 2px solid #222;
  border-top: none;
  color: #222;
  text-align: center;
  margin: 1px;
  will-change: contents, width;
}
.ol-unselectable,
.ol-viewport {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.ol-zoom {
  top: 0.5em;
  left: 0.5em;
  & .ol-zoom-in,
  & .ol-zoom-out {
    border-radius: 2px 2px 0 0;
  }
}
.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 4px;
  padding: 2px;
  & button {
    display: block;
    margin: 1px;
    padding: 0;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: inherit;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: rgba(0, 60, 136, .5);
    border: none;
    border-radius: 2px;
  }
}

/* public/css/layout/_map_attribution.css */
body {
  position: absolute;
  width: 100%;
  height: 100%;
}
.map-attribution {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: end;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 5px;
  pointer-events: none;
  user-select: none;
  & > .logo {
    pointer-events: auto;
    height: 1em;
  }
  .attribution-links {
    text-align: right;
    font-size: 95%;
    & a {
      pointer-events: auto;
      margin-left: 5px;
      display: inline-block;
      white-space: nowrap;
      line-height: 1;
      background: #fff9;
      border-bottom: 2px solid var(--color-primary-light);
    }
  }
}

/* public/css/layout/_legend.css */
.legend {
  & .contents-wrapper,
  &.content .contents-wrapper {
    margin-top: 0.5em;
    gap: 0.5em;
    & > .contents {
      display: contents;
    }
    &.label {
      grid-column: 2;
    }
    &.flex {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: start;
      & .contents {
        display: block;
        flex-basis: 30%;
        flex-shrink: 1;
        &.center {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 1em;
          text-align: center;
        }
        &.row {
          display: flex;
          align-items: center;
          margin-bottom: 1em;
        }
        &.horizontal {
          display: flex;
          align-items: center;
          flex-direction: column;
          flex-basis: auto;
          flex-grow: 1;
        }
      }
      &.nowrap {
        flex-wrap: nowrap;
        & .contents {
          justify-content: flex-start;
          & .label {
            text-align: center;
          }
        }
      }
    }
    &.grid {
      display: grid;
      grid-template-columns: min-content;
      align-items: center;
      justify-content: start;
    }
  }
  & .switch {
    cursor: pointer;
  }
  & .switch.disabled {
    opacity: 0.5;
  }
}

/* public/css/layout/_infotip.css */
.infotip {
  position: fixed;
  z-index: 998;
  margin: 0;
  padding: 5px;
  background-color: white;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
}

/* public/css/layout/_popup.css */
.popup {
  position: absolute;
  background-color: white;
  bottom: 12px;
  transform: translate(-50%, 0);
  &::after,
  &::before {
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
  }
  &::after {
    border-top-color: white;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
  }
  & li {
    padding: 5px 10px;
    white-space: nowrap;
    line-height: 1.5;
    list-style-type: none;
  }
  & li:hover {
    background: var(--color-light-secondary);
    cursor: pointer;
  }
  .list {
    max-width: 66vw;
    max-height: 300px;
    overflow-x: hidden;
  }
}

/* public/css/_mapp.css */
