/* public/css/base/_colours.css */
:root {
  --color-primary: #003d57;
  --color-base: #f2f2f2;
  --color-base-secondary: #f7f7f7;
  --color-base-tertiary: #fafafa;
  --color-border: #dddddd;
  --color-font: #3f3f3f;
  --color-font-mid: #858585;
  --color-font-contrast: #ffffff;
  --color-active: #d57120;
  --color-hover: #939faa;
  --color-changed: #ffffa7;
  --color-info: #0b6f50;
  --color-danger: #a21309;
}
* {
  transition: 0.2s ease-in-out;
  transition-property: background-color;
}

/* public/css/base/_body.css */
body {
  font-family: "Titillium Web", sans-serif;
  font-size: 0.8em;
  color: var(--color-font);
  background-color: var(--color-base);
  position: absolute;
  width: 100%;
  height: 100%;
}

/* public/css/layout/_ol.css */
.ol-scale-line {
  position: static;
  background: none;
}
.ol-scale-line-inner {
  border: 2px solid var(--color-font);
  border-top: none;
  color: var(--color-font);
  text-align: center;
  margin: 1px;
  will-change: contents, width;
}
.ol-unselectable,
.ol-viewport {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.ol-zoom {
  top: 0.5em;
  left: 0.5em;
  & .ol-zoom-in,
  & .ol-zoom-out {
    border-radius: 2px 2px 0 0;
  }
}
.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
  & button {
    display: block;
    margin: 1px;
    padding: 0;
    color: var(--color-font-contrast);
    font-weight: 700;
    text-decoration: none;
    font-size: inherit;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: 0.4em;
    background-color: rgba(0, 60, 136, 0.5);
    border: none;
    border-radius: 2px;
  }
}

/* public/css/layout/_map_attribution.css */
.map-attribution {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: end;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 5px;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  & > .logo {
    pointer-events: auto;
    height: 1em;
  }
  .attribution-links {
    text-align: right;
    font-size: 95%;
    & a {
      pointer-events: auto;
      margin-left: 5px;
      display: inline-block;
      white-space: nowrap;
      line-height: 1;
      background-color: var(--color-base-secondary);
      padding: 0 1px;
      border-radius: 2px;
      border-bottom: 1px solid var(--color-border);
    }
  }
}

/* public/css/layout/_legend.css */
.legend {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  & .contents-wrapper,
  &.content .contents-wrapper {
    margin-top: 0.5em;
    gap: 0.5em;
    & > .contents {
      display: contents;
    }
    &.label {
      grid-column: 2;
    }
    &.flex {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      justify-content: start;
      & .contents {
        display: block;
        flex-basis: 30%;
        flex-shrink: 1;
        &.center {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 1em;
          text-align: center;
        }
        &.row {
          display: flex;
          align-items: center;
          margin-bottom: 1em;
        }
        &.horizontal {
          display: flex;
          align-items: center;
          flex-direction: column;
          flex-basis: auto;
          flex-grow: 1;
        }
      }
      &.nowrap {
        flex-wrap: nowrap;
        & .contents {
          justify-content: flex-start;
          & .label {
            text-align: center;
          }
        }
      }
    }
    &.grid {
      display: grid;
      grid-template-columns: min-content;
      align-items: center;
      justify-content: start;
    }
  }
  & .switch {
    cursor: pointer;
  }
  & .switch.disabled {
    opacity: 0.5;
  }
  .legend-icon {
    display: flex;
  }
}

/* public/css/layout/_infotip.css */
.infotip {
  position: fixed;
  isolation: isolate;
  margin: 0;
  padding: 5px;
  background-color: var(--color-base-tertiary);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
}

/* public/css/layout/_popup.css */
.popup {
  position: absolute;
  background-color: var(--color-base-tertiary);
  color: var(--color-font);
  border: solid 1px var(--color-border);
  bottom: 12px;
  transform: translate(-50%, 0);
  &::after,
  &::before {
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
  }
  &::after {
    border-top-color: var(--color-border);
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
  }
  & li {
    padding: 5px 10px;
    white-space: nowrap;
    line-height: 1.5;
    list-style-type: none;
  }
  & li:hover {
    background-color: var(--color-base-secondary);
    cursor: pointer;
  }
  .list {
    max-width: 66vw;
    max-height: 300px;
    overflow-x: hidden;
  }
}

/* public/css/_mapp.css */
