@import "https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,200;1,300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0";

/* public/css/base/_colours.css */
:root {
  --color-primary: #003d57;
  --color-base: #f2f2f2;
  --color-base-secondary: #f7f7f7;
  --color-base-tertiary: #fafafa;
  --color-border: #dddddd;
  --color-font: #3f3f3f;
  --color-font-mid: #858585;
  --color-font-contrast: #ffffff;
  --color-active: #d57120;
  --color-hover: #939faa;
  --color-changed: #ffffa7;
  --color-info: #0b6f50;
  --color-danger: #a21309;
}
* {
  transition: 0.2s ease-in-out;
  transition-property: background-color;
}

/* public/css/base/_common.css */
.display-none {
  display: none !important;
}
.desktop-display-none {
  display: none;
}
.hover:hover {
  cursor: pointer;
}
.box-shadow {
  border: 1px solid var(--color-border);
  box-shadow: var(--color-border) 0px 1px 4px;
}
.bold {
  font-weight: bold;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.link-with-img {
  display: flex;
  width: fit-content;
  align-items: center;
  text-align: center;
  text-overflow: ellipsis;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.outlined {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 0.2em 0.5em;
  &.active {
    border: 1px solid var(--color-active);
  }
}
.val-changed {
  input[type=number],
  input[type=text],
  input[type=search],
  input[type=date],
  input[type=datetime-local],
  textarea,
  button,
  .select-dropdown,
  .dropdown > .head {
    background-color: var(--color-changed);
    color: var(--color-font);
  }
  label.checkbox {
    background-color: var(--color-changed);
    color: var(--color-font);
    border-radius: 2px;
  }
  .material-symbols-outlined:after {
    color: var(--color-font);
  }
}
@media only screen and (max-width: 768px) {
  .mobile-hidden {
    visibility: hidden;
  }
  .mobile-display-none {
    display: none !important;
  }
  .mobile-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

/* public/css/base/_button.css */
button {
  border: none;
  outline: none;
  background: none;
  text-align: center;
  color: var(--color-primary);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  > .material-symbols-outlined {
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    opacity: 0.3;
    &:hover {
      cursor: not-allowed;
    }
  }
  &.wide {
    width: 100%;
  }
  &.action > span.material-symbols-outlined {
    font-size: inherit;
    vertical-align: middle;
  }
  &.primary {
    background-color: var(--color-primary);
    color: var(--color-font-contrast);
  }
  &.reject {
    background-color: var(--color-danger);
    color: var(--color-font-contrast);
  }
  &.accept {
    background-color: var(--color-info);
    color: var(--color-font-contrast);
  }
  &.flat {
    border-radius: 1px;
    border-bottom: 1px solid var(--color-border);
    padding: 0.3em;
    &.active {
      border-bottom: 1px solid var(--color-active);
    }
  }
  &.underline {
    display: none;
    margin-bottom: 5px;
    text-decoration: underline;
  }
  &.raised {
    border-radius: 3px;
    border: 1px solid var(--color-border);
    box-shadow: 1px 1px 2px var(--color-border);
    padding: 0.3em;
    &.active {
      box-shadow: none;
    }
  }
  &.active {
    color: var(--color-active);
  }
}

/* public/css/base/_globals.css */
body {
  font-family: "Titillium Web", sans-serif;
  font-size: 0.8em;
  color: var(--color-font);
  background-color: var(--color-base);
  position: absolute;
  width: 100%;
  height: 100%;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  font-family: inherit;
  font-size: inherit;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-primary);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
li {
  list-style-type: none;
}
h1 {
  font-size: 120%;
  font-weight: 700;
}
h2 {
  font-size: 110%;
  font-weight: 600;
}
h3 {
  font-size: 105%;
  font-weight: 600;
}
a > img {
  height: 100%;
}
select {
  &:focus {
    outline: none;
  }
}

/* public/css/base/_inputs.css */
input {
  width: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    text-align: left;
    color: var(--color-font-mid);
  }
  &::-ms-input-placeholder {
    color: var(--color-font-mid);
  }
  &.invalid {
    opacity: 0.5;
    outline: 1px solid var(--color-danger);
  }
}
input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
textarea {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 1px dotted var(--color-border);
  background-color: var(--color-base);
  color: var(--color-font);
  border-radius: 3px;
  &:focus {
    outline: none;
  }
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: right;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=search],
input[type=date],
input[type=time],
input[type=datetime-local] {
  background-color: var(--color-base);
  border: 1px solid var(--color-border);
  color: var(--color-font);
  padding: 5px;
  border-radius: 3px;
  &:focus {
    cursor: text;
  }
}
input[type=text],
input[type=number] {
  padding: 5px;
  border: none;
  background-color: var(--color-base);
  color: var(--color-font);
  border-bottom: 1px dotted var(--color-border);
  display: inline-block;
  width: 100%;
  min-width: 2.4ch;
  &:focus {
    cursor: text;
  }
}
input[type=search]::after {
  color: var(--color-font);
}
input[type=search]:focus + ul,
input[type=search] + ul:active {
  display: block;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration:hover,
input[type=search]::-webkit-search-cancel-button:hover {
  cursor: pointer;
}
input[type=search]::-webkit-calendar-picker-indicator {
  display: none !important;
}

/* public/css/base/_material_icons.css */
.material-symbols-outlined-important {
  font-family: "Material Symbols Outlined", sans-serif !important;
}
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 0,
    "opsz" 24;
  text-align: center;
  color: var(--color-primary);
  &.active {
    color: var(--color-active);
  }
  &.color-info {
    color: var(--color-info);
  }
  &.color-danger {
    color: var(--color-danger);
  }
  &.color-font-mid {
    color: var(--color-font-mid);
  }
  &.close::after {
    content: "close";
  }
}
.toggle-on {
  color: var(--color-active);
}
.toggle {
  &::after {
    content: "toggle_off";
  }
  &.toggle-on::after {
    content: "toggle_on";
  }
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
.active > .material-symbols-outlined {
  color: var(--color-active);
}

/* public/css/elements/_alert_confirm.css */
dialog.alert-confirm {
  width: 350px;
  max-height: 70%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &:focus {
    outline: none;
  }
  h4 {
    padding: 0.5em 1em;
    background-color: var(--color-primary);
    border-bottom: solid 2px var(--color-border);
    color: var(--color-font-contrast);
    width: 100%;
  }
  .content {
    padding: 1em;
  }
  p {
    white-space: pre;
    text-wrap: pretty;
    text-align: center;
    margin: 0 1em 1em;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.2em;
  }
  button {
    float: right;
    font-size: 0.9em;
    color: var(--color-primary);
    z-index: 1005;
  }
}
@media only screen and (max-width: 768px) {
  dialog.alert-confirm {
    min-width: 350px;
    max-width: 70%;
  }
}

/* public/css/elements/_btnPanel.css */
.btn-panel {
  width: 100%;
  padding: 0.3em 0.5em;
  background-color: var(--color-base-tertiary);
  border: 1px solid var(--color-border);
  border-radius: 3px;
  box-shadow: 1px 1px 3px var(--color-border);
  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
    & h3 {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  & .panel {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 15em;
    left: 0;
    right: 0;
    isolation: auto;
    color: var(--color-font);
    background: var(--color-base-tertiary);
    overflow: hidden;
    padding: 1em 1.5em;
    opacity: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--color-border);
    pointer-events: none;
    transition: 0.2s ease-in-out;
    & .content {
      padding: 1em;
    }
    & .panel {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 15em;
      left: 0;
      right: 0;
      isolation: auto;
      color: var(--color-font);
      background: var(--color-base-tertiary);
      overflow: hidden;
      padding: 1em 1.5em;
      opacity: 0;
      border-radius: 3px;
      box-shadow: 1px 1px 3px var(--color-border);
      pointer-events: none;
      transition: 0.2s ease-in-out;
      & .content {
        padding: 1em;
      }
      &::after {
        content: initial;
      }
    }
    &.active {
      background-color: var(--color-primary);
      color: #fff;
      & .panel {
        bottom: 2em;
        pointer-events: auto;
        opacity: 1;
      }
      &.downward .panel {
        bottom: -7em;
      }
    }
    &.downward .panel {
      bottom: -7em;
    }
  }
  &.downward .panel {
    bottom: -15em;
  }
}

/* public/css/elements/_chkbox.css */
label.checkbox {
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
  }
  &.inline {
    display: inline-block;
  }
  & > span {
    vertical-align: middle;
  }
  &.inline + span {
    vertical-align: middle;
  }
  & > input {
    display: none;
  }
  & > .material-symbols-outlined:after {
    content: "check_box_outline_blank";
  }
  & input:checked + .material-symbols-outlined:after {
    content: "select_check_box";
  }
  & input:disabled ~ * {
    opacity: 0.4;
  }
}

/* public/css/elements/_dialog.css */
.headerDrag {
  cursor: grab;
}
dialog {
  background-color: var(--color-base);
  color: var(--color-font);
  isolation: isolate;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  & > button.close {
    position: absolute;
    top: 0em;
    right: 0em;
    height: 1em;
    width: 1em;
    margin: 0.4em;
  }
  &:focus {
    outline: none;
  }
  & > header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: -1px;
    left: 0;
    background-color: inherit;
    & > :first-child {
      flex-grow: 1;
    }
    & > .material-symbols-outlined {
      font-size: 1.2em;
      &:after {
        color: var(--color-font-mid);
        font-size: inherit;
      }
    }
    & button {
      height: 1em;
      width: 1em;
      margin: 0.4em;
    }
  }
  &.dialog {
    position: absolute;
    border: none;
    border-radius: 2px;
    cursor: grab;
    user-select: none;
    padding: 5px;
    overflow: unset !important;
    & > .content {
      & > .filter-list {
        max-height: 350px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  }
  &.modal {
    position: fixed;
    border: none;
    border-radius: 2px;
    text-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.popout .material-symbols-outlined.toggle-on {
    &::after {
      color: var(--color-active);
    }
  }
  &.popout {
    [data-id=popout-btn] {
      display: none;
    }
    .drawer {
      padding: 2px;
      border: none;
      background-color: var(--color-base-secondary);
      color: var(--color-font);
      box-shadow: none;
    }
    .headerDrag {
      h2 {
        font-weight: normal;
      }
    }
  }
  .minimize-btn::after {
    content: "minimize";
  }
  &.minimized {
    .content {
      display: none;
    }
    .minimize-btn::after {
      content: "fullscreen";
    }
  }
}

/* public/css/elements/_drawer.css */
.disabled > .drawer {
  opacity: 0.4;
  pointer-events: none;
}
.drawer {
  padding: 2px;
  background-color: var(--color-base-secondary);
  color: var(--color-font);
  &.expandable:not(.empty) > .header:hover {
    cursor: pointer;
  }
  &.expandable.empty > .header > .caret {
    display: none;
  }
  &.expandable > .header > .material-symbols-outlined.caret::after {
    content: "keyboard_arrow_down";
    color: var(--color-font-mid);
    line-height: 1.5em;
  }
  &.expandable:not(.expanded) > *:not(.header) {
    display: none !important;
  }
  &.expanded > .header > .material-symbols-outlined.caret::after {
    content: "keyboard_arrow_up";
    color: var(--color-font-mid);
    line-height: 1.5em;
  }
  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
  & > .header {
    display: flex;
    align-items: center;
    color: var(--color-font);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .material-symbols-outlined {
      font-size: 1.5em;
    }
    & > :not(button):not(label):not(input) {
      pointer-events: none;
    }
    & > div,
    & > button {
      margin-left: 5px;
      width: 1.5em;
      height: 1.5em;
    }
    & > :first-child {
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      flex-grow: 1;
    }
  }
  &.flat {
    border-radius: 2px;
    border: 1px solid var(--color-border);
  }
  &.raised {
    border-radius: 2px;
    box-shadow: 1px 1px 3px var(--color-border);
    border: 1px solid var(--color-border);
  }
  &.raised.empty {
    box-shadow: none;
    border: none;
  }
  &.expandable.expanded {
    box-shadow: none;
    border: none;
  }
  p {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}

/* public/css/elements/_dropdown.css */
.select-dropdown {
  width: 100%;
  color: var(--color-font);
  background-color: var(--color-base-secondary);
  border: 1px solid var(--color-border);
  padding: 5px;
  border-radius: 3px;
  option.selected {
    background-color: var(--color-primary);
    color: var(--color-font-contrast);
  }
}

/* public/css/elements/_jse.css */
.jse-main {
  .text-button {
    width: auto !important;
  }
}

/* public/css/elements/_key.css */
.key {
  button.layer-key {
    margin-right: 0.2em;
    &.active {
      color: var(--color-font-contrast);
    }
  }
}

/* public/css/elements/_loading.css */
@property --border-angle { syntax: "<angle>"; initial-value: 0deg; inherits: false; }
@keyframes border-angle-rotate {
  from {
    --border-angle: 0deg;
  }
  to {
    --border-angle: 360deg;
  }
}
.loading {
  --border-angle: 0deg;
  border: 0.5em solid transparent !important;
  border-radius: 5px;
  animation: border-angle-rotate 4s linear infinite;
  background:
    linear-gradient(var(--color-base), var(--color-base)) padding-box,
    conic-gradient(
      from var(--border-angle),
      var(--color-primary),
      var(--color-base),
      var(--color-primary),
      var(--color-base),
      var(--color-primary)) border-box;
}

/* public/css/elements/_pills.css */
.pill-container {
  display: flex;
  gap: 4px;
  flex-flow: row wrap;
  padding: 0.5em 0;
  .pill {
    cursor: default;
    padding: 1px 1px 1px 2px;
    border-radius: 2px;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--color-font-contrast);
    background-color: var(--color-primary);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    button.close {
      cursor: pointer;
      font-size: 1em;
      padding: 0 2px;
      color: inherit;
      vertical-align: middle;
    }
  }
}

/* public/css/elements/_searchbox.css */
.searchbox {
  width: 100%;
  overflow: visible;
  background-color: var(--color-base-tertiary);
  isolation: isolate;
  & > ul {
    display: none;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 1px 1px 3px var(--color-border);
    margin-top: -1px;
    text-align: left;
    background-color: var(--color-base-tertiary);
    z-index: 4;
    & > li {
      padding: 5px;
      color: var(--color-font);
      margin: 0 0.1em;
      border-radius: 2px;
    }
    & > li:hover {
      background-color: var(--color-hover);
      cursor: pointer;
    }
    & > li.selected {
      background-color: var(--color-primary);
      border: 1px solid var(--color-border);
      color: var(--color-font-contrast);
    }
    & .label {
      padding: 0 2px;
      margin-right: 2px;
      border-radius: 2px;
      color: var(--color-font-contrast);
      font-size: 80%;
      font-weight: bold;
      background-color: var(--color-primary);
    }
  }
}
@media print {
  .searchbox {
    box-shadow: none;
  }
}

/* public/css/elements/_slider.css */
.input-range {
  --dif: calc(var(--max) - var(--min));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.2em;
  position: relative;
  width: 100%;
  & .label-row {
    grid-row: 2;
    grid-column: 1 / 3;
    input {
      min-width: 4em;
      border: 1px solid var(--color-border);
      border-radius: 3px;
    }
  }
  & .minmax-row {
    grid-row: 4;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
  }
  & .track-bg {
    grid-row: 3;
    grid-column: 1 / 3;
    background:
      linear-gradient(
        0deg,
        transparent 0 45%,
        var(--color-hover) 45% 55%,
        transparent 55% 100%);
    z-index: 1;
  }
  &.single::after {
    grid-column: 1 / 3;
    grid-row: 3;
    background:
      linear-gradient(
        0deg,
        transparent 0 45%,
        var(--color-primary) 45% 55%,
        transparent 55% 100%);
    content: "";
    z-index: 2;
    width: calc((var(--a) - var(--min)) / var(--dif) * (100% - 10px));
  }
  &.multi {
    & > .label-row {
      display: flex;
      justify-content: space-between;
      & > div {
        flex-grow: 1;
      }
    }
    &::before,
    &::after {
      grid-column: 1 / 3;
      grid-row: 3;
      background:
        linear-gradient(
          0deg,
          transparent 0 45%,
          var(--color-primary) 45% 55%,
          transparent 55% 100%);
      content: "";
      z-index: 2;
    }
    &::before {
      margin-left: calc(10px + (var(--a) - var(--min)) / var(--dif) * (100% - 10px));
      width: calc((var(--b) - var(--a)) / var(--dif) * (100% - 10px));
    }
    &::after {
      margin-left: calc(10px + (var(--b) - var(--min)) / var(--dif) * (100% - 10px));
      width: calc((var(--a) - var(--b)) / var(--dif) * (100% - 10px));
    }
  }
  & input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    grid-column: 1 / 3;
    grid-row: 3;
    z-index: 3;
    top: 0;
    left: 0;
    margin: 0;
    background: none;
    pointer-events: none;
  }
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
.input-range input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: none;
}
.input-range input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  background: none;
}
.input-range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  pointer-events: auto;
  cursor: pointer;
  border: 3px solid var(--color-border);
  border-radius: 50%;
  background-color: var(--color-primary);
}
.input-range input[type=range]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  pointer-events: auto;
  cursor: pointer;
  border: 3px solid var(--color-border);
  border-radius: 50%;
  background-color: var(--color-primary);
  box-shadow: none;
}

/* public/css/elements/_toast.css */
.toast {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  isolation: isolate;
  background-color: var(--color-base);
  border-top: 1px solid var(--color-border);
  box-sizing: border-box;
  color: var(--color-font);
  font-size: 14px;
  line-height: 1.4;
  padding: 1em 2em;
  text-align: center;
  transform: translateY(100%);
  animation: 1s ease-in-out 1s forwards showToast;
  button.close {
    position: absolute;
    top: 0.1em;
    right: 0.1em;
    font-size: 1.2em;
    color: var(--color-font-mid);
  }
  &.ease-out {
    animation: 1s ease-in-out forwards hideToast;
  }
  .actions {
    padding: 0.5em;
    margin-top: 1em;
    * {
      margin: 0.1em;
      transition: 300ms all;
      width: 6em;
    }
  }
  .toast-logo {
    height: 2.5em;
    margin-bottom: 0.5em;
    & img {
      height: 100%;
    }
  }
}
@keyframes showToast {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes hideToast {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

/* public/css/layout/_cloudinary.css */
.drag_and_drop_zone {
  width: 100%;
  border: 1px dashed var(--color-border);
  position: relative;
  height: 100px;
  input {
    top: 0;
    position: absolute;
    outline: none;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
  p {
    margin: auto;
    text-align: center;
    color: var(--color-font);
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    & > span {
      vertical-align: middle;
      margin: 0.2em;
      font-size: 1.5em;
    }
  }
}
.img-item {
  position: relative;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .delete {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 1.5em;
    background-color: var(--color-base-secondary);
    padding: 0.1em;
    border-radius: 50%;
  }
}
.images-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  & > div:first-child {
    width: 100%;
    height: 180px;
  }
  & > div {
    position: relative;
    width: 90px;
    height: 90px;
    flex-grow: 1;
  }
}

/* public/css/layout/_image_preview.css */
.interface-mask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  isolation: isolate;
  background-color: var(-color-base-secondary);
  & > .bg-image {
    margin: 5%;
    height: 90%;
    width: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    & > .btn-close {
      position: absolute;
      top: 5%;
      right: 5%;
      width: 50px;
      height: 50px;
      background-color: var(--color-primary);
    }
  }
}

/* public/css/layout/_histogram.css */
.histogram {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  .ylabel {
    writing-mode: sideways-lr;
    text-align: center;
    color: var(--color-font);
  }
  .bucket {
    position: relative;
    background-color: var(--color-hover);
    align-self: flex-end;
    cursor: default;
    flex-grow: 1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    div.bucket-info {
      position: absolute;
      min-width: 60px;
      white-space: nowrap;
      background-color: var(--color-primary);
      color: var(--color-font-contrast);
      display: inline-block;
      text-align: center;
      border-radius: 2px;
      padding: 0 0.2em;
      left: 50%;
      bottom: 15px;
      transform: translateX(-50%);
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease;
      isolation: isolate;
      z-index: 1;
      &:after {
        position: absolute;
        content: "";
        border-top: 5px solid var(--color-primary);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &:hover > div.bucket-info {
      visibility: visible;
      opacity: 1;
    }
  }
}
.histogram-title {
  margin: 0.5em 0;
}
.histogram-xlabel {
  position: relative;
  text-align: center;
  color: var(--color-font);
  margin: 0.5em 0;
}
.histogram-caption {
  color: var(--color-font-mid);
  margin: 0.5em 0;
}

/* public/css/layout/_layerview.css */
.drawer.layer-group,
.drawer.layer-view {
  margin-top: 7px;
  border-radius: 3px;
  & > .header {
    & ~ .drawer.layer-view {
      margin-top: 0;
    }
    & ~ .drawer.layer-view ~ .drawer.layer-view {
      margin-top: 7px;
    }
  }
  & > .meta {
    padding-bottom: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &.expanded {
    padding-bottom: 5px;
  }
}
.drawer.layer-view {
  padding-left: 5px;
  padding-right: 5px;
  & > *:not(.header) {
    margin-top: 5px;
  }
  > .header {
    .material-symbols-outlined {
      font-size: 1.5em;
    }
    h2 {
      font-weight: normal;
    }
  }
}
.drawer.layer-group {
  padding-left: 3px;
  padding-right: 3px;
  background: var(--color-base-tertiary);
  & > * {
    padding-left: 4px;
  }
}
#layers > .drawer.layer-group .drawer.layer-view {
  background: var(--color-base-tertiary);
  border: none;
  box-shadow: none;
  border-top: 1px solid var(--color-border);
}
#layers > .layer-view > .drawer,
#layers .drawer.layer-view .drawer {
  border: none;
  box-shadow: none;
}
#layers > .layer-view > .drawer {
  background: var(--color-base-tertiary);
}

/* public/css/layout/_locationview.css */
.location-view.drawer {
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--color-base-tertiary);
}
.location-view-grid {
  display: grid;
  align-items: stretch;
  grid-gap: 5px 10px;
  padding: 5px 0;
  grid-template-columns: 1fr 1fr;
  & pre {
    background-color: var(--color-base-secondary);
  }
  & .contents {
    display: contents;
    &:not(.inline) > * {
      grid-column: 1 / 3;
    }
    &.inline > .label {
      grid-column: 1;
    }
    &.inline > div:nth-of-type(2) {
      grid-column: 2;
      min-width: 0;
    }
    &.inline > .val {
      grid-column: 2;
      text-align: right;
      word-break: break-word;
    }
  }
  & .label {
    align-items: center;
    display: flex;
    font-weight: bold;
  }
  & .label > .tooltip {
    -webkit-user-select: none;
    user-select: none;
    height: 1.5em;
    width: 1.5em;
    font-size: inherit;
  }
  & .drawer.group {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px 10px;
    border-bottom: 1px solid var(--color-border);
    padding: 0;
    & > .header {
      grid-column: 1 / 3;
      background-color: var(--color-primary);
      color: var(--color-font-contrast);
      border-radius: 3px;
      padding: 0 0.5em;
      & > .caret::after {
        color: var(--color-font-contrast);
      }
    }
    & .label,
    & .val {
      margin-left: 1em;
    }
  }
  & .layer-key {
    float: right;
    padding: 3px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 0.8em;
    background-color: var(--color-base-secondary);
    &.active {
      background-color: var(--color-active);
    }
  }
  & .textarea {
    white-space: break-spaces;
  }
  & .dataview {
    text-align: left;
  }
  > .contents.image .trash {
    position: absolute;
    width: 2em;
    height: 2em;
    right: 0.5em;
    top: 0.5em;
  }
}
.flex-spacer {
  display: flex;
  align-items: center;
  & > :first-child {
    flex-grow: 1;
  }
}

/* public/css/layout/_scrollbar.css */
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-base-secondary);
}
::-webkit-scrollbar-thumb {
  background: var(--color-hover);
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: var(--color-base-secondary);
}

/* public/css/layout/_tabview.css */
.tabview {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--color-base-tertiary);
  display: grid;
  grid-template-rows: 3em auto;
  &.disabled::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-base-tertiary);
    opacity: 0.7;
  }
  & > .tabs {
    width: 100%;
    height: inherit;
    overflow-x: auto;
    display: flex;
    background-color: var(--color-base);
    & > .tab > .header {
      color: var(--color-primary);
      min-width: 8em;
      height: 100%;
      display: flex;
      align-items: center;
      white-space: nowrap;
      border: solid 1px var(--color-border);
      border-radius: 3px 1em 0 0;
      padding: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    & > .tab.active > .header {
      background-color: var(--color-base-tertiary);
      font-weight: bold;
    }
    & > .tab:not(.active) > .header:hover {
      cursor: pointer;
    }
  }
  & > .panel {
    position: relative;
    background-color: var(--color-base);
    & > .flex-col {
      background-color: var(--color-base-secondary);
      position: absolute;
      width: 100%;
      height: 100%;
    }
    & .dataview-target {
      background-color: var(--color-base);
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
    & > .dataview-target {
      position: absolute;
    }
  }
  & .dropdown > ul {
    position: fixed;
  }
}

/* public/css/layout/_toolbars.css */
.btn-column {
  position: absolute;
  top: 0;
  display: grid;
  grid-auto-rows: minmax(min-content, 4em);
  padding: 0.7em;
  overflow: scroll;
  max-height: 100%;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  & span {
    line-height: normal;
  }
  & button,
  & > div,
  & > a {
    margin-bottom: 10px;
    background-color: var(--color-base-tertiary);
    box-shadow: 1px 1px 3px var(--color-base-tertiary);
    border-radius: 50%;
    opacity: 0.9;
    padding: 5px;
    width: 3em;
    height: 3em;
    text-align: center;
  }
  & a > div,
  & button > div {
    height: 100%;
  }
  & button:disabled,
  & a:disabled {
    cursor: not-allowed;
  }
}
.btn-row {
  display: flex;
  & > * {
    margin: 10px 5px;
  }
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* public/css/layout/_user_locale.css */
.user-locales {
  height: 75px;
  overflow-y: auto;
  li {
    display: flex;
    align-items: center;
  }
  button {
    height: 24px;
  }
}

/* public/css/_ui.css */
