@import 'colours';

@import 'button';

@import 'checkbox';

@import 'drawer';

@import 'dropdown';

@import 'font';

@import 'icons';

@import 'inputs';

@import 'layerview';

@import 'locationview';

@import 'legend';

@import 'login';

@import 'slider';

@import 'tabview';

@import 'tabulator';

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex-spacer {
  display: flex;
  align-items: center;
  > :nth-child(2) {
    margin-left: auto;
  }
}

.link-with-img {

  >button,
  >.mask-icon,
  >.bg-icon {
    width: 1.5em;
    height: 1.5em;
  }

  >* {
    display: inline-block;
    vertical-align: middle;
  }
}

.dataview-target {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dataview-mask {
  width: 100%; 
  height: 100%;
  text-align: center;
  line-height: 2
}

.interface-mask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: infinity;
  background-color: #eeed;

  > .bg-image{
    margin: 5%;
    height: 90%;
    width: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    > .btn-close{
      position: absolute;
      top: 5%;
      right: 5%;
      width: 50px;
      height: 50px;
      background-color: $no;
    }
  }
}

// Colour classes
.mask-icon {
  background-color: $primary-light
}

.lighter-background {
  background-color: $light;
}

.lighter-background {
  background-color: $lighter;
}

.primary-colour {
  color: $primary;
}

.off-black {
  color: $off-black;
}

.off-black-background {
  color: white;
  background-color: $off-black;
}

.primary-background {
  color: white;
  background-color: $primary;
}

.dark-background {
  color: white;
  background-color: $dark;
}

.on-colour {
  color: $on;
}

.no-colour {
  color: $no;
}