button {
  border: none;
  outline: none;
  background: none;
  text-align: center;
  color: var(--color-accent);

  > .material-symbols-outlined {
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.3;
    &:hover {
      cursor: not-allowed;
    }
  }

  &.wide {
    width: 100%;
  }

  &.flat {
    border-radius: 1px;
    border-bottom: 1px solid var(--color-border);
    padding: 0.3em;

    &.active {
      border-bottom: 1px solid var(--color-active);
    }
  }

  &.underline {
    display: none;
    margin-bottom: 5px;
    text-decoration: underline;
  }

  &.raised {
    border-radius: 3px;
    border: 1px solid var(--color-border);
    box-shadow: 1px 1px 2px var(--color-base-secondary);
    padding: 0.3em;

    &.active {
      box-shadow: none;
    }
  }

  &.active {
    color: var(--color-active);
  }
}
