:root {
  /* begin unified colour palette */

  /* Backgrounds */
  --color-base: #f2f2f2;
  --color-base-secondary: #f2f2f2;
  --color-base-tertiary: #ffffff;

  /* Text */
  --color-base-text: #3f3f3f;
  --color-base-text-secondary: #939faa;

  /* Accent */
  --color-accent:  #003d57;
  --color-accent-active: #d57120;

  /* Information */
  --color-info: #0b6f50;
  --color-blocked: #a21309;
  --color-changed: #ffffa7;

  /* begin temporary dark mode */

  /* Backgrounds */
  --dm-color-base: #222222;
  --dm-color-base-secondary: #333333;
  --dm-color-base-tertiary:  #555555;

    /* Text */
  --dm-color-base-text: #f2f2f2;
  --dm-color-base-text-secondary: #d8d8d8;

  /* Accent */
  --dm-color-accent:  #ffffff;
  --dm-color-accent-active:  #e18335;

  /* Information */

  --dm-color-blocked: #ef5350;

  /* end temporary dark mode */

  /* end unified colour palette */


  /* light colour mode */
  --color-off-black: #3f3f3f; /* color-base-text */

  --color-primary: #003d57; /* color-accent-primary */

  --color-primary-light: #939faa;

  --color-off-light: #eeeeee;

  --color-light-secondary: #f2f2f2;

  --color-light-tertiary: #fafafa;

  --color-mid: #e3e3e3;

  /* --color-changed: #ffffa7; color-changed */

  --color-input-border: #ccc;




}

* {
  transition: 0.2s ease-in-out;
  transition-property: background-color;
}

/* light mode classes */

.primary-colour {
  color: var(--color-primary);
}

.primary-background {
  color: var(--color-base-tertiary);
  background-color: var(--color-primary);
}

.light-background {
  background-color: var(--color-base-tertiary);
}

.light-colour {
  color: var(--color-base-tertiary);
}

.lighter-background {
  background-color: var(--color-light-secondary);
}

.off-black {
  color: var(--color-off-black);
}

.off-black-background {
  color: var(--color-base-tertiary);
  background-color: var(--color-off-black);
}

.on-colour {
  color: var(--color-accent-active);
}

.no-colour {
  color: var(--color-blocked);
}
