.display-none {
  display: none !important;
}

.desktop-display-none {
  display: none;
}

.hover:hover {
  cursor: pointer;
}

.box-shadow {
  border: 1px solid var(--color-border);
  box-shadow: var(--color-border) 0px 1px 4px;
}

.bold {
  font-weight: bold;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link-with-img {
  display: flex;
  width: fit-content;
  align-items: center;
  text-align: center;
  text-overflow: ellipsis;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.outlined {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  padding: 0.2em 0.5em;

  &.active {
    border: 1px solid var(--color-active);
  }
}

.val-changed {
  input[type='number'],
  input[type='text'],
  input[type='search'],
  input[type='date'],
  input[type='datetime-local'],
  textarea,
  button,
  .select-dropdown,
  .dropdown > .head {
    background-color: var(--color-changed);
    color: var(--color-font);
  }

  label.checkbox {
    background-color: var(--color-changed);
    color: var(--color-font);
    border-radius: 2px;
  }

  .material-symbols-outlined:after {
    color: var(--color-font);
  }
}

@media only screen and (max-width: 768px) {
  .mobile-hidden {
    visibility: hidden;
  }

  .mobile-display-none {
    display: none !important;
  }

  .mobile-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
