.display-none {
  display: none !important;
}

.desktop-display-none {
  display: none;
}

.hover:hover {
  cursor: pointer;
}

.box-shadow {
  border: 1px solid var(--color-base-border);
  box-shadow: 2px 2px 4px var(--color-base-secondary);
}

.bold {
  font-weight: bold;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link-with-img > * {
  height: 1.2em;
  line-height: 1.2em;
  display: inline-block;
  vertical-align: middle;
}

.link-with-img > button {
  width: 1.5em;
}

.val-changed {
  input[type='number'],
  input[type='text'],
  input[type='search'],
  input[type='date'],
  input[type='datetime-local'],
  textarea,
  button,
  .dropdown > .head {
    background-color: var(--color-changed);
    color: var(--color-text);
  }

  label.checkbox {
    background-color: var(--color-changed);
    color: var(--color-text);
    border-radius: 2px;
  }

  .material-symbols-outlined:after {
    color: var(--color-text);
  }
}

@media only screen and (max-width: 768px) {
  html {
    overflow: scroll;
  }

  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .mobile-hidden {
    visibility: hidden;
  }

  .mobile-display-none {
    display: none !important;
  }

  .mobile-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
