html.dark-mode {

  /* begin layout stylesheets */

  /* begin locationview */

  .location-view-grid {

    .location canvas {
      filter: invert(1);
    }
  }

  /* end locationview */

  /* begin tabview */

  .tabview,
  .location,
  .dataview-target {
    .panel {
      background-color: var(--dm-color-base);

      .btn-row {
        background-color: var(--dm-color-base);

        button {
          color: var(--dm-color-accent-active);
          background: var(--dm-color-base-secondary);
        }
      }

      & > .flex-col {
        background-color: var(--dm-color-base-secondary);
      }
    }

    .tabs,
    .tabulator-tableholder {
      background-color: var(--dm-color-base-tertiary);
    }

    .tab {
      .header {
        color: var(--dm-color-accent);
        background-color: var(--dm-color-base);
      }

      &.active .header {
        background-color: var(--dm-color-accent-active);
      }
    }

    .tabulator-footer {
      background-color: var(--dm-color-base);

      .tabulator-page {
        color: var(--dm-color-accent);

        &.active {
          color: var(--dm-color-accent-active);
        }
      }
    }

    .tabulator-header {
      background: var(--dm-color-base);
    }

    .tabulator-col {
      background-color: var(--dm-color-base-secondary);
      color: var(--dm-color-accent);
    }

    .tabulator-row {
      color: var(--dm-color-accent);

      &.tabulator-row-odd {
        background-color: var(--dm-color-base);
      }

      &.tabulator-row-even {
        background-color: var(--dm-color-base-tertiary);
      }
    }
  }

  /* end tabview */

  /* end layout stylesheets */
}
