.bg-icon {
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;

  &.pos-center {
    background-position: center;
  }
  &.pos-right {
    background-position: right;
  }
  &.pos-left {
    background-position: left;
  }
}

.mask-icon {
  background-color: var(--color-text-secondary);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;

  &.pos-center {
    mask-position: center;
    -webkit-mask-position: center;
  }
  &.pos-right {
    mask-position: right;
    -webkit-mask-position: right;
  }
  &.pos-left {
    mask-position: left;
    -webkit-mask-position: left;
  }

  &.on {
    background-color: var(--color-active);
  }

  &.no {
    background-color: var(--color-danger);
  }
}

.add {
  &.bg-icon {
    background-image: url('../../icons/icon-add.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-add.svg');
    mask-image: url('../../icons/icon-add.svg');
  }
}

.add-chart {
  &.bg-icon {
    background-image: url('../../icons/icon-add-chart.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-add-chart.svg');
    mask-image: url('../../icons/icon-add-chart.svg');
  }
}

.add-document {
  &.bg-icon {
    background-image: url('../../icons/icon-add-document.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-add-document.svg');
    mask-image: url('../../icons/icon-add-document.svg');
  }
}

.add-photo {
  &.bg-icon {
    background-image: url('../../icons/icon-add-photo.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-add-photo.svg');
    mask-image: url('../../icons/icon-add-photo.svg');
  }
}

.area {
  &.bg-icon {
    background-image: url('../../icons/icon-area.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-area.svg');
    mask-image: url('../../icons/icon-area.svg');
  }
}

.arrow-down {
  &.bg-icon {
    background-image: url('../../icons/icon-arrow-down.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-arrow-down.svg');
    mask-image: url('../../icons/icon-arrow-down.svg');
  }
}

.arrow-up {
  &.bg-icon {
    background-image: url('../../icons/icon-arrow-up.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-arrow-up.svg');
    mask-image: url('../../icons/icon-arrow-up.svg');
  }
}

.bar-chart {
  &.bg-icon {
    background-image: url('../../icons/icon-bar-chart.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-bar-chart.svg');
    mask-image: url('../../icons/icon-bar-chart.svg');
  }
}

.bubble-chart {
  &.bg-icon {
    background-image: url('../../icons/icon-bubble-chart.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-bubble-chart.svg');
    mask-image: url('../../icons/icon-bubble-chart.svg');
  }
}

.bug-report {
  &.bg-icon {
    background-image: url('../../icons/icon-bug-report.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-bug-report.svg');
    mask-image: url('../../icons/icon-bug-report.svg');
  }
}

.build {
  &.bg-icon {
    background-image: url('../../icons/icon-build.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-build.svg');
    mask-image: url('../../icons/icon-build.svg');
  }
}

.car {
  &.bg-icon {
    background-image: url('../../icons/icon-car.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-car.svg');
    mask-image: url('../../icons/icon-car.svg');
  }
}

.circle-dot {
  &.bg-icon {
    background-image: url('../../icons/icon-circle-dot.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-circle-dot.svg');
    mask-image: url('../../icons/icon-circle-dot.svg');
  }
}

.city {
  &.bg-icon {
    background-image: url('../../icons/icon-city.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-city.svg');
    mask-image: url('../../icons/icon-city.svg');
  }
}

.copy {
  &.bg-icon {
    background-image: url('../../icons/icon-copy.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-copy.svg');
    mask-image: url('../../icons/icon-copy.svg');
  }
}

.close {
  &.bg-icon {
    background-image: url('../../icons/icon-close.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-close.svg');
    mask-image: url('../../icons/icon-close.svg');
  }
}

.cloud-upload {
  &.bg-icon {
    background-image: url('../../icons/icon-cloud-upload.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-cloud-upload.svg');
    mask-image: url('../../icons/icon-cloud-upload.svg');
  }
}

.description {
  &.bg-icon {
    background-image: url('../../icons/icon-description.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-description.svg');
    mask-image: url('../../icons/icon-description.svg');
  }
}

.done {
  &.bg-icon {
    background-image: url('../../icons/icon-done.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-done.svg');
    mask-image: url('../../icons/icon-done.svg');
  }
}

.donut-small {
  &.bg-icon {
    background-image: url('../../icons/icon-donut-small.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-donut-small.svg');
    mask-image: url('../../icons/icon-donut-small.svg');
  }
}

.drop-down {
  &.bg-icon {
    background-image: url('../../icons/icon-drop-down.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-drop-down.svg');
    mask-image: url('../../icons/icon-drop-down.svg');
  }
}

.drop-up {
  &.bg-icon {
    background-image: url('../../icons/icon-drop-up.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-drop-up.svg');
    mask-image: url('../../icons/icon-drop-up.svg');
  }
}

.edit {
  &.bg-icon {
    background-image: url('../../icons/icon-edit.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-edit.svg');
    mask-image: url('../../icons/icon-edit.svg');
  }
}

.event-note {
  &.bg-icon {
    background-image: url('../../icons/icon-event-note.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-event-note.svg');
    mask-image: url('../../icons/icon-event-note.svg');
  }
}

.face {
  &.bg-icon {
    background-image: url('../../icons/icon-face.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-face.svg');
    mask-image: url('../../icons/icon-face.svg');
  }
}

.feature-info {
  &.bg-icon {
    background-image: url('../../icons/icon-feature-info.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-feature-info.svg');
    mask-image: url('../../icons/icon-feature-info.svg');
  }
}

.filter {
  &.bg-icon {
    background-image: url('../../icons/icon-filter.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-filter.svg');
    mask-image: url('../../icons/icon-filter.svg');
  }
}

.filter-list {
  &.bg-icon {
    background-image: url('../../icons/icon-filter-list.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-filter-list.svg');
    mask-image: url('../../icons/icon-filter-list.svg');
  }
}

.fullscreen {
  &.bg-icon {
    background-image: url('../../icons/icon-fullscreen.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-fullscreen.svg');
    mask-image: url('../../icons/icon-fullscreen.svg');
  }
}

.gps-not-fixed {
  &.bg-icon {
    background-image: url('../../icons/icon-gps_not_fixed.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-gps_not_fixed.svg');
    mask-image: url('../../icons/icon-gps_not_fixed.svg');
  }
}

.layers {
  &.bg-icon {
    background-image: url('../../icons/icon-layers.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-layers.svg');
    mask-image: url('../../icons/icon-layers.svg');
  }
}

.line {
  &.bg-icon {
    background-image: url('../../icons/icon-line.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-line.svg');
    mask-image: url('../../icons/icon-line.svg');
  }
}

.location {
  &.bg-icon {
    background-image: url('../../icons/icon-location.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-location.svg');
    mask-image: url('../../icons/icon-location.svg');
  }
}

.location-tick {
  &.bg-icon {
    background-image: url('../../icons/icon-location-tick.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-location-tick.svg');
    mask-image: url('../../icons/icon-location-tick.svg');
  }
}

.lock-closed {
  &.bg-icon {
    background-image: url('../../icons/icon-lock-closed.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-lock-closed.svg');
    mask-image: url('../../icons/icon-lock-closed.svg');
  }
}

.lock-open {
  &.bg-icon {
    background-image: url('../../icons/icon-lock-open.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-lock-open.svg');
    mask-image: url('../../icons/icon-lock-open.svg');
  }
}

.logout {
  &.bg-icon {
    background-image: url('../../icons/icon-logout.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-logout.svg');
    mask-image: url('../../icons/icon-logout.svg');
  }
}

.map {
  &.bg-icon {
    background-image: url('../../icons/icon-map.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-map.svg');
    mask-image: url('../../icons/icon-map.svg');
  }
}

.maps-ugc {
  &.bg-icon {
    background-image: url('../../icons/icon-maps-ugc.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-maps-ugc.svg');
    mask-image: url('../../icons/icon-maps-ugc.svg');
  }
}

.multiline-chart {
  &.bg-icon {
    background-image: url('../../icons/icon-multiline-chart.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-multiline-chart.svg');
    mask-image: url('../../icons/icon-multiline-chart.svg');
  }
}

.notes {
  &.bg-icon {
    background-image: url('../../icons/icon-notes.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-notes.svg');
    mask-image: url('../../icons/icon-notes.svg');
  }
}

.open-in-new {
  &.bg-icon {
    background-image: url('../../icons/icon-open-in-new.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-open-in-new.svg');
    mask-image: url('../../icons/icon-open-in-new.svg');
  }
}

.pageview {
  &.bg-icon {
    background-image: url('../../icons/icon-pageview.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-pageview.svg');
    mask-image: url('../../icons/icon-pageview.svg');
  }
}

.people {
  &.bg-icon {
    background-image: url('../../icons/icon-people.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-people.svg');
    mask-image: url('../../icons/icon-people.svg');
  }
}

.pie-chart {
  &.bg-icon {
    background-image: url('../../icons/icon-pie-chart.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-pie-chart.svg');
    mask-image: url('../../icons/icon-pie-chart.svg');
  }
}

.radio-button-checked {
  &.bg-icon {
    background-image: url('../../icons/icon-radio-button-checked.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-radio-button-checked.svg');
    mask-image: url('../../icons/icon-radio-button-checked.svg');
  }
}

.remove {
  &.bg-icon {
    background-image: url('../../icons/icon-remove.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-remove.svg');
    mask-image: url('../../icons/icon-remove.svg');
  }
}

.reply {
  &.bg-icon {
    background-image: url('../../icons/icon-reply.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-reply.svg');
    mask-image: url('../../icons/icon-reply.svg');
  }
}

.restore {
  &.bg-icon {
    background-image: url('../../icons/icon-restore.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-restore.svg');
    mask-image: url('../../icons/icon-restore.svg');
  }
}

.room {
  &.bg-icon {
    background-image: url('../../icons/icon-room.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-room.svg');
    mask-image: url('../../icons/icon-room.svg');
  }
}

.save {
  &.bg-icon {
    background-image: url('../../icons/icon-save.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-save.svg');
    mask-image: url('../../icons/icon-save.svg');
  }
}

.scatter-plot {
  &.bg-icon {
    background-image: url('../../icons/icon-scatter-plot.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-scatter-plot.svg');
    mask-image: url('../../icons/icon-scatter-plot.svg');
  }
}

.school {
  &.bg-icon {
    background-image: url('../../icons/icon-school.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-school.svg');
    mask-image: url('../../icons/icon-school.svg');
  }
}

.search {
  &.bg-icon {
    background-image: url('../../icons/icon-search.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-search.svg');
    mask-image: url('../../icons/icon-search.svg');
  }
}

.settings {
  &.bg-icon {
    background-image: url('../../icons/icon-settings.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-settings.svg');
    mask-image: url('../../icons/icon-settings.svg');
  }
}

.show-chart {
  &.bg-icon {
    background-image: url('../../icons/icon-show-chart.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-show-chart.svg');
    mask-image: url('../../icons/icon-show-chart.svg');
  }
}

.straighten {
  &.bg-icon {
    background-image: url('../../icons/icon-straighten.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-straighten.svg');
    mask-image: url('../../icons/icon-straighten.svg');
  }
}

.supervisor-account {
  &.bg-icon {
    background-image: url('../../icons/icon-supervisor-account.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-supervisor-account.svg');
    mask-image: url('../../icons/icon-supervisor-account.svg');
  }
}

.tick-done {
  &.bg-icon {
    background-image: url('../../icons/icon-tick-done.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-tick-done.svg');
    mask-image: url('../../icons/icon-tick-done.svg');
  }
}

.tick-done-all {
  &.bg-icon {
    background-image: url('../../icons/icon-tick-done-all.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-tick-done-all.svg');
    mask-image: url('../../icons/icon-tick-done-all.svg');
  }
}

.toggle {
  &::after {
    content: 'toggle_off';
  }

  &.on::after {
    content: 'toggle_on';
    color: var(--color-active);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.touch-app {
  &.bg-icon {
    background-image: url('../../icons/icon-touch-app.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-touch-app.svg');
    mask-image: url('../../icons/icon-touch-app.svg');
  }
}

.translate {
  &.bg-icon {
    background-image: url('../../icons/icon-translate.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-translate.svg');
    mask-image: url('../../icons/icon-translate.svg');
  }
}

.trash {
  &.bg-icon {
    background-image: url('../../icons/icon-trash.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-trash.svg');
    mask-image: url('../../icons/icon-trash.svg');
  }
}

.vertical-align-bottom {
  &.bg-icon {
    background-image: url('../../icons/icon-vertical-align-bottom.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-vertical-align-bottom.svg');
    mask-image: url('../../icons/icon-vertical-align-bottom.svg');
  }
}

.vertical-align-top {
  &.bg-icon {
    background-image: url('../../icons/icon-vertical-align-top.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-vertical-align-top.svg');
    mask-image: url('../../icons/icon-vertical-align-top.svg');
  }
}

.view-list {
  &.bg-icon {
    background-image: url('../../icons/icon-view-list.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-view-list.svg');
    mask-image: url('../../icons/icon-view-list.svg');
  }
}

.visibility-off {
  &.bg-icon {
    background-image: url('../../icons/icon-visibility-off.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-visibility-off.svg');
    mask-image: url('../../icons/icon-visibility-off.svg');
  }
}

.warning {
  &.bg-icon {
    background-image: url('../../icons/icon-warning.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-warning.svg');
    mask-image: url('../../icons/icon-warning.svg');
  }
}

.wysiwyg {
  &.bg-icon {
    background-image: url('../../icons/icon-wysiwyg.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-wysiwyg.svg');
    mask-image: url('../../icons/icon-wysiwyg.svg');
  }
}

.info {
  &.bg-icon {
    background-image: url('../../icons/icon-info.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-info.svg');
    mask-image: url('../../icons/icon-info.svg');
  }
}

.question-mark {
  &.bg-icon {
    background-image: url('../../icons/icon-question-mark.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-question-mark.svg');
    mask-image: url('../../icons/icon-question-mark.svg');
  }
}

.lightbulb {
  &.bg-icon {
    background-image: url('../../icons/icon-lightbulb.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-lightbulb.svg');
    mask-image: url('../../icons/icon-lightbulb.svg');
  }
}

.info-report {
  &.bg-icon {
    background-image: url('../../icons/icon-info-report.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-info-report.svg');
    mask-image: url('../../icons/icon-info-report.svg');
  }
}

.zoom-in {
  &.bg-icon {
    background-image: url('../../icons/icon-zoom-in.svg');
  }
  &.mask-icon {
    -webkit-mask-image: url('../../icons/icon-zoom-in.svg');
    mask-image: url('../../icons/icon-zoom-in.svg');
  }
}
