input {
  width: 100%;

  &:focus {
    outline: none;
  }
}

input.invalid {
  opacity: 0.5;
  outline: 1px solid var(--color-no);
}

input::placeholder {
  text-align: left;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 0.5px dotted;
  background-color: var(--color-light-secondary);
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=search],
input[type=date],
input[type=time],
input[type=datetime-local] {
  border: 1px solid #ccc;
  padding: 5px;

  &:focus {
    cursor: text;
  }
}

input[type=text],
input[type=number] {
  padding: 5px;
  border: none;
  background-color: var(--color-light-secondary);
  border-bottom: 0.5px dotted;
  display: inline-block;
  width: 100%;
  min-width: 2.4ch;

  &:focus {
    cursor: text;
  }
}

input[type=search]:focus+ul,
input[type=search]+ul:active {
  display: block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover {
  cursor: pointer;
}



.searchbox {
  width: 100%;
  overflow: visible;
  position: relative;
  background-color: white;
  box-shadow: var(--color-mid) 0px 8px 24px;

  &>ul {
    display: none;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 1px 1px 3px var(--color-primary-light);
    margin-top: -1px;
    text-align: left;
    background-color: white;
    z-index: 999;

    &>li {
      padding: 5px;
    }

    &>li:hover {
      background-color: var(--color-primary-light);
      cursor: pointer;
    }

    &>li.selected {
      background-color: var(--color-light-secondary);
    }

    & .label {
      padding: 0 6px;
      border-radius: 2px;
      color: var(--color-light);
      font-size: 80%;
      font-weight: bold;
      background-color: var(--color-primary);
    }
  }
}

@media print {
  .searchbox {
    box-shadow: none;
  }
}

.input-range {
  --dif: calc(var(--max) - var(--min));
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  width: 100%;

  & .label-row {
    grid-row: 1;
    grid-column: 1/3;
  }

  & .track-bg {
    grid-row: 2;
    grid-column: 1/3;
    background: linear-gradient(0deg, transparent 0 45%, var(--color-primary-light) 45% 55%, transparent 55% 100%);
    z-index: 1;
  }

  &.single::after {
    grid-column: 1/3;
    grid-row: 2;
    background: linear-gradient(0deg, transparent 0 45%, var(--color-primary) 45% 55%, transparent 55% 100%);
    content: '';
    z-index: 2;
    width: calc((var(--a) - var(--min)) / var(--dif) * (100% - 10px));
  }

  &.multi {
    &>.label-row {
      display: flex;
      justify-content: space-between;

      &>div {
        flex-grow: 1
      }
    }

    &::before,
    &::after {
      grid-column: 1/3;
      grid-row: 2;
      background: linear-gradient(0deg, transparent 0 45%, var(--color-primary) 45% 55%, transparent 55% 100%);
      content: '';
      z-index: 2;
    }

    &::before {
      margin-left: calc(10px + (var(--a) - var(--min)) / var(--dif) * (100% - 10px));
      width: calc((var(--b) - var(--a)) / var(--dif) * (100% - 10px));
    }

    &::after {
      margin-left: calc(10px + (var(--b) - var(--min)) / var(--dif) * (100% - 10px));
      width: calc((var(--a) - var(--b)) / var(--dif) * (100% - 10px));
    }
  }

  & input[type='range'] {
    -webkit-appearance: none;
    grid-column: 1/3;
    grid-row: 2;
    z-index: 3;
    top: 0;
    left: 0;
    margin: 0;
    background: none;
    /* get rid of white Chrome background */
    pointer-events: none;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.input-range input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: none;
  /* get rid of Firefox track background */
}

.input-range input[type='range']::-moz-range-track {
  width: 100%;
  height: 100%;
  background: none;
  /* get rid of Firefox track background */
}

.input-range input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  /* get rid of Firefox thumb border */
  width: 20px;
  height: 40px;
  border-radius: 0;
  /* get rid of Firefox corner rounding */
  pointer-events: auto;
  cursor: pointer;
  background: url("../icons/thumb.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
}

.input-range input[type='range']::-moz-range-thumb {
  border: none;
  /* get rid of Firefox thumb border */
  width: 20px;
  height: 40px;
  border-radius: 0;
  /* get rid of Firefox corner rounding */
  pointer-events: auto;
  cursor: pointer;
  background: url("../icons/thumb.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
}