input {
  width: 100%;

  &:focus {
    outline: none;
  }
}

input.invalid {
  opacity: 0.5;
  outline: 1px solid var(--color-blocked);
}

input::placeholder {
  text-align: left;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 0.5px dotted;
  background-color: var(--color-light-secondary);

  &:focus {
    outline: none;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: right;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='search'],
input[type='date'],
input[type='time'],
input[type='datetime-local'] {
  border: 1px solid var(--color-base-secondary);
  padding: 5px;

  &:focus {
    cursor: text;
  }
}

input[type='text'],
input[type='number'] {
  padding: 5px;
  border: none;
  background-color: var(--color-light-secondary);
  border-bottom: 0.5px dotted;
  display: inline-block;
  width: 100%;
  min-width: 2.4ch;

  &:focus {
    cursor: text;
  }
}

input[type='search']:focus + ul,
input[type='search'] + ul:active {
  display: block;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration:hover,
input[type='search']::-webkit-search-cancel-button:hover {
  cursor: pointer;
}
