/* @import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0); */

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 300;
  src: url(material-icons-outlined.woff2) format('woff2');
}

.material-symbols-outlined-important {
  font-family: 'Material Symbols Outlined' !important;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: var(--color-primary);

  &.active {
    color: var(--color-active);
  }

  &.color-info {
    color: var(--color-info);
  }

  &.color-danger {
    color: var(--color-danger);
  }

  &.color-font-mid {
    color: var(--color-font-mid);
  }

  &.close::after {
    content: 'close';
  }
}

.toggle-on {
  color: var(--color-active);
}

.toggle {
  &::after {
    content: 'toggle_off';
  }

  &.toggle-on::after {
    content: 'toggle_on';
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.active > .material-symbols-outlined {
  color: var(--color-active);
}
