@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0);

.material-symbols-outlined-important {
  font-family: 'Material Symbols Outlined' !important;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  /* Customisation */
  text-align: center;
  color: var(--color-primary);

  &.active {
    color: var(--color-on);
  }

  &.on-colour,
  &.on {
    color: var(--color-on);
  }

  &.no-colour {
    color: var(--color-no);
  }

  &.ok-colour {
    color: var(--color-ok);
  }

  &.primary-light-colour {
    color: var(--color-primary-light);
  }

  &.close:after {
    content: 'close';
    color: var(--color-primary-light);
  }
}

.active > .material-symbols-outlined {
  color: var(--color-on);
}
