@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0);

.material-symbols-outlined-important {
  font-family: 'Material Symbols Outlined', sans-serif !important;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
  /* Customisation */
  text-align: center;
  color: var(--color-primary);

  &.active {
    color: var(--color-active);
  }

  &.color-info {
    color: var(--color-info);
  }

  &.color-danger {
    color: var(--color-danger);
  }

  &.color-font-mid {
    color: var(--color-font-mid);
  }

  &.close::after {
    content: 'close';
  }
}

.toggle-on {
  color: var(--color-active);
}

.toggle {
  &::after {
    content: 'toggle_off';
  }

  &.toggle-on::after {
    content: 'toggle_on';
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.active > .material-symbols-outlined {
  color: var(--color-active);
}
