@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0);

.material-symbols-outlined-important {
  font-family: 'Material Symbols Outlined' !important;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  /* Customisation */
  text-align: center;
  color: var(--color-primary);

  &.active {
    color: var(--color-active);
  }

  &.on-colour,
  &.on {
    color: var(--color-active);
  }

  &.no-colour {
    color: var(--color-danger);
  }

  &.ok-colour {
    color: var(--color-info);
  }

  &.primary-light-colour {
    color: var(--color-font-mid);
  }

  &.close:after {
    content: 'close';
    color: var(--color-font-mid);
  }
}

.toggle {
  &::after {
    content: 'toggle_off';
  }

  &.on::after {
    content: 'toggle_on';
    color: var(--color-active);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.active > .material-symbols-outlined {
  color: var(--color-active);
}
