dialog.alert-confirm {
  width: 350px;
  max-height: 70%;
  padding: 0.75em;

  &::-webkit-scrollbar {
    display: none;
  }

  &:focus {
    outline: none;
  }

  h2 {
    display: flex;
    gap: 0.2em;
    align-items: center;
  }

  p {
    white-space: pre;
    text-wrap: pretty;
    margin: 1em 0.5em;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
  }

  button {
    min-width: 100px;
  }
}
