dialog.alert-confirm {
  width: 350px;
  max-height: 70%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.5em;

  &::-webkit-scrollbar {
    display: none;
  }

  &:focus {
    outline: none;
  }

  h2 {
    display: flex;
    gap: 0.2em;
    align-items: center;
  }

  .content {
    padding: 1em;
  }

  p {
    white-space: pre;
    text-wrap: pretty;
    margin: 0 1em 1em;
  }

  .buttons {
    margin-top: 2em;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
  }

  button {
    min-width: 100px;
  }
}

@media only screen and (max-width: 768px) {
  dialog.alert-confirm {
    min-width: 350px;
    max-width: 70%;
  }
}
