.btn-panel {
  width: 100%;
  padding: 0.3em 0.5em;
  background-color: var(--color-base-tertiary);
  border: 1px solid var(--color-border);
  border-radius: 3px;
  box-shadow: 1px 1px 3px var(--color-border);

  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    pointer-events: none;

    & h3 {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  & .panel {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 15em;
    left: 0;
    right: 0;
    isolation: auto;
    color: var(--color-font);
    background: var(--color-base-tertiary);
    overflow: hidden;
    padding: 1em 1.5em;
    opacity: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--color-border);
    pointer-events: none;
    transition: 0.2s ease-in-out;

    & .content {
      padding: 1em;
    }

    & .panel {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 15em;
      left: 0;
      right: 0;
      isolation: auto;
      color: var(--color-font);
      background: var(--color-base-tertiary);
      overflow: hidden;
      padding: 1em 1.5em;
      opacity: 0;
      border-radius: 3px;
      box-shadow: 1px 1px 3px var(--color-border);
      pointer-events: none;
      transition: 0.2s ease-in-out;

      & .content {
        padding: 1em;
      }

      &::after {
        content: initial;
      }
    }

    &.active {
      background-color: var(--color-primary);
      color: #fff;

      & .panel {
        bottom: 2em;
        pointer-events: auto;
        opacity: 1;
      }

      &.downward .panel {
        bottom: -7em;
        /* places adjacent to the bottom border of parent */
      }
    }

    &.downward .panel {
      bottom: -7em;
      /* places adjacent to the bottom border of parent */
    }
  }

  &.downward .panel {
    bottom: -15em;
  }
}
