.mapp-control {
  isolation: isolate;

  > .tabs {
    padding: 0.5em;
    width: 100%;
    display: flex;

    > div {
      flex-grow: 1;
      font-size: 2em;
    }
  }
  > .panels {
    flex-grow: 1;
    overflow-y: auto;

    > div {
      display: none;
      padding: 10px;
    }

    > div.active {
      display: block;
    }
  }
}
