.headerDrag {
  cursor: grab;
}

dialog {
  background-color: var(--color-base);
  color: var(--color-font);
  isolation: isolate;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & > button.close {
    position: absolute;
    top: 0em;
    right: 0em;
    height: 1em;
    width: 1em;
    margin: 0.4em;
  }

  &:focus {
    outline: none;
  }

  & > header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: -1px;
    left: 0;
    background-color: inherit;

    & > :first-child {
      flex-grow: 1;
    }

    & > .material-symbols-outlined {
      font-size: 1.2em;

      &:after {
        color: var(--color-font-mid);
        font-size: inherit;
      }
    }

    & button {
      height: 1em;
      width: 1em;
      margin: 0.4em;
    }
  }

  &.dialog {
    position: absolute;
    border: none;
    border-radius: 2px;
    cursor: grab;
    user-select: none;
    padding: 5px;
    overflow: unset !important;

    & > .content {
      & > .filter-list {
        max-height: 350px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  }

  &.modal {
    position: fixed;
    border: none;
    border-radius: 2px;
    text-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.popout .material-symbols-outlined.toggle-on {
    &::after {
      color: var(--color-active);
    }
  }

  &.popout {
    [data-id='popout-btn'] {
      display: none;
    }

    .drawer {
      padding: 2px;
      border: none;
      background-color: var(--color-base-secondary);
      color: var(--color-font);
      box-shadow: none;
    }

    .headerDrag {
      h2 {
        font-weight: normal;
      }
    }
  }

  .minimize-btn::after {
    content: 'minimize';
  }

  &.minimized {
    .content {
      display: none;
    }

    .minimize-btn::after {
      content: 'fullscreen';
    }
  }
}
