.disabled > .drawer {
  opacity: 0.4;
  pointer-events: none;
}

.drawer {
  padding: 2px;
  background-color: var(--color-base-secondary);
  color: var(--color-font);

  &.expandable:not(.empty) > .header:hover {
    cursor: pointer;
  }

  &.expandable.empty > .header > .caret {
    display: none;
  }

  &.expandable > .header > .material-symbols-outlined.caret::after {
    content: 'keyboard_arrow_down';
    color: var(--color-font-mid);
    line-height: 1.5em;
  }

  &.expandable:not(.expanded) > *:not(.header) {
    display: none !important;
  }

  &.expanded > .header > .material-symbols-outlined.caret::after {
    content: 'keyboard_arrow_up';
    color: var(--color-font-mid);
    line-height: 1.5em;
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  & > .header {
    display: flex;
    align-items: center;
    color: var(--color-font);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .material-symbols-outlined {
      font-size: 1.5em;
    }

    & > :not(button):not(label):not(input) {
      pointer-events: none;
    }

    & > div,
    & > button {
      margin-left: 5px;
      width: 1.5em;
      height: 1.5em;
    }

    & > :first-child {
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      flex-grow: 1;
    }
  }

  &.flat {
    border-radius: 2px;
    border: 1px solid var(--color-border);
  }

  &.raised {
    border-radius: 2px;
    box-shadow: 1px 1px 3px var(--color-border);
    border: 1px solid var(--color-border);
  }

  &.raised.empty {
    box-shadow: none;
    border: none;
  }

  &.expandable.expanded {
    box-shadow: none;
    border: none;
  }

  p {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}
