.disabled>.drawer {
  opacity: 0.4;
  pointer-events: none;
}

.drawer {
  padding: 2px;
  background-color: var(--color-light-tertiary);

  &.expandable:not(.empty)>.header:hover {
    cursor: pointer;
  }

  &.expandable.empty>.header>.expander {
    display: none;
  }

  &.expandable>.header>.material-symbols-outlined.expander::after {
    content: "keyboard_arrow_down";
    color: var(--color-primary-light);
  }

  &.expandable:not(.expanded)>*:not(.header) {
    display: none;
  }

  &.expanded>.header>.material-symbols-outlined.expander::after {
    content: "keyboard_arrow_up";
    color: var(--color-primary-light);
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &>.header {
    display: flex;
    align-items: center;

    .material-symbols-outlined {
      font-size: 1.5em;
    }

    &>:not(button):not(label):not(input) {
      pointer-events: none;
    }

    &>div,
    &>button {
      margin-left: 5px;
      width: 1.5em;
      height: 1.5em;
    }

    &>:nth-child(1) {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &>:nth-child(2) {
      margin-left: auto;
    }

  }

  &.flat {
    border-radius: 2px;
    border: 1px solid var(--color-light-secondary);
  }

  &.raised {
    border-radius: 2px;
    box-shadow: 1px 1px 3px var(--color-primary-light);
    border: 1px solid var(--color-light-secondary);
  }

  &.raised.empty {
    box-shadow: none;
    border: none;
  }

  &.expandable.expanded {
    box-shadow: none;
    border: none;
  }

  p {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}