.disabled > .drawer {
  opacity: 0.4;
  pointer-events: none;
}

.drawer {
  padding: 2px;
  margin-top: 2px;
  border-radius: var(--container-border-radius);
  border: 1px solid var(--color-border);
  background-color: var(--color-base-secondary);
  color: var(--color-font);

  &.expandable {
    &:not(.empty) > .header:hover {
      cursor: pointer;
    }

    &.empty > .header > .caret {
      display: none;
    }

    & > .header > .material-symbols-outlined.caret::after {
      content: 'keyboard_arrow_down';
      color: var(--color-font-mid);
      line-height: 1.5em;
    }

    &:not(.expanded) > *:not(.header) {
      display: none !important;
    }
  }

  &.expanded {
    padding-bottom: 5px;

    & > .header {
      border-bottom: solid 1px var(--color-border); /* readability */
      margin-bottom: 7px;

      & > .material-symbols-outlined.caret::after {
        content: 'keyboard_arrow_up';
        color: var(--color-font-mid);
        line-height: 1.5em;
      }
    }
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  & > .header {
    display: flex;
    align-items: center;
    color: var(--color-font);

    .material-symbols-outlined {
      font-size: 1.5em;
    }

    & > :not(button):not(label):not(input) {
      pointer-events: none;
    }

    & > div,
    & > button {
      margin-left: 5px;
      width: 1.5em;
      height: 1.5em;
    }

    & > :first-child {
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      flex-grow: 1;
    }
  }

  p {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}
