.select-dropdown {
  width: 100%;
  background-color: var(--color-base-secondary);
  color: var(--color-font);

  option.selected {
    background-color: var(--color-primary);
    color: var(--color-font-contrast);
  }
}

input[type='search']::-webkit-calendar-picker-indicator {
  display: none !important;
}
