form.login-form {
  padding: 0 0 4em 0;
  .input-group {
    width: 100%;
    padding: 5px 0;
  }

  .asterisk:after {
    content: '*';
    color: var(--color-danger);
  }

  p {
    line-height: 1.5;
  }

  label {
    color: var(--color-font-mid);
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before,
    &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: var(--color-primary);
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }

  input:invalid + .bar:before,
  input:invalid + .bar:after {
    background: var(--color-danger);
  }

  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
  }

  .switch {
    color: var(--color-primary);
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }

  .msg {
    color: var(--color-active);
  }

  button {
    margin: 10px 0;
    padding: 5px 8px;
    border-radius: var(--container-border-radius);
    font-size: 120%;
    min-width: 5em;

    &:hover:enabled {
      cursor: pointer;
      background-color: var(--color-active);
    }
  }
}
