.searchbox {
  width: 100%;
  overflow: visible;
  background-color: var(--color-base-tertiary);
  isolation: isolate;

  & > ul {
    display: none;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 1px 1px 3px var(--color-border);
    margin-top: -1px;
    text-align: left;
    background-color: var(--color-base-tertiary);
    z-index: 4; /* required to layer higher than highest used z-index for slider element */

    & > li {
      padding: 5px;
      color: var(--color-font);
      margin: 0 0.1em;
      border-radius: 2px;
    }

    & > li:hover {
      background-color: var(--color-hover);
      cursor: pointer;
    }

    & > li.selected {
      background-color: var(--color-primary);
      border: 1px solid var(--color-border);
      color: var(--color-font-contrast);
    }

    & .label {
      padding: 0 2px;
      margin-right: 2px;
      border-radius: 2px;
      color: var(--color-font-contrast);
      font-size: 80%;
      font-weight: bold;
      background-color: var(--color-primary);
    }
  }
}

@media print {
  .searchbox {
    box-shadow: none;
  }
}
