.toast {
  position: fixed;
  display: none;
  left: 0;
  bottom: 0;
  width: 100%;
  isolation: isolate;
  background-color: var(--color-base);
  border-top: 1px solid var(--color-border);
  box-sizing: border-box;
  color: var(--color-font);
  font-size: 14px;
  line-height: 1.4;
  padding: 1em 2em;
  text-align: center;
  transform: translateY(100%);

  &[style*='display: block'] {
    animation: 1s ease-in-out 1s forwards showToast;
  }

  &.before-remove {
    animation: 1s ease-in-out forwards hideToast;
  }

  a {
    color: var(--color-primary);
  }

  .actions {
    padding: 0.5em;
  }

  .toast-logo {
    height: 2.5em;
    margin-bottom: 0.5em;

    & img {
      height: 100%;
    }
  }

  button {
    cursor: pointer;
    padding: 0.25em 0.5em 0.2em;
    transition: 300ms all;
    font-size: 100%;
    border-radius: 3px;
    font-weight: bold;
    color: var(--color-font-contrast);
    background-color: var(--color-primary);

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15)
        0px 0px 0px 1px;
    }
  }

  .reject {
    background-color: var(--color-danger);
  }

  .accept {
    background-color: var(--color-info);
  }
}

@keyframes showToast {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes hideToast {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
