<!doctype html>
<html lang="pl">
  <head data-dir="{{dir}}">
    <title>XYZ | Logowanie</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{dir}}/public/icons/favicon.ico"
    >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="{{dir}}/public/views/login/_login.js" defer></script>
    <link rel="stylesheet" href="{{dir}}/public/views/login/_login.css" />
  </head>

  <body class="login_form">
    <select
      id="language"
      onChange="(function(e){location=e.target.value})(event)"
    >
      <option value="{{dir}}?language=pl&login=true">Polski</option>
      <option value="{{dir}}?language=en&login=true">English</option>
      <option value="{{dir}}?language=de&login=true">Deutsch</option>
      <option value="{{dir}}?language=fr&login=true">Français</option>
      <option value="{{dir}}?language=ja&login=true">日本語</option>
      <option value="{{dir}}?language=ko&login=true">한국어</option>
      <option value="{{dir}}?language=zh&login=true">中文简体</option>
    </select>

    <form action="{{dir}}/api/user/login" method="post" autocomplete="off">
      <input style="display: none" name="language" required value="pl" />

      <div class="input-group">
        <input
          id="auth_user_email"
          name="email"
          type="email"
          required
          maxlength="50"
        >
        <span class="bar"></span>
        <label for="auth_user_email">Adres e-mail</label>
      </div>

      <div class="input-group">
        <input
          id="auth_user_password"
          name="password"
          type="password"
          required
          minlength="12"
        >
        <span class="bar"></span>
        <label for="auth_user_password">Hasło</label>
      </div>

      <p class="msg">{{msg}}</p>

      <button id="btnLogin" type="submit" disabled>Zaloguj się</button>

      <p>
        Logowanie jest możliwe po weryfikacji konta za pomocą linku wysłanego we
        wiadomości e-mail, a następnie zatwierdzonego przez administratora.
      </p>
      <a
        class="switch"
        href="{{dir}}/api/user/register?register=true&language=pl"
        >Zarejestruj nowe konto lub zmień hasło.</a
      >
    </form>
  </body>
</html>
