body {
  margin: 0 auto !important;
  padding: 50px;
  max-width: 600px;
  font:
    14px 'Open Sans',
    sans-serif;
}

@media only screen and (max-width: 700px) {
  body {
    padding: 20px;
  }
}

p {
  line-height: 1.5;
}

label {
  color: #555;
}

.input-group {
  width: 100%;
  padding: 5px 0;
}

input {
  font-size: 120%;
  padding: 10px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #afb42b;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:invalid + .bar:before,
input:invalid + .bar:after {
  background: #b71c1c;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

button {
  font-size: 120%;
  color: white;
  background-color: #003d57;
  margin: 10px 0;
  padding: 8px;
  text-align: center;
  border-radius: 3px;
  border: 0;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

button:hover:enabled {
  cursor: pointer;
  color: #ec602d;
  background-color: white;
}

.bold {
  font-weight: bold;
}

.switch {
  color: #003d57;
  font-weight: bold;
}

.switch:hover {
  cursor: pointer;
}

button:disabled {
  background-color: #939faa;
}

.msg {
  color: #ec602d;
}

.mailto {
  color: #401505;
  text-decoration: none;
}

a,
button {
  outline: 0;
}

#language {
  float: right;
  margin-bottom: 20px;
  width: 240px;
  padding: 5px;
  color: #444;
  background-color: #fff;
  border: 1px solid #aaa;
}

#language:hover {
  border-color: #888;
  outline: none;
}

#language:focus {
  border-color: #aaa;
  color: #222;
  outline: none;
}

.language-selector {
  margin-bottom: 2%;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-end;
}
