body {
  margin: 0;
  padding: 50px;
  min-width: 400px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.input-group {
  width: 100%;
  max-width: 500px;
  padding: 5px 0;
}

input {
  padding: 10px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #1F964D;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:invalid+.bar:before,
input:invalid+.bar:after {
  background: orangered;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
  width: 50%;
}

button {
  color: white;
  background-color: #1F964D;
  margin: 10px 0;
  padding: 8px;
  text-align: center;
  font: 18px "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 3px;
  border: 0;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

button:hover:enabled {
  cursor: pointer;
  color: #1F964D;
  background-color: white;
}

.login_form p {
  font-size: 18px;
}

.register_form p {
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.switch {
  font-size: 18px;
  text-decoration: none;
  color: #1F964D;
  font-weight: 700;
}

.switch:hover {
  cursor: pointer;
}

button:disabled {
  background-color: darkslategrey;
}

.msg {
  color: #f57c00;
}

.mailto {
  color: #1F964D;
  text-decoration: none;
}

a,
button {
  outline: 0;
}

#language {
  float: right;
  margin-bottom: 20px;
  width: 240px;
  padding: 5px;
  color: #444;
  background-color: #fff;
  border: 1px solid #aaa;
}

#language:hover {
  border-color: #888;
  outline: none;
}

#language:focus {
  border-color: #aaa;
  color: #222;
  outline: none;
}

#language option {
  font-weight: normal;
}