$glxgreen: #090;
$glxlightgreen: #cf9;
$onyx: #383836;

@font-face {
    font-family: ffmark_black;
    src: url(../../fonts/MarkWeb-Black.woff) format("woff");
}

@font-face {
    font-family: ffmark;
    src: url(../../fonts/MarkWebPro.woff) format("woff");
}

@font-face {
    font-family: ffmark_bold;
    src: url(../../fonts/MarkWebPro-Bold.woff) format("woff");
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url('https://fonts.googleapis.com/css?family=PT+Mono');

@import '../infoj';

@import '../location';

@import '../scrolly';

@import '../leaflet';

@import '../attribution';

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

body {
    font-family: ffmark, sans-serif;
}

a {
    color: $onyx;
    text-decoration: none;
}