$desktop: true;
$desktop: true;
$mobile: false;
$glxgreen: #090;

@font-face {
    font-family: ffmark_black;
    src: url(../../fonts/MarkWeb-Black.woff) format("woff");
}

@font-face {
    font-family: ffmark;
    src: url(../../fonts/MarkWebPro.woff) format("woff");
}

@font-face {
    font-family: ffmark_bold;
    src: url(../../fonts/MarkWebPro-Bold.woff) format("woff");
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import '../button';
* {
    margin: 0;
    padding: 0;
}

@import 'tableview';
@import 'tabulator_simple';

html,
body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding-top: 5px;
}

.xyz_frame {
    width: calc(100% - 200px);
    height: 400px;
    box-shadow: 2px 2px 4px #666;
    margin: auto;
    margin-top: 40px;
    position: relative;
}

.location_info_container {
    width: 300px;
    height: 100%;
    background-color: white;
    z-index: 999;
    position: absolute;
    padding: 20px;
}

.xyz_map {
    position: absolute;
    width: calc(100% - 300px);
    height: 100%;
    left: 300px;
}

.xyz_table {
    position: absolute;
    background-color: #eee;
    width: 100%;
    height: 100%;
}

.legend > svg{
    width: 100%;
}