*{
    margin: 0;
    padding: 0;
}

html, body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding-top: 5px;
} 

#xyz_map {
    width: calc(100% - 200px);
    height: 80%;
    border: 3px solid #090;
    margin: auto;
    margin-top: 80px;
}