.attribution {
  margin-left: 0px !important;
  font-size: 10px;
}

.attribution .logo {
  font-size: 15px;
}

* {box-sizing: border-box;}

.page {
    width: 210mm;
    /* height: 297mm; */
    margin: 0 auto;
    page-break-after: always;
}

.report1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    padding: 5mm;
}

.report2 {
    display: grid;
    grid-gap: 10px;
    padding: 5mm;
}

#xyz_location {
  grid-column: 1;
  grid-row: 1/4;
}

#xyz_map { 
  grid-column: 2;
  grid-row: 1;
  height: 300px;
}

#xyz_table1 {
  grid-column: 2;
  grid-row: 2;
}

#xyz_table2 {
  grid-column: 1;
  grid-row: 1;
}

#xyz_table3 {
  grid-column: 1;
  grid-row: 2;
}

#xyz_table4 {
  grid-column: 1;
  grid-row: 3;
}

.checkbox_i {
  display: none;
}

.checkbox {
  padding: 0;
}

.tr_report {
  display: none;
}

.img_streetview {
  width: 100%;
}