.attribution {
  margin-left: 0px !important;
  font-size: 10px;
}

.attribution .logo {
  font-size: 15px;
}

* {box-sizing: border-box;}

.page {
   width: 297mm; /* landscape orientation */
   height: 200mm;
   /* width: 210mm;*/
    /* height: 297mm; */
    margin: 0 auto;
    page-break-after: auto;
}

.page:last-child {
  page-break-after: auto;
}

.page h3 {
  margin: 20px;
}

.report1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    padding: 5mm;
}

.report2 {
    display: grid;
    grid-gap: 10px;
    padding: 5mm;
}

.tr_report {
  display: none;
}

.tr_tableview {
  display: none;
}