body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body>div {
    padding: 40px;
}

.material-icons {
    font-size: 40px !important;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
    text-align: left;
}

th .material-icons:hover {
    cursor: help;
}

.email_field {
    padding: 11px 10px 0 0;
}

.failedattempts {
    padding: 11px 0 0 0;
    text-align: center;
    color: red;
    font-weight: 800;
}

.delete_account {
    cursor: pointer;
    padding: 10px 0px 0px 0px;
}

.checkbox {
    padding: 5px 0 5px 25px;
    position: relative;
    cursor: pointer;
    display: block;
}

.checkbox input[type=checkbox] {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    display: none;
}

.checkbox .checkbox_i {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    font-size: 22px;
    cursor: pointer;
}

.checkbox .checkbox_i:after {
    font-family: "Material Icons";
    content: '\E836';
    padding-left: 8px;
}

.checkbox input[type=checkbox]:checked+.checkbox_i:after {
    font-family: "Material Icons";
    content: '\E837';
    padding-left: 8px;
}

.checkbox input[type=checkbox]:disabled+.checkbox_i:after {
    color: #999;
}