body {
    margin: 40px;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.material-icons {
    font-size: 40px !important;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}