<!doctype html>
<html lang="ja">
  <head data-dir="{{dir}}">
    <title>XYZ | 登録</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{dir}}/public/icons/favicon.ico"
    >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="{{dir}}/public/views/register/_register.js" defer></script>
    <link rel="stylesheet" href="{{dir}}/public/views/register/_register.css" />
  </head>

  <body class="register_form">
    <form method="post">
      <input style="display: none" name="language" required value="ja" />

      <input style="display: none" name="register" value="true" />

      <div class="input-group">
        <input
          id="auth_user_email"
          name="email"
          type="email"
          autocomplete="off"
          required
          maxlength="50"
          value=""
        >
        <span class="bar"></span>
        <label for="auth_user_email">E-メール</label>
      </div>

      <div class="input-group">
        <input
          id="auth_user_password"
          name="password"
          type="password"
          autocomplete="off"
          required
          pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])^.{12,}$"
          value=""
        >
        <span class="bar"></span>
        <label for="auth_user_password">新規パスワード（10文字以上）</label>
      </div>

      <div class="input-group">
        <input
          id="auth_user_password_retype"
          type="password"
          autocomplete="off"
          required
          value=""
        >
        <span class="bar"></span>
        <label for="auth_user_password_retype">パスワード再入力</label>
      </div>

      <br>

      <p class="bold">プライバシー</p>

      <p>
        Geolytixは提供された顧客情報を厳重に取り扱い、当社が顧客依頼に基づく各種商品サービス提供のために
        顧客管理上必要な個人情報のみを利用し、同情報の第三者への提供は行わない。
      </p>

      <p>
        アドミニストレーターによりアカウントを無効と出来るが永久的に削除するには「<a
          class="mailto"
          href="mailto:support@geolytix.co.uk"
          >support@geolytix.co.uk</a
        >a>」にメール依頼連絡
      </p>

      <p>
        "ウェブサイトはGeolytix（ 所在地：The Finsbury Business Centre, 40
        Bowling Green Lane, London EC1R 0NE） の所有及び運営による"
      </p>

      <label class="checkbox">
        <input id="privacy_agreement" type="checkbox" />
        <div></div>
        <span>同意する</span>
      </label>

      <button id="btnRegister" type="submit" formaction="register" disabled>
        登録 またはパスワードのリセット
      </button>

      <p class="bold">次のステップは？ アカウントの確認</p>

      <p>
        提供されたE-メールアドレス宛に「<a
          class="mailto"
          href="mailto:xyz@geolytix.co.uk"
          >xyz@geolytix.co.uk</a
        >」よりアカウント検証リンク付きのメールが送信される。
      </p>

      <p>
        数分してもメールが受信されない場合はスパム/ジャンクホールダーを確認し、
        「<a class="mailto" href="mailto:xyz@geolytix.co.uk"
          >xyz@geolytix.co.uk</a
        >」を受診可能な安全な送信元リストに追加して下さい。
      </p>

      <p>
        アカウント検証完了後にサイトアドミニストレーターにより新規アカウントが承認され、
        新規アカウント設定完了メールが送信される。
      </p>

      <a class="switch" href="{{dir}}/public/?login&language=ja"
        >登録完了の場合→ログイン</a
      >
    </form>
  </body>
</html>
