<!doctype html>
<html lang="fr">
  <head data-dir="{{dir}}">
    <title>XYZ | Enregistrement</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{dir}}/public/icons/favicon.ico"
    >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="{{dir}}/public/views/register/_register.js" defer></script>
    <link rel="stylesheet" href="{{dir}}/public/views/register/_register.css" />
  </head>

  <body class="register_form">
    <form method="post">
      <input style="display: none" name="language" required value="fr" />

      <input style="display: none" name="register" value="true" />

      <div class="input-group">
        <input
          id="auth_user_email"
          name="email"
          type="email"
          autocomplete="off"
          required
          maxlength="50"
          value=""
        >
        <span class="bar"></span>
        <label for="auth_user_email">E-mail</label>
      </div>

      <div class="input-group">
        <input
          id="auth_user_password"
          name="password"
          type="password"
          autocomplete="off"
          required
          pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])^.{12,}$"
          value=""
        >
        <span class="bar"></span>
        <label for="auth_user_password">
          Le nouveau mot de passe (au moins 12 caractères)
        </label>
      </div>

      <div class="input-group">
        <input
          id="auth_user_password_retype"
          type="password"
          autocomplete="off"
          required
          value=""
        >
        <span class="bar"></span>
        <label for="auth_user_password_retype">Revalider le mot de passe</label>
      </div>

      <br>

      <p class="bold">Confidentialité</p>

      <p>
        Ici à Geolytix nous prenons très au sérieux votre confidentialité. Nous
        utilisons vos données personnelles pour gérer votre compte et vous
        fournir les produits et services requis. Nous ne partagerons jamais vos
        informations avec des tiers.
      </p>

      <p>
        Désactivation d'un compte peut être effectuée par l'administrateur. Si
        vous souhaitez supprimer définitivement vos coordonnées veuillez nous
        contacter à
        <a class="mailto" href="mailto:support@geolytix.co.uk"
          >support@geolytix.co.uk</a
        >
      </p>

      <p>
        Le propriétaire et exploiteur de ce site est Geolytix dont le siège
        social se trouve à The Finsbury Business Centre, 40 Bowling Green Lane,
        Londres EC1R 0NE, Royaume-Uni
      </p>

      <label class="checkbox">
        <input id="privacy_agreement" type="checkbox" />
        <div></div>
        <span>J'accepte</span>
      </label>

      <button id="btnRegister" type="submit" formaction="register" disabled>
        S'enregistrer ou réinitialiser son mot de passe
      </button>

      <p class="bold">Maintenant, confirmez votre compte.</p>

      <p>
        Un e-mail de
        <a class="mailto" href="mailto:xyz@geolytix.co.uk"
          >xyz@geolytix.co.uk</a
        >
        sera automatiquement expédié à l'adresse entrée avec un lien de
        vérification.
      </p>

      <p>
        Si l'email n'arrivera encore pas en quelques minutes s'il vous plaît
        vérifier le spam dans votre boîte e-mail. Veuillez ajouter
        <a class="mailto" href="mailto:xyz@geolytix.co.uk"
          >xyz@geolytix.co.uk</a
        >
        à la liste d'expéditeurs de confiance.
      </p>

      <p>
        Après vérification l'administrateur approuvera tous les nouveaux
        comptes. Vous recevrez un autre email dès que votre compte sera
        approuvé.
      </p>

      <a class="switch" href="{{dir}}/public/?login&language=fr"
        >Déjà enregistré? Se connecter.</a
      >
    </form>
  </body>
</html>
