<!doctype html>
<html lang="zh">
  <head data-dir="{{dir}}">
    <title>XYZ | 注册</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{dir}}/public/icons/favicon.ico"
    >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="{{dir}}/public/views/register/_register.js" defer></script>
    <link rel="stylesheet" href="{{dir}}/public/views/register/_register.css" />
  </head>

  <body class="register_form">
    <form method="post">
      <input style="display: none" name="language" required value="zh" />

      <input style="display: none" name="register" value="true" />

      <div class="input-group">
        <input
          id="auth_user_email"
          name="email"
          type="email"
          autocomplete="off"
          required
          maxlength="50"
          value=""
        >
        <span class="bar"></span>
        <label for="auth_user_email">电子邮件</label>
      </div>

      <div class="input-group">
        <input
          id="auth_user_password"
          name="password"
          type="password"
          autocomplete="off"
          required
          pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])^.{12,}$"
          value=""
        >
        <span class="bar"></span>
        <label for="auth_user_password">新密码（最少8个字符）</label>
      </div>

      <div class="input-group">
        <input
          id="auth_user_password_retype"
          type="password"
          autocomplete="off"
          value=""
        >
        <span class="bar"></span>
        <label for="auth_user_password_retype">再次输入密码</label>
      </div>

      <br>

      <p class="bold">隐私条款</p>

      <p>
        Geolytix会认真对待您的隐私，仅会使用您的个人信息来管理您的帐户并提供相应产品和服务。我们绝不会与第三方共享您的个人数据。
      </p>

      <p>
        可以通过管理员来禁用您的帐户，但是如果您希望永久删除您的详细信息，请发送电子邮件至<a
          class="mailto"
          href="mailto:support@geolytix.co.uk"
          >support@geolytix.co.uk</a
        >
      </p>

      <p>
        该网站由Geolytix所有和运营，其主要营业地点位于 The Finsbury Business
        Centre, 40 Bowling Green Lane, London EC1R 0NE
      </p>

      <label class="checkbox">
        <input id="privacy_agreement" type="checkbox" />
        <div></div>
        <span>我同意</span>
      </label>

      <button id="btnRegister" type="submit" formaction="register" disabled>
        注册或重置密码
      </button>

      <p class="bold">接下来发生什么？确认您的帐户</p>

      <p>
        我们将会通过<a class="mailto" href="mailto:xyz@geolytix.co.uk"
          >xyz@geolytix.co.uk</a
        >向您提供的电子邮件地址发送一封电子邮件，其中包含一个可验证您的帐户的链接
      </p>

      <p>
        如果几分钟后仍未收到通知邮件，请检查所有垃圾邮件/垃圾文件夹，并将<a
          class="mailto"
          href="mailto:xyz@geolytix.co.uk"
          >xyz@geolytix.co.uk</a
        >添加到您的安全发件人列表中，确保消息通过。
      </p>

      <p>
        验证后，网站管理员将批准新帐户。您的帐户获得批准后，您将收到另一封电子邮件。
      </p>

      <a class="switch" href="{{dir}}/public/?login&language=zh"
        >已经注册了？请登录</a
      >
    </form>
  </body>
</html>
