body {
  margin: 0 auto !important;
  padding: 50px;
  max-width: 600px;
  font:
    14px 'Open Sans',
    sans-serif;
}

@media only screen and (max-width: 700px) {
  body {
    padding: 20px;
  }
}

p {
  line-height: 1.5;
}

label {
  color: #555;
}

.input-group {
  width: 100%;
  margin: 5px 0;
}

input {
  padding: 10px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 120%;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #afb42b;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:invalid + .bar:before,
input:invalid + .bar:after {
  background: #b71c1c;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

button {
  color: white;
  background-color: #003d57;
  margin: 10px 0;
  padding: 8px;
  text-align: center;
  font:
    18px 'Open Sans',
    sans-serif;
  font-weight: bold;
  border-radius: 3px;
  border: 0;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.bold {
  font-weight: bold;
}

.switch {
  font-size: 120%;
  color: #003d57;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  color: #ec602d;
  background-color: white;
}

button:disabled {
  background-color: #939faa;
}

.msg {
  color: #ec602d;
}

.mailto {
  color: #401505;
  text-decoration: none;
}

.checkbox {
  display: block;
}

.checkbox input {
  display: none;
}

.checkbox > span {
  display: inline-block;
  vertical-align: middle;
}

.checkbox > div {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z'/%3E%3C/svg%3E");
}

input:checked + div {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'/%3E%3C/svg%3E");
}

#btnRegister {
  display: block;
}
