.drag_and_drop_zone {
  width: 100%;
  border: 1px dashed var(--color-border);
  position: relative;
  height: 100px;

  input {
    top: 0;
    position: absolute;
    outline: none;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }

  p {
    margin: auto;
    text-align: center;
    color: var(--color-font);
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & > span {
      vertical-align: middle;
      margin: 0.2em;
      font-size: 1.5em;
    }
  }
}

.img-item {
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .delete {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 1.5em;
    background-color: var(--color-base-secondary);
    padding: 0.1em;
    border-radius: 50%;
  }
}

.images-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;

  & > div:first-child {
    width: 100%;
    height: 180px;
  }

  & > div {
    position: relative;
    width: 90px;
    height: 90px;
    flex-grow: 1;
  }
}
