#ctrls-divider {
  grid-row: 1 / 4;
  grid-column: 2;
  background-color: var(--color-base-secondary);
  background-image: url('../../icons/pill-vertical.svg');
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 3px 0px 6px -3px var(--color-base-tertiary);
  z-index: 9999;

  &:hover {
    cursor: col-resize;
  }
}

#tabview-divider {
  position: relative;
  grid-row: 2;
  grid-column: 3;
  background-image: url('../../icons/pill-horizontal.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-base-tertiary);
  box-shadow: 0px -1px 6px -3px var(--color-base-tertiary);

  &:hover {
    cursor: row-resize;
  }
}

@media only screen and (max-width: 768px) {
  #ctrls-divider {
    display: none;
  }
}
