.infotip {
  position: fixed;
  isolation: isolate;
  margin: 0;
  padding: 5px;
  background-color: var(--color-base-tertiary);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-delay: 0.2s;
}
