.drawer.layer-group,
.drawer.layer-view {
  margin-top: 7px;
  border-radius: 3px;

  & > .header {
    & ~ .drawer.layer-view {
      margin-top: 0;
    }
    & ~ .drawer.layer-view ~ .drawer.layer-view {
      margin-top: 7px;
    }
  }

  & > .meta {
    padding-bottom: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &.expanded {
    padding-bottom: 5px;
  }
}

.drawer.layer-view {
  padding-left: 5px;
  padding-right: 5px;

  & > *:not(.header) {
    margin-top: 5px;
  }

  > .header {
    .material-symbols-outlined {
      font-size: 1.5em;
    }

    h2 {
      font-weight: normal;
    }
  }
}

.drawer.layer-group {
  padding-left: 3px;
  padding-right: 3px;
  background: var(--color-base-tertiary);

  & > * {
    padding-left: 4px;
  }
}

#layers > .drawer.layer-group .drawer.layer-view {
  background: var(--color-base-tertiary);
  border: none;
  box-shadow: none;
  border-top: 1px solid var(--color-border);
}

#layers > .layer-view > .drawer,
#layers .drawer.layer-view .drawer {
  border: none;
  box-shadow: none;
}

#layers > .layer-view > .drawer {
  background: var(--color-base-tertiary);
}
