.layer-group,
.layer-view {
  margin-top: 7px;
  border-radius: 3px;

  & > .meta {
    padding-bottom: 5px;
  }
}

.layer-group {
  padding-left: 3px;
  padding-right: 3px;
  background: var(--color-base-secondary);
  box-shadow: var(--container-box-shadow);
  border: none;

  & > * {
    padding-left: 4px;
  }
}

.layer-view {
  background: var(--color-base-quartenary);
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid var(--color-border);

  & > *:not(.header) {
    margin-top: 5px;
  }

  h2 {
    font-weight: normal;
  }
}
