.layer-group {
  background: var(--color-base-secondary);
  box-shadow: var(--container-box-shadow);
  border: none;
}

.layer-view {
  background: var(--color-base-layout);

  & > *:not(.header) {
    margin-top: 5px;
  }
}
