a.mask-icon,
a > .mask-icon {
  background-color: var(--color-primary);
}

button {
  &.mask-icon,
  & > .mask-icon {
    background-color: var(--color-primary);
  }

  &.mask-icon.active,
  &.active > .mask-icon,
  & > .mask-icon.active {
    background-color: var(--color-on);
  }
}

.drawer {
  &.expandable.empty > .header > .mask-icon.expander {
    display: none;
  }

  &.expandable > .header > .mask-icon.expander {
    -webkit-mask-image: url('../../icons/icon-arrow-down.svg');
    mask-image: url('../../icons/icon-arrow-down.svg');
  }

  &.expandable:not(.expanded) > *:not(.header) {
    display: none;
  }

  &.expanded > .header > .mask-icon.expander {
    -webkit-mask-image: url('../../icons/icon-arrow-up.svg');
    mask-image: url('../../icons/icon-arrow-up.svg');
  }
}

html.dark-mode {
  .mask-icon {
    background: var(--color-light-secondary);

    &:hover {
      background-color: var(--dm-color-dark-faded);
    }

    &.toggle {
      background-color: var(--dm-color-light);

      &.on {
        background-color: var(--dm-color-on);
      }
    }

    &.active {
      background-color: var(--dm-color-on);
    }

    &.disabled {
      background-color: var(--dm-color-medium);
    }
  }
}
