.location-view.drawer {
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--color-base-tertiary);
}

.location-view-grid {
  display: grid;
  align-items: stretch;
  grid-gap: 5px 10px;
  padding: 5px 0;
  grid-template-columns: 1fr 1fr;

  & pre {
    background-color: var(--color-base-secondary);
  }

  & .contents {
    display: contents;

    &:not(.inline) > * {
      grid-column: 1 / 3;
    }

    &.inline > .label {
      grid-column: 1;
    }

    &.inline > div:nth-of-type(2) {
      grid-column: 2;
      min-width: 0;
    }

    &.inline > .val {
      grid-column: 2;
      text-align: right;
      word-break: break-word;
    }
  }

  & .label {
    align-items: center;
    display: flex;
    font-weight: bold;
  }

  & .label > .tooltip {
    -webkit-user-select: none;
    user-select: none;
    height: 1.5em;
    width: 1.5em;
    font-size: inherit;
  }

  & .drawer.group {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px 10px;
    border-bottom: 1px solid var(--color-border);
    padding: 0;

    & > .header {
      grid-column: 1 / 3;
      background-color: var(--color-primary);
      color: var(--color-font-contrast);
      border-radius: 3px;
      padding: 0 0.5em;

      & > .caret::after {
        color: var(--color-font-contrast);
      }
    }

    & .label,
    & .val {
      margin-left: 1em;
    }
  }

  & .layer-key {
    float: right;
    padding: 3px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 0.8em;
    background-color: var(--color-base-secondary);

    &.active {
      background-color: var(--color-active);
    }
  }

  & .textarea {
    white-space: break-spaces;
  }

  & .dataview {
    text-align: left;
  }

  > .contents.image .trash {
    position: absolute;
    width: 2em;
    height: 2em;
    right: 0.5em;
    top: 0.5em;
  }
}

.flex-spacer {
  display: flex;
  align-items: center;

  & > :first-child {
    flex-grow: 1;
  }
}
