.ol-scale-line {
  position: static;
  background: none;
}

.ol-scale-line-inner {
  border: 2px solid var(--color-font);
  border-top: none;
  color: var(--color-font);
  text-align: center;
  margin: 1px;
  will-change: contents, width;
}

.ol-unselectable,
.ol-viewport {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.ol-zoom {
  top: 0.5em;
  left: 0.5em;

  & .ol-zoom-in,
  & .ol-zoom-out {
    border-radius: 2px 2px 0 0;
  }
}

.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;

  & button {
    display: block;
    margin: 1px;
    padding: 0;
    color: var(--color-font-contrast);
    font-weight: 700;
    text-decoration: none;
    font-size: inherit;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: 0.4em;
    background-color: rgba(0, 60, 136, 0.5);
    border: none;
    border-radius: 2px;
  }
}
