.popup {
  position: absolute;
  background-color: var(--color-base-tertiary);
  color: var(--color-font);
  border: solid 1px var(--color-border);
  bottom: 12px;
  transform: translate(-50%, 0);

  &::after,
  &::before {
    border: solid transparent;
    content: ' ';
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-top-color: var(--color-border);
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
  }

  & li {
    padding: 5px 10px;
    white-space: nowrap;
    line-height: 1.5;
    list-style-type: none;
  }

  & li:hover {
    background-color: var(--color-base-secondary);
    cursor: pointer;
  }

  .list {
    max-width: 66vw;
    max-height: 300px;
    overflow-x: hidden;
  }
}
