.tabview {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--color-base-tertiary);
  display: grid;
  grid-template-rows: 3em auto;

  &.disabled::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-base-tertiary);
    opacity: 0.7;
  }

  & > .tabs {
    width: 100%;
    height: inherit;
    overflow-x: auto;
    display: flex;
    background-color: var(--color-base);

    & > .tab > .header {
      color: var(--color-primary);
      min-width: 8em;
      height: 100%;
      display: flex;
      align-items: center;
      white-space: nowrap;
      border: solid 1px var(--color-border);
      border-radius: 3px 1em 0 0;
      padding: 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    & > .tab.active > .header {
      background-color: var(--color-base-tertiary);
      font-weight: bold;
    }

    & > .tab:not(.active) > .header:hover {
      cursor: pointer;
    }
  }

  & > .panel {
    position: relative;
    background-color: var(--color-base);

    & > .flex-col {
      background-color: var(--color-base-secondary);
      position: absolute;
      width: 100%;
      height: 100%;
    }

    & .dataview-target {
      background-color: var(--color-base);
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }

    & > .dataview-target {
      position: absolute;
    }
  }

  & .dropdown > ul {
    position: fixed;
  }
}
