.btn-column {
  position: absolute;
  top: 0;
  display: grid;
  grid-auto-rows: minmax(min-content, 4em);
  padding: 0.7em;
  overflow: scroll;
  max-height: 100%;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & span {
    line-height: normal;
  }

  & button,
  & > div,
  & > a {
    margin-bottom: 10px;
    background-color: var(--color-base-tertiary);
    box-shadow: 1px 1px 3px var(--color-base-tertiary);
    border-radius: 50%;
    opacity: 0.9;
    padding: 5px;
    width: 3em;
    height: 3em;
    text-align: center;
  }

  & a > div,
  & button > div {
    height: 100%;
  }

  & button:disabled,
  & a:disabled {
    cursor: not-allowed;
  }
}

.btn-row {
  display: flex;

  & > * {
    margin: 10px 5px;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
