.btn-column {
  display: grid;
  grid-auto-rows: minmax(min-content, 4em);
  padding: 0.7em;
  pointer-events: none;

  & > * {
    pointer-events: auto;
  }

  & span {
    line-height: normal;
  }

  & button,
  & > div,
  & > a {
    margin-bottom: 10px;
    background-color: var(--color-base-tertiary);
    box-shadow: 1px 1px 3px var(--dm-color-medium);
    border-radius: 50%;
    opacity: 0.9;
    padding: 5px;
    width: 3em;
    height: 3em;
    text-align: center;
  }

  & a > div,
  & button > div {
    height: 100%;
  }

  & button:disabled,
  & a:disabled {
    cursor: not-allowed;
  }
}

@media only screen and (min-width: 768px) {
  .btn-column {
    position: absolute;
    height: 100%;
    grid-row: 1 / 4;
    grid-column: 3;
    opacity: 0.8;
  }
}

@media only screen and (max-width: 768px) {
  .btn-column {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.btn-row {
  display: flex;

  & > * {
    margin: 10px 5px;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.interface-mask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #eeea;

  & > .bg-image {
    margin: 5%;
    height: 90%;
    width: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    & > .btn-close {
      position: absolute;
      top: 5%;
      right: 5%;
      width: 50px;
      height: 50px;
      background-color: var(--color-no);
    }
  }
}
